@import "./variables";
@import "../../../theme/device/mixins";

@mixin iheid--field--type--logos() {
  .field__items {
    display: flex;
    flex-direction: row;

    .field__item {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      @include iheid--theme--device--medium() {
        margin-right: 20px;
      }

      &.main-small {
        @include iheid--theme--device--medium() {
          display: none;
        }
      }

      &.main-large {
        display: none;

        @include iheid--theme--device--medium() {
          display: initial;
        }
      }
    }
  }
}