{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Margin decorator</div>
    <div class="demo--content">
        {% for name in ['nano', 'micro', 'mini', 'small', 'medium', 'large', 'auto'] %}
            {% for side in [null, 'top', 'end', 'bottom', 'start'] %}
                {% if (name != 'auto' or (side != 'top' and side != 'bottom')) %}
                    <div class="test-case {{ name }}">
                        <header>{{ name }} {% if side %}{{ side }} only {% endif %}</header>
                        <div class="content">
                            {% include "@Test/decorator/margin/basic/test.html.twig" with {
                                name: name,
                                side: side
                            } only %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
