@import "../../../demo";
@import "./test";

.demo--decorator--margin {
  .test-case {
    background-color: brown;

    .content {
      > div {
        background-color: darkgray;
        text-align: center;

        > div {
          background-color: steelblue;
          height: 64px;
        }
      }
    }

    &.auto {
      .content {
        > div {
          width: 50%;
        }
      }
    }
  }
}
