@import "../../../theme/color/variables";
@import "../../../theme/device/mixins";

@mixin iheid--entity--paragraph--type--file-download() {
  background: $iheid--theme--color--even-background;
  padding: 30 / $iheid--theme--font--base-font-size * 1em;
}