{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Object-fit decorator</div>
    <div class="demo--content">
        {% for mode in ['fill', 'contain', 'cover', 'scale-down'] %}
            <div class="test-case mode {{ mode }}">
                <header>{{ mode|title }}</header>
                <div class="content">
                    {% for containerFormat in ['portrait', 'landscape', 'square'] %}
                        {% for contentFormat in ['portrait', 'landscape', 'square'] %}
                            <div class="test-case format {{ containerFormat }}">
                                <header>{{ contentFormat }} on {{ containerFormat }}</header>
                                <div class="content">
                                    {% for contentSize in ['bigger', 'smaller'] %}
                                        <div class="test-case size {{ contentSize }}">
                                            <header>{{ contentSize }}</header>
                                            <div class="content constrainer {{ containerFormat }}">
                                                <img src="{{ data.image(contentFormat, contentSize) }}"
                                                     class="iheid--decorator--object-fit--{{ mode }}">
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
