@import "../../../demo";
@import "./test";

.demo--decorator--object-fit {
  .demo--content {
    .test-case {
      &.mode {
        .test-case {
          margin: 0;
        }

        > .content {
          padding: 10px;
          overflow-x: scroll;
          white-space: nowrap;

          > .test-case {
            display: inline-block;

            > .content {
              display: inline-block;
            }
          }
        }
      }

      &.format {
        > .content {
          padding: 10px;
        }
      }

      &.size {
        display: inline-block;

        .content {
          display: block;

          &.portrait {
            width: 320px;
            height: 640px;
          }

          &.landscape {
            width: 640px;
            height: 320px;
          }

          &.square {
            width: 320px;
            height: 320px;
          }
        }
      }
    }

    img {
      display: block;
    }
  }
}
