{#
/**
 * @file field--children-content.html.twig
 * Theme override for a children content field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items, sorted by descending relevance. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - show_all: Optional show all panel. Contains the following items:
 *   - body: The body as an HTML string.
 *   - link: The rendered link.
 *
 * @see iheid_research_project_preprocess_children_content()
 */
#}
{% set classes = [
    'iheid--field',
    'iheid--field--name-' ~ context.field_name|clean_class,
    'iheid--field--type-children-content',
    'iheid--field--label-' ~ context.label_display
] %}
<div{{ attributes.addClass(classes) }}>
    <div class="field__items">
        {% for item in items %}
            <div class="field__item">
                {{ item.content }}
            </div>
        {% endfor %}
    </div>
</div>