@import "./variables";
@import "../../../decorator/margin/mixins";

@mixin iheid--field--type--children-content() {
  > .field__items {
    @include iheid--theme--device--medium() {
      display: flex;
    }

    > .field__item {
      @include iheid--theme--device--medium() {
        width: percentage(1/3);
        display: block;
        @include iheid--decorator--margin--axis(nano, horizontal);

        &:first-child {
          @include iheid--decorator--margin(none, start);
        }

        &:last-child {
          @include iheid--decorator--margin(none, end);
        }
      }
    }
  }
}