{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Alignment decorators</div>
    <div class="demo--content">
        {% for name in ['start', 'center', 'end'] %}
            <div class="test-case {{ name }}">
                <header>{{ name|title }}</header>
                <div class="content">
                    {% include "@Test/decorator/alignment/basic/test.html.twig" with {
                        name: name
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
