{#
/**
 * @file field--related-content.html.twig
 * Theme override for a related content field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 *   - active: Wheter the item is the active item.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see iheid_research_project_preprocess_related_content()
 */
#}

{% set classes = [
    'iheid--field',
    'iheid--field--name-' ~ field_name|clean_class,
    'iheid--field--type-related-content',
    'iheid--field--label-' ~ label_display
] %}
<div{{ attributes.addClass(classes) }}">
<ul class="field__items">
    {% for item in items %}
        <li class="field__item {{ item.type }} {% if item.active %}active{% endif %}">
            {{ item.content }}
        </li>
    {% endfor %}
</ul>
</div>
