@import "./variables";
@import "../../../decorator/padding/mixins";
@import "../../../theme/color/variables";
@import "../../../navigation/menu/mixins";

@mixin iheid--field--type--related-content() {
  @include iheid--navigation--menu;
  display: block;

  > .field__items {
    > .field__item {
      @include iheid--decorator--padding(micro);
      border: solid 1px $iheid--theme--color--secondary;
      background-color: $iheid--theme--color--secondary;
      margin-bottom: 1px;

      &.active {
        color: $iheid--theme--color--primary;
      }

      &.content {
        background-color: $iheid--theme--color--secondary-light;
      }
    }
  }
}