{#
/**
 * @file contact-list.html.twig
 * Theme override for a list of contact.
 *
 * Available variables:
 * - body: The body of the list as raw HTML.
 * - service_url: The URL to the web service that returns the contacts list.
 */
#}
<div class="iheid--misc--contact-list" data-ws-url="{{ service_url }}">
    <div class="body">
        {{ body|raw }}
    </div>
    <div class="content"></div>
</div>