{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Image</div>
    <div class="demo--content">
        {% for image_style in [
            'thumbnail',
            'thumbnail_medium',
            'thumbnail_large',
            'large',
            'us_letter_medium',
            'us_letter_large',
            'small_card_banner',
            'small_card_banner_thick',
            'small_card_banner_thin',
        ] %}
            <div class="test-case">
                <header>{{ image_style }} image style</header>
                <div class="content">
                    {{ render_image(data.image, image_style) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
