{# todo: basic and naive image style support #}
{% if (image_style == "thumbnail") %}
    {% set image = resized_image(image.src, 'crop', {
        width: 100,
        height: 100
    }) %}
{% endif %}

{% if (image_style == "thumbnail_medium") %}
    {% set image = resized_image(image.src, 'crop', {
        width: 150,
        height: 150
    }) %}
{% endif %}

{% if (image_style == "thumbnail_large") %}
    {% set image = resized_image(image.src, 'crop', {
        width: 240,
        height: 240
    }) %}
{% endif %}

{% if (image_style == "large") %}
    {% set image = resized_image(image.src, 'crop', {
        width: 400,
        height: 400
    }) %}
{% endif %}

{% if (image_style == "book_cover_medium") %}
    {% set image = resized_image(image.src, 'height', {height: 200}) %}
{% endif %}

{% if (image_style == "book_cover_large") %}
    {% set image = resized_image(image.src, 'height', {height: 400}) %}
{% endif %}

{% include "@Src/system/image/index.html.twig" with {
    attributes: drupal_attribute({
        src: image.src,
        width: image.width,
        height: image.height
    }),
    style_name: image_style
} only %}
