{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Homepage</div>
    <div class="demo--content">
        {% include "@Test/layout/page/basic/test.html.twig" with {
            entity: data.entity,
            banner: render_entity(data.animated_banner, 'full')
        } only %}
    </div>
{% endblock %}