{#
/**
 * @file field--category-slider.html.twig
 * Theme override for a category slider field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items, sorted by descending relevance. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - show_all: Optional show all panel. Contains the following items:
 *   - body: The body as an HTML string.
 *   - link: The rendered link.
 *
 * @see iheid_research_project_preprocess_category_slider()
 */
#}
{% set classes = [
    'iheid--field',
    'iheid--field--name-' ~ field_name|clean_class,
    'iheid--field--type-category-slider',
    'iheid--field--label-' ~ label_display
] %}

{% macro render_content(content, show_all) %}
    {% if show_all %}
        <div class="show-all-link">
            {{ show_all.link }}
        </div>
    {% endif %}
    <div class="field__items slides">
        {{ content }}
    </div>
    <div class="navigation-arrows"></div>
    <div class="navigation-dots"></div>
{% endmacro %}

{% macro render_show_all(show_all) %}
    <div class="group">
        <div class="body">{{ show_all.body }}</div>
        <div class="link">{{ show_all.link }}</div>
    </div>
{% endmacro %}

{% import _self as macros %}

<div{{ attributes.addClass(classes) }}>
    <div class="slider">
        {% set slides %}
            {% for item in items %}
                <div class="slide {% if (loop.index0 == 0) %}most-relevant{% endif %}">
                    <div class="slide__item">
                        {{ item.content }}
                    </div>
                </div>
            {% endfor %}
            {#{% if show_all %}#}
            {#<div class="slide">#}
            {#<div class="slide__item show-all-panel">#}
            {#{{ macros.render_show_all(show_all) }}#}
            {#</div>#}
            {#</div>#}
            {#{% endif %}#}
        {% endset %}

        {{ macros.render_content(slides, show_all) }}
    </div>
    <div class="slider batched">
        {% set slides %}
            {% for batch in [
                items|slice(0, 3),
                items|slice(3, 4)
            ] %}
                {% set batch_loop = loop %}
                <div class="slide">
                    <div class="slide__items">
                        {% for item in batch %}
                            <div class="slide__item {% if (batch_loop.index0 ==0) and (loop.index0 == 0) %}most-relevant{% endif %}">
                                {{ item.content }}
                            </div>
                        {% endfor %}
                        {#{% if show_all and batch_loop.last %}#}
                        {#<div class="slide__item show-all-panel">#}
                        {#{{ macros.render_show_all(show_all) }}#}
                        {#</div>#}
                        {#{% endif %}#}
                    </div>
                </div>
            {% endfor %}
        {% endset %}

        {{ macros.render_content(slides, show_all) }}
    </div>
</div>
