@import "./variables";
@import "../../../ui/slider/mixins";
@import "../../../decorator/margin/mixins";
@import "../../../ui/link/mixins";
@import "../../../decorator/border/mixins";
@import "../../../decorator/padding/mixins";

@mixin iheid--field--type--category-slider() {
  @include iheid--ui--slider;

  .slider {
    position: relative;

    @include iheid--theme--device--medium {
      display: none;
    }

    .slick-track {
      align-items: normal;
    }

    .slide__item {
      &.show-all-panel {
        background-color: $iheid--theme--color--secondary-light;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        @include iheid--decorator--border;
        @include iheid--decorator--padding(mini);
        box-sizing: border-box;

        .body {
          line-height: 1.38;
        }

        .link {
          @include iheid--decorator--margin(small, top);
        }
      }
    }

    &.batched {
      display: none;

      @include iheid--theme--device--medium {
        display: block;
      }

      .slide__items {
        display: flex;
      }

      .slide__item {
        @include iheid--decorator--margin--axis(nano, horizontal);

        width: percentage(1/4);

        &.most-relevant {
          width: percentage(1/2);
        }

        &.show-all-panel {
          height: auto;
        }
      }
    }

    .show-all-link {
      text-align: right;
      @include iheid--decorator--margin(micro, bottom);
      transition: opacity 0.150s;
      position: relative;
      z-index: 1;

      @include iheid--theme--device--medium {
        @include iheid--decorator--margin(medium, end);
      }
    }

    &.last {
      .show-all-link {
        opacity: 0;
      }
    }
  }
}