{% import "@Test/demo.html.twig" as macros %}

{# full view mode #}
{% set view_mode = view_mode('full', [
    field_group('view-group', {name: 'root', decorators: 'iheid--decorator--padding--micro----below-large iheid--decorator--padding--large----beyond-medium'}, [
        formatted_field('field_youtube', 'hidden', 'youtube_default'),
        formatted_field('field_caption', 'hidden', 'text-as-caption', {
            decorators: 'iheid--decorator--margin--top--micro----below-large iheid--decorator--margin--top--mini----beyond-medium'
        })
    ])
]) %}

{% include "@Test/entity/paragraph/youtube-video/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
