@import "./variables";
@import "../mixins";

@mixin iheid--navigation--menu--header() {
  @include iheid--navigation--menu;

  ul {
    display: block;
    text-align: center;

    li {
      margin: 0;
      padding: 20px 0;
      border-bottom: solid 1px $iheid--theme--color--even-background;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}