@import "mixins";
@import "../heading/index";

.iheid--typography--ui {
  @include iheid--typography--ui;
}

.iheid--typography--content {
  @include iheid--typography--content;
}

p {
  @include iheid--typography--paragraph;
}

blockquote {
  @include iheid--typography--quote;
}