@import "variables";
@import "../device/mixins";
@import "../color/variables";
@import "../font/mixins";

@mixin iheid--typography--ui {
  @include iheid--theme--font--ui;
}

@mixin iheid--typography--content {
  @include iheid--theme--font--content;
  line-height: 2.00em;
}

@mixin iheid--typography--paragraph {
  @include iheid--typography--ui;
  text-transform: initial;
  line-height: 1.38em;

  margin: 0;
  padding: 0.5em 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

@mixin iheid--typography--quote {
  @include iheid--typography--content;
  font-size: 18px;
  font-style: italic;
  line-height: 1.11;
  margin: 0;

  &:before, &:after {
    display: block;
    font-size: 70px;
    height: 30px;
    color: $iheid--theme--color--primary;
  }

  &:before {
    content: open-quote;
    margin-bottom: 10px;
    margin-left: -0.1em;
    text-align: left;
  }

  &:after {
    content: close-quote;
    margin-top: 10px;
    text-align: right;
  }
}