{#
/**
 * @file fitted-image.html.twig
 * Default theme implementation of a fitted image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 * - fit: The fit mode.
 *
 * @see template_preprocess_image()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--system--fitted-image',
    fit ? 'iheid--system--fitted-image--' ~ fit
] %}
<img{{ attributes.addClass(classes) }} />