{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Color</div>
    <div class="demo--content">
        <div class="test-case">
            <header>Primary background</header>
            <div class="content primary"></div>
        </div>
        <div class="test-case">
            <header>Secondary background</header>
            <div class="content secondary"></div>
        </div>
        <div class="test-case">
            <header>Light secondary background</header>
            <div class="content secondary-light"></div>
        </div>
        <div class="test-case">
            <header>Dark secondary background</header>
            <div class="content secondary-dark"></div>
        </div>
        <div class="test-case">
            <header>Tertiary background</header>
            <div class="content tertiary"></div>
        </div>
        <div class="test-case">
            <header>Light Tertiary background</header>
            <div class="content tertiary-light"></div>
        </div>
        <div class="test-case">
            <header>Dark Tertiary background</header>
            <div class="content tertiary-dark"></div>
        </div>
        <div class="test-case">
            <header>Even background</header>
            <div class="content even"></div>
        </div>
    </div>
{% endblock %}
