@import "../../../demo";
@import "include.scss";

.demo--theme--color {
  .test-case {
    .content {
      width: 128px;
      height: 128px;
      border: solid 1px black;
      box-sizing: border-box;
      padding: 16px;
    }

    .primary {
      background-color: $iheid--theme--color--primary;
    }

    .secondary {
      background-color: $iheid--theme--color--secondary;
    }

    .secondary-light {
      background-color: $iheid--theme--color--secondary-light;
    }

    .secondary-dark {
      background-color: $iheid--theme--color--secondary-dark;
    }

    .tertiary {
      background-color: $iheid--theme--color--tertiary;
    }

    .tertiary-light {
      background-color: $iheid--theme--color--tertiary-light;
    }

    .tertiary-dark {
      background-color: $iheid--theme--color--tertiary-dark;
    }

    .even {
      background-color: $iheid--theme--color--even-background;
    }
  }
}
