{% set view_mode = view_mode('contact', [
    field_group('view_group', {name: 'root', label: 'Root', decorators: 'iheid--decorator--alignment--center iheid--decorator--padding--vertical--micro'}, [
        formatted_field('field_phone', 'hidden', 'telephone_link'),
        formatted_field('field_social_profile', 'hidden', 'social_profile', {
            decorators: 'iheid--decorator--margin--top--micro'
        })
    ])
]) %}

{% include "@Test/entity/node/collaborator/test.html.twig" with {
    view_mode: view_mode
} %}