{% set view_mode = view_mode('full', [
    formatted_field('content_type', 'hidden', 'content_type', {
        overridden_title: 'Profile',
        decorators: 'iheid--decorator--margin--small iheid--decorator--padding--top--mini iheid--decorator--margin--horizontal--large----beyond-medium'
    }),
    field_group('linear-layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--padding--mini----below-large iheid--decorator--padding--large----beyond-medium iheid--decorator--color--background--even-background iheid--decorator--alignment--start iheid--decorator--flex--space-around iheid--decorator--flex--direction--column----below-large'}, [
        field_group('view-group', {name: 'first_column', label: 'First column', decorators: 'iheid--decorator--margin--end--micro----beyond-medium'}, [
            formatted_field('main_image', 'hidden', 'rendered-entity', {
                view_mode: 'large'
            }),
            formatted_field('social_share', 'visible', 'social-share', {
                decorators: 'iheid--decorator--margin--top--small'
            })
        ]),
        field_group('linear-layout', {name: 'second-column', label: 'Second column', decorators: 'iheid--decorator--flex--grow iheid--decorator--pillar--medium iheid--decorator--margin--start--micro----beyond-medium iheid--decorator--flex--direction--column'}, [
            field_group('linear-layout', {name: 'content', label: 'Content', decorators: 'iheid--decorator--flex--nowrap'}, [
                field_group('view-group', {name: 'text', label: 'Text', decorators: 'iheid--decorator--flex--grow '}, [
                    formatted_field('department', 'hidden', 'text-as-author', {
                        decorators: 'iheid--decorator--margin--top--micro----below-large'
                    }),
                    formatted_field('title', 'hidden', 'text-as-heading', {
                        level: 3,
                        decorators: 'iheid--decorator--margin--top--mini'
                    }),
                    formatted_field('position', 'hidden', 'text-as-heading', {
                        level: 5,
                        variant: 'bland',
                        decorators: 'iheid--decorator--margin--top--micro'
                    }),
                    formatted_field('field_phone', 'hidden', 'text-as-caption', {
                        decorators: 'iheid--decorator--margin--top--small'
                    }),
                    formatted_field('field_social_profile', 'hidden', 'social_profile', {
                        decorators: 'iheid--decorator--margin--top--micro'
                    }),
                    formatted_field('languages', 'visible', 'rendered_entity', {
                        view_mode: 'title_only',
                        items_layout: 'separated_list',
                        decorators: 'iheid--decorator--margin--top--small'
                    }),
                    formatted_field('expertise', 'visible', 'rendered_entity', {
                        view_mode: 'title_only',
                        items_layout: 'unordered_list',
                        decorators: 'iheid--decorator--margin--top--small'
                    }),
                ])
            ])
        ])
    ])
]) %}

{% include "@Test/entity/node/collaborator/test.html.twig" with {
    view_mode: view_mode
} %}
