{% set view_mode = view_mode('main_signature', [
    field_group('link', {name: 'link', label: 'Link', link_target: 'profile_cta', target_attribute: 'blank'}, [
        field_group('linear-layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--padding--mini'}, [
            formatted_field('main_image', 'hidden', 'rendered-entity', {
                view_mode: 'thumbnail_medium_responsive',
                decorators: 'iheid--decorator--dimension--height--full'
            }),
            field_group('linear-layout', {name: 'content', label: 'Content', decorators: 'iheid--decorator--flex--grow iheid--decorator--padding--start--mini iheid--decorator--flex--nowrap iheid--decorator--flex--space-between iheid--decorator--flex--direction--column'}, [
                field_group('view-group', {name: 'text', label: 'Text'}, [
                    formatted_field('title', 'hidden', 'text-as-author'),
                    formatted_field('position', 'hidden', 'text-as-heading', {
                        level: 5,
                        variant: 'bland',
                        decorators: 'iheid--decorator--margin--top--micro'
                    }),
                ]),
                formatted_field('profile_cta', 'hidden', 'link-as-fake-button', {
                    variant: 'secondary',
                    decorators: 'iheid--decorator--visibility--hidden----below-large iheid--decorator--margin--top--micro'
                })
            ])
        ])
    ])
]) %}

{% include "@Test/entity/node/collaborator/test.html.twig" with {
    view_mode: view_mode
} %}
