{% set view_mode = view_mode('signature_text', [
    formatted_field('title', 'hidden', 'text-as-author')
]) %}

{% include "@Test/entity/node/collaborator/test.html.twig" with {
    view_mode: view_mode
} %}