{% set view_mode = view_mode('small-card', [
    field_group('link', {name: 'cta', label: 'CTA group', target_attribute: 'blank', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--padding--top--micro'}, [
        formatted_field('content_type', 'hidden', 'content_type', {
            variant: 'badge',
            decorators: 'iheid--decorator--position--absolute'
        }),
        field_group('linear-layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--alignment--center iheid--decorator--padding--micro iheid--decorator--padding--top--mini iheid--decorator--flex--direction--column iheid--decorator--padding--micro iheid--decorator--border iheid--decorator--color--background--secondary-light'}, [
            formatted_field('main_image', 'hidden', 'rendered-entity', {
                view_mode: 'thumbnail-large'
            }),
            formatted_field('department', 'hidden', 'text-as-author',{
                decorators: 'iheid--decorator--margin--top--micro'
            }),
            formatted_field('title', 'hidden', 'text-as-heading', {
                level: 4,
                decorators: 'iheid--decorator--margin--top--micro'
            }),
            formatted_field('position', 'hidden', 'text-as-heading', {
                level: 5,
                variant: 'bland',
                decorators: 'iheid--decorator--margin--top--micro'
            }),
        ])
    ])
]) %}

{% include "@Test/entity/node/collaborator/test.html.twig" with {
    view_mode: view_mode
} %}
