{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Children content field</div>
    <div class="demo--content">
        {% for formatter_name in ['rendered_entity'] %}
            <div class="test-case">
                <header>{{ formatter_name }} formatter</header>
                <div class="content">
                    {{ render_field(data.field, field_formatter(
                        formatter_name,
                        'hidden',
                        {
                            view_mode: 'three-columns-small-card'
                        }
                    )) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
