{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Taxonomy term</div>
    <div class="demo--content">
        {% for view_mode in [
            'title_only'
        ] %}
            <div class="test-case">
                <header>{{ view_mode }} view mode</header>
                <div class="content">
                    {% include "@Test/entity/term/view-modes/#{view_mode|kebab_case}.html.twig" with {
                        entity: data.entity,
                        view_mode: view_mode
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
