@import "./mixins";
@import "../../util/mixins";

.iheid--decorator--border {
  @each $side in (all, top, end, bottom, start) {
    &--#{$side} {
      @include iheid--util--device-variants {
        @include iheid--decorator--border($side);
      }
    }
  }
}

.iheid--decorator--border {
  @include iheid--util--device-variants {
    @include iheid--decorator--border(all);
  }
}