@import "./variables";
@import "../../theme/color/variables";

@mixin iheid--decorator--border($side: all) {
  border-width: 1px;
  border-color: $iheid--theme--color--secondary;

  @if ($side == all) {
    border-style: solid;
  } @else {
    @if ($side == start) {
      $side: left;
    }

    @if ($side == end) {
      $side: right;
    }

    border-#{$side}-style: solid;
  }
}