@import "functions";
@import "../theme/device/functions";

@mixin iheid--util--side-value($property, $value, $side: null) {
  @if ($side == 'top' or $side == null) {
    #{$property}-top: iheid--util--to-em($value);
  }

  @if ($side == 'end' or $side == null) {
    #{$property}-right: iheid--util--to-em($value);
  }

  @if ($side == 'bottom' or $side == null) {
    #{$property}-bottom: iheid--util--to-em($value);
  }

  @if ($side == 'start' or $side == null) {
    #{$property}-left: iheid--util--to-em($value);
  }
}

@mixin iheid--util--media($minWidth, $maxWidth: null) {
  $min: null;
  $max: null;

  @if ($minWidth) {
    $min: "(min-width: #{($minWidth / $iheid--theme--font--base-font-size) * 1em})";
  }

  @if ($maxWidth) {
    $max: "(max-width: #{($maxWidth / $iheid--theme--font--base-font-size) * 1em})";
  }

  @if ($min and $max) {
    @media screen {
      @media #{$min} {
        @media #{$max} {
          @content;
        }
      }
    }
  } @else if ($min) {
    @media screen {
      @media #{$min} {
        @content;
      }
    }
  } @else if ($max) {
    @media screen {
      @media #{$max} {
        @content;
      }
    }
  }
}

@mixin iheid--util--device-variants() {
  & {
    @content
  }

  $devices: iheid--theme--device--get-devices();

  @each $fromName, $boundaries in $devices {
    $minWidth: map_get($boundaries, min);
    $maxWidth: map_get($boundaries, max);

    &----below-#{$fromName} {
      @if ($minWidth) {
        @include iheid--util--media(null, $minWidth - 1) {
          @content;
        }
      }
    }

    &----#{$fromName} {
      @include iheid--util--media($minWidth, $maxWidth) {
        @content;
      }
    }

    &----beyond-#{$fromName} {
      @if ($maxWidth) {
        @include iheid--util--media($maxWidth + 1) {
          @content;
        }
      }
    }
  }
}
