{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Button</div>
    <div class="demo--content">
        {% for variant in [
            'primary',
            'secondary',
            'tertiary'
        ] %}
            <div class="test-case {{ variant }}">
                {% if variant %}
                    <header>{{ variant }}</header>
                {% endif %}
                <div class="content">
                    {% for disabled in [false, true] %}
                        {% include "@Test/ui/button/test.html.twig" with {
                            variant: variant,
                            disabled: disabled,
                            content: "Lorem ipsum dolor sit amet"
                        } %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
