@import "include";
@import "../../demo";

.demo--ui--button {
  .demo--content {
    .test-case {
      box-sizing: border-box;

      .content {
        padding: 10px;

        div {
          display: inline-block;
          margin-bottom: 10px;
        }
      }

      &.primary {
        .content {
          background-color: brown;
        }
      }
    }
  }
}
