<!-- file field -->
{% include "@Src/field/type/file/index.html.twig" with {
    attributes: drupal_attribute(),
    title_attributes: drupal_attribute(),
    label_display: label_display,
    label_hidden: label_hidden,
    label: label,
    field_type: 'file',
    items: items
} %}
