@import "./mixins";
@import "../../util/mixins";

.iheid--decorator--flex {
  &--grow {
    @include iheid--util--device-variants {
      @include iheid--decorator--flex(1);
    }
  }

  @for $i from 1 through 5 {
    &--grow--#{$i} {
      @include iheid--util--device-variants {
        @include iheid--decorator--flex($i);
      }
    }
  }

  @each $direction in (row, row-reverse, column, column-reverse) {
    &--direction--#{$direction} {
      @include iheid--util--device-variants {
        @include iheid--decorator--flex--direction($direction);
      }
    }
  }

  &--wrap {
    @include iheid--util--device-variants {
      @include iheid--decorator--flex--wrap(true);
    }
  }

  &--nowrap {
    @include iheid--util--device-variants {
      @include iheid--decorator--flex--wrap(false);
    }
  }

  &--space-around {
    @include iheid--util--device-variants {
      @include iheid--decorator--flex--space-around;
    }
  }

  &--space-between {
    @include iheid--util--device-variants {
      @include iheid--decorator--flex--space-between;
    }
  }

  &--center {
    @include iheid--util--device-variants {
      @include iheid--decorator--flex--center;
    }
  }
}