@import "./variables";

@mixin iheid--decorator--flex($val: 1) {
  flex: $val;

  // IE11 support
  flex-basis: auto;
}

@mixin iheid--decorator--flex--direction($direction) {
  flex-direction: $direction;
}

@mixin iheid--decorator--flex--wrap($flag) {
  @if ($flag) {
    flex-wrap: wrap;
  } @else {
    flex-wrap: nowrap;
  }
}

@mixin iheid--decorator--flex--space-around {
  justify-content: space-around;
}

@mixin iheid--decorator--flex--space-between {
  justify-content: space-between;
}

@mixin iheid--decorator--flex--center {
  justify-content: center;
}
