@import "variables";
@import "mixins";

@each $name, $code in $iheid--theme--iconography--code-points {
  .iheid--iconography--icon-#{$name} {
    &:before {
      @include iheid--iconography--icon($name);
    }
  }
}
