@import "../font/mixins";
@import "variables";

@mixin iheid--iconography--icon($name) {
  @include iheid--theme--font--icon;
  display: inline-block;

  @if (map_get($iheid--theme--iconography--code-points, $name)) {
    $code: map_get($iheid--theme--iconography--code-points, $name);

    content: unquote("\"") + unquote($code) + unquote("\"");
  }
}