{# full view mode #}
{% set view_mode = view_mode('full', [
    formatted_field('grid', 'hidden', 'rendered-entity', {
        view_mode: 'full',
        items_layout: 'grid'
    })
]) %}

{% include "@Test/entity/paragraph/grid/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}