{% include "@Src/entity/paragraph/paragraph.html.twig" with {
    attributes: attributes ?? drupal_attribute(),
    paragraph: {
        bundle: 'static-banner'
    },
    background_image: {
        attributes: drupal_attribute({
            src: background_image.src
        })
    },
    content: content
} only %}