@import "../../../theme/device/mixins";
@import "../../../theme/color/variables";
@import "../../../decorator/object-fit/mixins";
@import "../../../decorator/padding/mixins";

@mixin iheid--entity--paragraph--type--static-banner() {
  background-color: $iheid--theme--color--primary;

  @include iheid--theme--device--medium() {
    position: relative;
  }

  .background {
    display: none;

    @include iheid--theme--device--medium() {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      img {
        @include iheid--decorator--object-fit--cover;
      }
    }
  }

  .content {
    position: relative;
    z-index: 0;
  }
}