@import "./variables";
@import "../../theme/color/variables";
@import "../../field/formatter/text-as-author/mixins";
@import "../../decorator/margin/mixins";
@import "../../ui/link/mixins";

@mixin iheid--navigation--menu() {
  display: flex;
  justify-content: space-around;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .level-0 {
    flex: 1;

    @include iheid--theme--device--medium() {
      display: flex;
      flex-wrap: wrap;
    }

    > li {
      display: block;

      @include iheid--theme--device--medium() {
        @include iheid--decorator--margin(small, end);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .level-1 {
    margin-top: 0.5em;

    a {
      line-height: 2.36;
    }
  }

  a {
    @include iheid--ui--link;
    font-size: 11px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    border: none;
    padding-bottom: 0;
  }
}
