{% set view_mode = view_mode('full', [
    formatted_field('content_type', 'hidden', 'content_type', {
        decorators: 'iheid--decorator--padding--small iheid--decorator--padding--horizontal--large----beyond-medium'
    }),
    field_group('view_group', {name: 'hero', label: 'Hero group', decorators: 'iheid--decorator--color--background--even-background iheid--decorator--padding--mini----below-large iheid--decorator--padding--medium----beyond-medium iheid--decorator--alignment--center'}, [
        formatted_field('field_top_header', 'hidden', 'text_as_author'),
        formatted_field('news_publication_date', 'hidden', 'datetime_default', {
            format_type: 'month_year',
            decorators: 'iheid--decorator--padding--top--mini'
        }),
        formatted_field('title', 'hidden', 'text_as_heading', {
            level: 3,
            variant: 'bland',
            decorators: 'iheid--decorator--padding--top--mini'
        }),
        formatted_field('field_authors', 'hidden', 'entity_reference_label', {
            decorators: 'iheid--decorator--margin--top--mini',
        }),
        formatted_field('social_share', 'hidden', 'social-share', {
            decorators: 'iheid--decorator--margin--top--small----below-large iheid--decorator--margin--top--large----beyond-medium iheid--decorator--alignment--end----beyond-medium'
        })
    ]),
    formatted_field('body', 'hidden', 'plain_text', {
        decorators: 'iheid--decorator--padding--small iheid--decorator--padding--horizontal--large----beyond-medium'
    }),
    formatted_field('field_editorial_content', 'hidden', 'rendered_entity', {
        view_mode: 'full'
    }),
    formatted_field('highlighted_project_collaborators', 'hidden', 'project_collaborator', {
        decorators: 'iheid--decorator--padding--rectangular--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium',
        view_mode: 'secondary_signature',
        highlighted_view_mode: 'secondary_signature',
        color_scheme: 'dark',
    }),
]) %}

{% include "@Test/entity/node/news/test.html.twig" with {
    view_mode: view_mode
} %}
