{% set view_mode = view_mode('small-card', [
    field_group('link', {name: 'cta', label: 'CTA group', target_attribute: 'blank', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--padding--top--micro'}, [
        formatted_field('content_type', 'hidden', 'content_type', {
            variant: 'badge',
            decorators: 'iheid--decorator--position--absolute'
        }),
        field_group('linear_layout', {name: 'root', label: 'Root group', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--alignment--center iheid--decorator--flex--direction--column heid--decorator--padding--micro iheid--decorator--border iheid--decorator--color--background--secondary-light'}, [
            formatted_field('news_main_image', 'hidden', 'rendered_entity', {
                view_mode: 'small_card_banner_thin'
            }),
            field_group('linear_layout', {name: 'main', decorators: 'iheid--decorator--padding--micro iheid--decorator--flex--grow iheid--decorator--flex--direction--column'}, [
                field_group('view_group', {name: 'header', decorators: 'iheid--decorator--flex--grow'}, [
                    formatted_field('field_top_header', 'hidden', 'text_as_author'),
                    formatted_field('title', 'hidden', 'text_as_heading', {
                        level: 4,
                        decorators: 'iheid--decorator--margin--top--micro'
                    }),
                    formatted_field('body', 'hidden', 'plain_text', {
                        decorators: 'iheid--decorator--margin--top--mini'
                    }),
                ]),
                field_group('view_group', {name: 'footer'}, [
                    formatted_field('field_authors', 'hidden', 'text_as_author', {
                        decorators: 'iheid--decorator--margin--top--micro'
                    }),
                    formatted_field('news_publication_date', 'hidden', 'datetime_default', {
                        format_type: 'month_year',
                        decorators: 'iheid--decorator--margin--top--micro'
                    }),
                ])
            ])
        ])
    ])
]) %}

{% include "@Test/entity/node/news/test.html.twig" with {
    view_mode: view_mode
} %}
