{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">{{ name|upper }} Typography</div>
    <div class="demo--content">
        {% set lorem %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida augue non urna tincidunt volutpat. Etiam accumsan condimentum nunc, a elementum justo tincidunt vitae. Suspendisse tincidunt id arcu fermentum ullamcorper. Phasellus vitae blandit est. <a href="#1">Cras felis odio</a>, tempor ac porttitor et, sagittis eu sem. Donec condimentum nunc
            pharetra
            libero maximus vehicula. Suspendisse pellentesque enim eu turpis convallis placerat. Integer dignissim vel elit id volutpat. Vestibulum vestibulum neque nec porta faucibus. Nam gravida lectus eu nulla semper, sed commodo massa imperdiet. Sed scelerisque ipsum dolor, sed efficitur ex tristique vel.

            Sed quis venenatis ligula, id tempus nibh. Aliquam erat volutpat. Donec fringilla magna sed lacus tempor, non elementum justo maximus. In hac habitasse platea dictumst. In sed quam velit. Nulla pharetra eros sit amet bibendum ultrices. Integer rutrum interdum diam, a iaculis nunc hendrerit sit amet. Donec molestie sed enim vitae
            convallis.
        {% endset %}

        {% for name in ['UI', 'content'] %}
            <div class="test-case">
                <header>{{ name|capitalize }}</header>
                <div class="content">
                    <div class="iheid--typography--{{ name|lower }}">
                        {{ lorem }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="test-case">
            <header>Paragraph</header>
            <div class="content">
                <p>{{ lorem }}</p>
            </div>
        </div>
        <div class="test-case">
            <header>Quote</header>
            <div class="content">
                <blockquote>{{ lorem }}</blockquote>
            </div>
        </div>
    </div>
{% endblock %}
