{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <nav class="iheid--navigation--breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
        <ol>
            {% for item in breadcrumb %}
                <li>
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    {% else %}
                        <span>{{ item.text }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    </nav>
{% endif %}
