@import "./variables";
@import "../../util/functions";
@import "../../decorator/padding/mixins";
@import "../../theme/device/mixins";
@import "../../ui/link/mixins";

@mixin iheid--navigation--breadcrumb() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  ol {
    margin: 0;
    padding: 0;
    display: inline;
  }

  li {
    display: inline-block;
    overflow: visible;

    &:after {
      content: ">";
      display: inline;
      vertical-align: middle;
      font-weight: bold;
      margin-left: 0.25em;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    > a {
      @include iheid--ui--link;
      display: inline-block;

      &, &:visited {
        color: inherit;
        border-bottom-color: transparent;
        text-decoration: none;
      }

      &:hover {
        border-bottom-color: inherit;
      }
    }

    > span {
      font-weight: 600;
    }
  }
}