{% set view_mode = view_mode('full', [
    field_group('view_group', {decorators: 'iheid--decorator--padding--mini----below-large iheid--decorator--padding--rectangular--large----beyond-medium iheid--decorator--alignment--center'}, [
        formatted_field('title', 'hidden', 'text_as_heading', {
            level: 2
        }),
        field_group('view_group', {decorators: 'iheid--decorator--margin--top--small----below-large iheid--decorator--margin--top--medium----beyond-medium'}, [
            formatted_field('field_show_all_link', 'hidden', 'link', {
                decorators: 'iheid--decorator--alignment--end'
            }),
            formatted_field('recommended_content', 'hidden', 'upcoming_events', {
                view_mode: 'small_card'
            }),
        ])
    ])
]) %}

{% include "@Test/entity/paragraph/recommended-content/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
