{#
/**
 * @file field--three-cards.html.twig
 * Theme override for a three cards field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - ws_url: The URL of the web service that serves the content in the form of an URL-encoded string.
 *
 * @see iheid_research_project_preprocess_three_cards()
 */
#}
{% set classes = [
    'iheid--field',
    'iheid--field--name-' ~ field_name|clean_class,
    'iheid--field--type-three-cards',
    'iheid--field--label-' ~ label_display
] %}
<div{{ attributes.addClass(classes) }} data-ws-url="{{ ws_url|raw }}">
    <div class="field__items">
        {% for i in 1..3 %}
            <div class="field__item placeholder"></div>
        {% endfor %}
    </div>
</div>
