@import "./variables";
@import "../../../theme/color/variables";
@import "../../../theme/device/mixins";
@import "../../../decorator/margin/mixins";

@mixin iheid--field--type--three-cards() {
  > .field__items {
    @include iheid--theme--device--medium() {
      display: flex;
    }

    > .field__item {
      display: block;
      @include iheid--decorator--margin(micro, bottom);

      &:last-child {
        @include iheid--decorator--margin(none, bottom);
      }

      @include iheid--theme--device--medium() {
        width: percentage(1/3);
        box-sizing: border-box;
        @include iheid--decorator--margin(none, bottom);
        @include iheid--decorator--margin--axis(nano, horizontal);

        &:first-child {
          @include iheid--decorator--margin(none, start);
        }

        &:last-child {
          @include iheid--decorator--margin(none, end);
        }
      }

      &.placeholder {
        background-color: $iheid--theme--color--secondary;
      }
    }
  }
}