{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Video media</div>
    <div class="demo--content">
        {% for view_mode in ['full', 'darkened'] %}
            <div class="test-case">
                <div class="header">{{ view_mode }}</div>
                <div class="content">
                    {% include "@Test/entity/media/video/view-modes/#{view_mode}.html.twig" with {
                        entity: data.entity,
                        view_mode: view_mode
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
