<!-- media entity -->
{% include "@Src/entity/media/media.html.twig" with {
    entity: entity,
    attributes: drupal_attribute(),
    title_attributes: drupal_attribute(),
    content: content,
    view_mode: view_mode
} %}
