{% set items = [] %}
{% for network in data.networks %}
    {% set itemContent %}
        {% include "@Src/field/formatter/social-share/index.html.twig" with {
            attributes: data.attributes,
            network: network.name,
            title: network.title,
            social_settings: data.social_settings,
            url: data.url
        } only %}
    {% endset %}

    {% set items = items|merge([{
        attributes: data.attributes,
        content: itemContent
    }]) %}
{% endfor %}

<!-- social-share field -->
{% include "@Src/field/field/field.html.twig" with {
    attributes: data.attributes,
    field_type: 'social-share',
    field_name: data.field_name,
    label: data.label,
    label_hidden: data.label_hidden,
    multiple: true,
    items: items
} only %}
