{% extends "@Test/demo.html.twig" %}

{% block head %}
    {{ parent() }}
    <meta property="og:url" content="https://curvy-catfish-23.localtunnel.me/" />
    <meta property="og:title" content="Social share field" />
    <meta property="og:description" content="Social share field basic test case" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://picsum.photos/320/240?image=1081" />
    <meta property="fb:app_id" content="1852373988394950" />
{% endblock %}

{% block body %}
    <div class="demo--title">Social share field</div>
    <div class="demo--content">
        {% include "@Test/field/type/social-share/field.html.twig" with data %}
    </div>
{% endblock %}
