{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Device</div>
    <div class="demo--content">
        {% for name in ['ui', 'content'] %}
            <div class="test-case name">
                <header>{{ name|upper }} font</header>
                <div class="content">
                    {% for weight in [100,200,300,400,500,600,700,800,900] %}
                        {% for style in ["normal","italic"] %}
                            <div class="test-case">
                                <header>.font-weight: {{ weight }}; font-style: {{ style }};</header>
                                <p class="iheid--theme--font--{{ name }}"
                                   style="font-style: {{ style }}; font-weight: {{ weight }}">
                                    Apparently we had reached a great height in the atmosphere, for the sky was a dead black, and
                                    the stars
                                    had ceased to twinkle. By the same illusion which lifts the horizon of the sea to the level of
                                    the
                                    spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in
                                    the
                                    middle of an immense dark sphere, whose upper half was strewn with silver. Looking down into the
                                    dark
                                    gulf below, I could see a ruddy light streaming through a rift in the clouds.
                                </p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
