{#{% set content %}#}
    {#{% set children %}#}
        {#{% include "@Test/entity/paragraph/newsletter/basic/fields/title.html.twig" with {#}
            {#level: 3,#}
            {#variant: 'bland'#}
        {#} %}#}

        {#{% set children %}#}
            {#{% set children %}#}
                {#{% include "@Test/entity/paragraph/newsletter/basic/fields/input.html.twig" with data %}#}
                {#{% include "@Test/entity/paragraph/newsletter/basic/fields/button.html.twig" %}#}
            {#{% endset %}#}

            {#{% include "@Test/field/group/linear-layout/basic/test.html.twig" with {#}
                {#attributes: drupal_attribute().addClass('iheid--decorator--flex--center'),#}
                {#children: children#}
            {#} only %}#}
        {#{% endset %}#}

        {#{% include "@Src/form/form.html.twig" with {#}
            {#attributes: drupal_attribute().addClass('iheid--decorator--padding--top--small'),#}
            {#children: children#}
        {#} only %}#}
    {#{% endset %}#}

    {#{% include "@Test/field/group/linear-layout/basic/test.html.twig" with {#}
        {#attributes: drupal_attribute().addClass('iheid--decorator--alignment--center iheid--decorator--flex--direction--column'),#}
        {#children: children#}
    {#} only %}#}
{#{% endset %}#}

{#{% include "@Src/entity/paragraph/paragraph.html.twig" with {#}
    {#attributes: drupal_attribute(),#}
    {#paragraph: {#}
        {#bundle: 'newsletter'#}
    {#},#}
    {#content: content#}
{#} only %}#}

<!-- newsletter paragraph -->
{% include "@Src/entity/paragraph/newsletter/index.html.twig" with {
    content: content
} only %}

