{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">ui/link</div>
    <div class="demo--content">
        <div class="test-case">
            <header>As link</header>
            <div class="content">
            {% for link in data.links %}
                {% include "@Test/ui/link/test.html.twig" with {
                    attributes: drupal_attribute({
                        href: link.url
                    }),
                    children: link.title
                } only %}
            {% endfor %}
            </div>
        </div>

        <div class="test-case">
            <header>As button</header>
            <div class="content">
                {% for link in data.links %}
                    {% include "@Test/ui/link/test.html.twig" with {
                        attributes: drupal_attribute({
                            href: link.url
                        }).addClass('button'),
                        children: link.title
                    } only %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
