{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Background decorator</div>
    <div class="demo--content">
        {% for name in ['bamboo', 'diagonal-lines', 'diagonal-stripes', 'polka-dots', 'texture', 'tiny-checkers'] %}
            <div class="test-case {{ name }}">
                <div class="header">
                    {{ name|title }}
                </div>
                <div class="content">
                    {% include "@Test/decorator/background/test.html.twig" with {
                        name: name
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
