{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Contact information modal block</div>
    <div class="demo--content">
        {% include "./test.html.twig" with data only %}
    </div>
{% endblock %}
