{# full view mode #}
{% set view_mode = view_mode('full', [
    formatted_field('title', 'hidden', 'text-as-heading', {
        level: 2,
        decorators: 'iheid--decorator--alignment--center iheid--decorator--margin--bottom--small'
    }),
    formatted_field('slider', 'hidden', 'rendered-entity', {
        view_mode: 'full',
        items_layout: 'slider'
    })
]) %}

{% include "@Test/entity/paragraph/slider/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}