{#
/**
 * @file file-formatter-link-as-button.html.twig
 * Default theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - variant: Button style class.
 * - url: Direct url for the file.
 * - description: Description text.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--field--formatter--file-link-as-button--' ~ variant
] %}
<a{{ attributes.addClass(classes) }}>
    <div class="inner">
        <span class="title">{{ description }}</span>
    </div>
</a>