@import "./mixins";

.iheid--field--formatter--file-link-as-button--primary {
  @include iheid--field--formatter--file-link-as-button(primary);
}

.iheid--field--formatter--file-link-as-button--secondary {
  @include iheid--field--formatter--file-link-as-button(secondary);
}

.iheid--field--formatter--file-link-as-button--download {
  @include iheid--field--formatter--file-link-as-button(download);
}
