{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">field</div>
    <div class="demo--content">
        {% for items_layout in [
            null,
            'grid',
            'slider',
            'unordered_list',
            'separated_list',
            'spaced'
        ] %}
            <div class="test-case layout">
                <header>{% if items_layout %}{{ items_layout }} items layout{% endif %}</header>
                <div class="content">
                    {% for label_display in ['hidden', 'visible'] %}
                        <div class="test-case">
                            <header>{{ label_display }} title</header>
                            <div class="content">
                                {% for alternate_styling in ['natural', 'inverted'] %}
                                    <div class="test-case {{ alternate_styling }}">
                                        <header>{{ alternate_styling }} alternate styling</header>
                                        <div class="content">
                                            {{ render_field(data.field, field_formatter(
                                                'plain_text',
                                                label_display,
                                                {
                                                    items_layout: items_layout,
                                                    alternate_styling: alternate_styling
                                                }
                                            )) }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
