@import "../../demo";
@import "test";
@import "../../../src/theme/color/variables";

.demo--field {
  .test-case {
    &.layout {
      .content {
        padding: 10px;
      }
    }

    &.inverted {
      background-color: $iheid--theme--color--secondary-dark;
    }
  }
}
