{% set view_mode = view_mode('banner', [
    formatted_field('field_banner_image', 'hidden', 'rendered_entity', {
        view_mode: 'banner'
    })
]) %}

{% include "@Test/entity/node/collaborator/test.html.twig" with {
    view_mode: view_mode
} %}