{% set view_mode = view_mode('logos', [
    formatted_field('logos', 'hidden', 'rendered_entity', {
        view_mode: 'logo',
        decorators: 'iheid--decorator--margin--start--small----below-large iheid--decorator--margin--start--large----beyond-medium iheid--decorator--margin--top--small'
    })
]) %}

{% include "@Test/entity/node/collaborator/test.html.twig" with {
    view_mode: view_mode
} %}
