{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Pillar selector</div>
    <div class="demo--content">
        {% include "@Test/block/pillar-selector/test.html.twig" with data only %}
    </div>
{% endblock %}
