@import "./mixins";
@import "variables";
@import "../../util/mixins";

.iheid--decorator--margin {
  @each $name in ('none', 'nano', 'micro', 'mini', 'small', 'medium', 'large') {
    &--#{$name} {
      @include iheid--util--device-variants() {
        @include iheid--decorator--margin($name);
      }
    }

    @each $side in ('top', 'end', 'bottom', 'start') {
      &--#{$side}--#{$name} {
        @include iheid--util--device-variants() {
          @include iheid--decorator--margin($name, $side);
        }
      }
    }

    @each $axis in ('horizontal', 'vertical') {
      &--#{$axis}--#{$name} {
        @include iheid--util--device-variants() {
          @include iheid--decorator--margin--axis($name, $axis);
        }
      }
    }
  }

  &--auto {
    @include iheid--util--device-variants() {
      @include iheid--decorator--margin--auto(start);
      @include iheid--decorator--margin--auto(end);
    }
  }

  @each $side in ('start', 'end') {
    &--#{$side}--auto {
      @include iheid--util--device-variants() {
        @include iheid--decorator--margin--auto($side);
      }
    }
  }
}