@import "../../theme/font/variables";
@import "../../theme/device/mixins";
@import "../../util/functions";
@import "../../util/mixins";
@import "variables";

@mixin iheid--decorator--margin($name, $side: null) {
  $value: map_get($iheid--decorator--margin--margins, $name);

  @include iheid--util--side-value('margin', $value, $side);
}

@mixin iheid--decorator--margin--axis($name, $axis) {
  @if ($axis == vertical) {
    @include iheid--decorator--margin($name, top);
    @include iheid--decorator--margin($name, bottom);
  } @else if ($axis == horizontal) {
    @include iheid--decorator--margin($name, start);
    @include iheid--decorator--margin($name, end);
  }
}

@mixin iheid--decorator--margin--auto($side: null) {
  @if ($side == top) {
    margin-top: auto;
  } @else if ($side == end) {
    margin-right: auto;
  } @else if ($side == bottom) {
    margin-bottom: auto;
  } @else if ($side == start) {
    margin-left: auto;
  } @else {
    margin: auto;
  }
}
