$iheid--decorator--margin--none: 0;
$iheid--decorator--margin--nano: 5;
$iheid--decorator--margin--micro: 10;
$iheid--decorator--margin--mini: 20;
$iheid--decorator--margin--small: 30;
$iheid--decorator--margin--medium: 60;
$iheid--decorator--margin--large: 120;

$iheid--decorator--margin--margins: (
  none: $iheid--decorator--margin--none,
  nano: $iheid--decorator--margin--nano,
  micro: $iheid--decorator--margin--micro,
  mini: $iheid--decorator--margin--mini,
  small: $iheid--decorator--margin--small,
  medium: $iheid--decorator--margin--medium,
  large: $iheid--decorator--margin--large
)