@import "../../demo";
@import "./test";

.demo--decorator--flex {
  .test-case {
    > .content {
      padding: 10px;
    }

    &.wrap, &.nowrap, &.wrap--responsive, &.nowrap--responsive {
      .content {
        &.row {
          .child {
            width: 100%;
            height: 40px;
          }
        }

        &.column {
          .child {
            width: 40px;
            height: 100%;
          }
        }
      }
    }
  }

  .direction-test-case {
    margin-bottom: 10px;
    border: solid 1px #e5e5e5;

    &:last-child {
      margin-bottom: 0;
    }

    .content {
      height: 200px;
      display: flex;

      .child-1 {
        background-color: brown;
      }

      .child-2 {
        background-color: steelblue;
      }

      &.row {
        flex-direction: row;

        .child {
          width: 40px;
          height: 100%;
        }
      }

      &.column {
        flex-direction: column;

        .child {
          height: 40px;
          width: 100%;
        }
      }
    }
  }
}
