{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Flex decorators</div>
    <div class="demo--content">
        {% for name in ['grow', 'space-around', 'space-between', 'center', 'wrap', 'nowrap'] %}
            <div class="test-case {{ name }}">
                <header>{{ name }}</header>
                <div class="content">
                    {% for direction in ['row', 'column'] %}
                        <div class="direction-test-case">
                            <header>{{ direction }}</header>
                            {% set child_1_name = null %}
                            {% set child_2_name = null %}

                            {% if name == 'grow' %}
                                {% set child_1_name = name %}
                            {% endif %}

                            {% include "@Test/decorator/flex/test.html.twig" with {
                                name: name,
                                attributes: drupal_attribute().addClass(['content', direction]),
                                child_1_name: child_1_name,
                                child_2_name: child_2_name
                            } only %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
