{% set class = "iheid--decorator--flex--" ~ name %}

<div{{ attributes.addClass(class) }}>
    <div{{ drupal_attribute().addClass(['child child-1', child_1_name ? 'iheid--decorator--flex--' ~ child_1_name : '']) }}></div>
    <div{{ drupal_attribute().addClass(['child child-2', child_2_name ? 'iheid--decorator--flex--' ~ child_2_name : '']) }}></div>
</div>