@import "./variables";

@mixin iheid--entity--node--collaborator() {
  &.iheid--entity--node--view-mode-main-signature,
  &.iheid--entity--node--view-mode-secondary-signature {
    box-sizing: border-box;

    .content-type-label {
      display: none;
    }

    .node__content {
      height: 100%;
    }

    @include iheid--theme--device--medium() {
      height: unset;
    }
  }

  &.iheid--entity--node--view-mode-main-signature {
    height: iheid--util--to-em(140);

    @include iheid--theme--device--medium() {
      height: iheid--util--to-em(190);
    }
  }

  &.iheid--entity--node--view-mode-secondary-signature {
    height: iheid--util--to-em(140);
  }
}
