{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Discrete parts datetime formatter</div>
    <div class="demo--content">
        {% include "@Test/field/formatter/discrete-parts-datetime/test.html.twig" with {
            value: data.date,
            settings: {
                parts_separator: ", "
            }
        } only %}
    </div>
{% endblock %}
