{% set date = value|date('d F Y') %}
{% set time = value|date('H:i') %}

{% include "@Src/field/formatter/discrete-parts-datetime/index.html.twig" with {
    date: date,
    time: time,
    parts_separator: settings.parts_separator
} only %}
