@import "./mixins";
@import "variables";
@import "../../theme/device/mixins";
@import "../../util/mixins";

.iheid--decorator--padding {
  @each $name in ('none', 'nano', 'micro', 'mini', 'small', 'medium', 'large') {
    &--#{$name} {
      @include iheid--util--device-variants() {
        @include iheid--decorator--padding($name);
      }
    }

    @each $side in ('top', 'end', 'bottom', 'start') {
      &--#{$side}--#{$name} {
        @include iheid--util--device-variants() {
          @include iheid--decorator--padding($name, $side);
        }
      }
    }

    @each $axis in ('horizontal', 'vertical') {
      &--#{$axis}--#{$name} {
        @include iheid--util--device-variants() {
          @include iheid--decorator--padding--axis($name, $axis);
        }
      }
    }

    &--rectangular--#{$name} {
      @include iheid--util--device-variants() {
        @include iheid--decorator--padding--rectangular($name);
      }
    }
  }
}
