@import "../../util/functions";
@import "../../util/mixins";
@import "variables";

@mixin iheid--decorator--padding($name, $side: null) {
  $value: map_get($iheid--decorator--padding--paddings, $name);

  @include iheid--util--side-value('padding', $value, $side);
}

@mixin iheid--decorator--padding--axis($name, $axis) {
  $value: map_get($iheid--decorator--padding--paddings, $name);

  @if ($axis == vertical) {
    @include iheid--util--side-value('padding', $value, top);
    @include iheid--util--side-value('padding', $value, bottom);
  } @else if ($axis == horizontal) {
    @include iheid--util--side-value('padding', $value, start);
    @include iheid--util--side-value('padding', $value, end);
  }
}

@mixin iheid--decorator--padding--rectangular($name: large) {
  @if ($name == large) {
    @include iheid--decorator--padding(medium, top);
    @include iheid--decorator--padding(large, end);
    @include iheid--decorator--padding(medium, bottom);
    @include iheid--decorator--padding(large, start);
  } @else if ($name == medium) {
    @include iheid--decorator--padding(small, top);
    @include iheid--decorator--padding(medium, end);
    @include iheid--decorator--padding(small, bottom);
    @include iheid--decorator--padding(medium, start);
  } @else if ($name == small) {
    @include iheid--decorator--padding(mini, top);
    @include iheid--decorator--padding(small, end);
    @include iheid--decorator--padding(mini, bottom);
    @include iheid--decorator--padding(small, start);
  } @else if ($name == mini) {
    @include iheid--decorator--padding(micro, top);
    @include iheid--decorator--padding(mini, end);
    @include iheid--decorator--padding(micro, bottom);
    @include iheid--decorator--padding(mini, start);
  } @else if ($name == micro) {
    @include iheid--decorator--padding(nano, top);
    @include iheid--decorator--padding(micro, end);
    @include iheid--decorator--padding(nano, bottom);
    @include iheid--decorator--padding(micro, start);
  } @else if ($name == nano) {
    @include iheid--decorator--padding(nano, end);
    @include iheid--decorator--padding(nano, start);
  }
}
