@import "../margin/variables";

$iheid--decorator--padding--none: $iheid--decorator--margin--none;
$iheid--decorator--padding--nano: $iheid--decorator--margin--nano;
$iheid--decorator--padding--micro: $iheid--decorator--margin--micro;
$iheid--decorator--padding--mini: $iheid--decorator--margin--mini;
$iheid--decorator--padding--small: $iheid--decorator--margin--small;
$iheid--decorator--padding--medium: $iheid--decorator--margin--medium;
$iheid--decorator--padding--large: $iheid--decorator--margin--large;

$iheid--decorator--padding--paddings: (
  none: $iheid--decorator--padding--none,
  nano: $iheid--decorator--padding--nano,
  micro: $iheid--decorator--padding--micro,
  mini: $iheid--decorator--padding--mini,
  small: $iheid--decorator--padding--small,
  medium: $iheid--decorator--padding--medium,
  large: $iheid--decorator--padding--large
)