@import "../../../demo";
@import "./test";

.demo--entity--node--event {
  > .demo--content {
    > .test-case {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;

      &.small-card {
        .content {
          $width: 400px;

          margin: auto;
          max-width: $width;

          &:before {
            content: "Width constrained to #{$width} for demonstration purpose";
            margin: 20px 0;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}
