{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Event node</div>
    <div class="demo--content">
        {% for view_mode_name in [
            'full',
            'teaser',
            'small-card'
        ] %}
            <div class="test-case {{ view_mode_name|kebab_case }}">
                <header>{{ view_mode_name }}</header>
                <div class="content">
                    {{ render_entity(data.entity, view_mode_name) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
