<!-- event node -->
{% include "@Src/entity/node/event/index.html.twig" with {
    attributes: drupal_attribute(),
    title_attributes: drupal_attribute(),
    content_attributes: drupal_attribute(),
    content: render_entity(entity, view_mode),
    node: entity,
    view_mode: view_mode.name
} only %}
