{% extends "@Test/demo.html.twig" %}

{% set children %}
    Lorem ipsum dolor sit amet
{% endset %}

{% block body %}
    <div class="demo--title">View-group field group</div>
    <div class="demo--content">
        {% for decorators in ['foo', 'bar'] %}
            <div class="test-case">
                <header>With .{{ decorators }} decorators</header>
                <div class="content">
                    {% include "@Test/field/group/view-group/test.html.twig" with {
                        children: children,
                        settings: {
                            decorators: decorators,
                        }
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
