@import "../../../demo";
@import "include";

.demo--field--group--view-group {
  .foo {
    height: 128px;
    background-color: #B24109;
  }

  .bar {
    width: 128px;
    height: 64px;
    background-color: steelblue;
  }
}
