<!-- {{ settings.name }} group -->
{% include "@Src/field/group/view-group/field-group-view-group.html.twig" with {
    attributes: drupal_attribute().addClass(settings.decorators),
    children: children
} only %}
