@import "../../../demo";
@import "../../../../src/theme/iconography/index";
@import "include";

.demo--iconography {
  .test-case {
    display: block;
    float: left;
    text-align: center;
    vertical-align: top;
    width: 9em;
    margin: 0;

    span {
      display: block;
      padding: 1.0em 0;
      overflow: hidden;
      font-size: 2.0em;
    }
  }
}
