{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Iconography</div>
    <div class="demo--content">
        {% set icons = data.icons %}
        {% for icon in icons %}
            <div class="test-case">
                <header>{{ icon.name }}</header>
                <span class="iheid--iconography--icon-{{ icon.name }}"></span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
