{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Entity reference label formatter</div>
    <div class="demo--content">
        {% for test_case in data.test_cases %}
            <div class="test-case">
                <header>{{ test_case.title }}</header>
                <div class="content">
                    {% include "@Test/field/formatter/entity-reference-label/test.html.twig" with {
                        value: test_case.value
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
