@import "variables";

@function iheid--theme--device--get-devices() {
  $result: ();

  $previousMin: 0;

  @for $i from 1 through length($devices) {
    $device: nth($devices, $i);
    $name: nth($device, 1);
    $min: nth($device, 2);
    $max: null;

    @if ($i < length($devices)) {
      $nextDevice: nth($devices, $i + 1);
      $max: nth($nextDevice, 2) - 1
    }

    $result: map_merge($result, (
      #{$name}: (
        min: nth($device, 2),
        max: $max
      )));
  }

  @return $result;
}