@import "../font/variables.scss";
@import "functions";
@import "variables";

@mixin iheid--theme--device($name, $mode: min, $type: screen) {
  $devices: iheid--theme--device--get-devices();

  $boundaries: map_get($devices, $name);

  @if ($boundaries) {
    $value: map_get($boundaries, $mode);

    @if ($value) {
      @media #{$type} and (#{$mode}-width: ($value / $iheid--theme--font--base-font-size) * 1em) {
        @content;
      }
    } @else {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin iheid--theme--device--medium($type: screen) {
  @include iheid--theme--device(medium, min, $type) {
    @content;
  }
}

@mixin iheid--theme--device--large($type: screen) {
  @include iheid--theme--device(large, min, $type) {
    @content;
  }
}

@mixin iheid--theme--device--x-large($type: screen) {
  @include iheid--theme--device(x-large, min, $type) {
    @content;
  }
}