{# full view mode #}
{% set view_mode = view_mode('full', [
    formatted_field('body', 'hidden', 'default')
]) %}

{% include "@Test/entity/paragraph/rich-text/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}