@import "../../../demo";
@import "./test";

.demo--field--group--link {
  .iheid--field--group--link {
    color: whitesmoke;

    .foo {
      height: 64px;
      background-color: brown;
    }

    .bar {
      height: 128px;
      background-color: steelblue;
    }
  }
}
