{% extends "@Test/demo.html.twig" %}

{% set children %}
    <div class="foo">Lorem ipsum</div>
    <div class="bar">Dolor sit amet</div>
{% endset %}

{% block body %}
    <div class="demo--title">Link field group</div>
    <div class="demo--content">
        {% for target in [null, '_blank'] %}
            <div class="test-case">
                <header>With {{ target ?? 'unset' }} target</header>
                <div class="content">
                    {% include "@Test/field/group/link/test.html.twig" with {
                        attributes: drupal_attribute({
                            target: target ?? '',
                            href: '#'
                        }),
                        children: children
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
