<!-- {{ settings.name }} group -->
{% include "@Src/field/group/link/index.html.twig" with {
    attributes: drupal_attribute({
        href: entity.get(settings.link_target).values[0].url,
        target: settings.target_attribute
    }).addClass(settings.decorators),
    children: children
} only %}
