@import "../../../demo";
@import "./test";

.demo--ui--slider {
  .iheid--ui--slider--no-js {
    @include iheid--ui--slider;
  }

  .slick-list {
    overflow: hidden;
  }

  .slide {
    img {
      margin: auto;
      display: block;
      height: 100%;
      width: auto;
    }
  }

  .test-case {
    header {
      text-align: center;
    }
  }
}
