{% extends "@Test/demo.html.twig" %}

{% block body %}
    {% set slides %}
        {% for i in 120..129 %}
            <div class="slide"><img src="https://picsum.photos/1920/320?image={{ i }}"></div>
        {% endfor %}
    {% endset %}

    <div class="demo--title">Slider</div>
    <div class="demo--content">
        <div class="test-case">
            <header>Default</header>
            {% include "@Test/ui/slider/basic/test.html.twig" with {
                attributes: drupal_attribute(),
                slides: slides
            } %}
        </div>
        <div class="test-case">
            <header>Slides to show: 2</header>
            {% include "@Test/ui/slider/basic/test.html.twig" with {
                attributes: drupal_attribute({
                    "data-slides-to-show": 2
                }),
                slides: slides
            } %}
        </div>
        <div class="test-case">
            <header>Slides to show: 5</header>
            {% include "@Test/ui/slider/basic/test.html.twig" with {
                attributes: drupal_attribute({
                    "data-slides-to-show": 5
                }),
                slides: slides
            } %}
        </div>
        <div class="test-case">
            <header>Slides to show: [1, 10]</header>
            {% include "@Test/ui/slider/basic/test.html.twig" with {
                attributes: drupal_attribute({
                    "data-slides-to-show": "[1, 10]"
                }),
                slides: slides
            } %}
        </div>

        <div class="test-case">
            <header>JavaScript disabled</header>
            {% include "@Test/ui/slider/basic/test.html.twig" with {
                attributes: drupal_attribute(),
                slides: slides,
                no_js: true
            } %}
        </div>
    </div>
{% endblock %}
