<div{{ attributes.addClass(no_js ? "iheid--ui--slider--no-js" : "iheid--ui--slider") }}>
    <div class="slides">
        {{ slides }}
    </div>
    <div class="navigation-arrows"></div>
    <div class="navigation-dots"></div>
</div>