{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Visual date field</div>
    <div class="demo--content">
        <em class="disclaimer">
            Fake frame color for demonstration purpose
        </em>
        {% for formatter in [
            'tear-off-calendar-sheet',
            'responsive-tear-off-calendar-sheet'
        ] %}
            <div class="test-case">
                <header>{{ formatter }} formatter</header>
                <div class="content">
                    {{ render_field(data.field, field_formatter(
                        formatter,
                        'hidden',
                        {
                            image_style: 'thumbnail_large',
                            responsive_image_style: 'thumbnail_large'
                        }
                    )) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
