{# full view mode #}
{% set view_mode = view_mode('full', [
    field_group('view-group', {name: 'root'}, [
        formatted_field('image', 'hidden', 'rendered-entity', {
            view_mode: 'fitted'
        }),
        formatted_field('caption', 'hidden', 'text-as-caption', {
            decorators: 'iheid--decorator--margin--top--mini'
        })
    ])
]) %}

{% include "@Test/entity/paragraph/image/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}