{% set timestamp = 'now'|date('U') %}
<!DOCTYPE html>
<html lang="{{ testLanguage ?? 'en' }}" dir="{{ testDirection ?? 'ltr' }}">
<head>
    {% block head %}
        <title>{{ testName }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="index.css?{{ timestamp }}">
    {% endblock %}
</head>
<body class="demo demo--{{ testCleanName }}">
{% block body %}
{% endblock %}
<script type="text/javascript" src="index.js?{{ timestamp }}"></script>
</body>
</html>
