@import "body/test";
@import "../src/theme/device/mixins";

.demo {
  &--title {
    font-size: 3.0em;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #333333;
    color: whitesmoke;
    padding: 8px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--content {
    @include iheid--theme--device--medium() {
      padding: 10px;
    }

    .test-case {
      border-color: #e5e5e5;
      border-top-style: solid;
      border-bottom-style: solid;
      border-width: 1px;

      @include iheid--theme--device--medium() {
        border-style: solid;
      }

      margin-bottom: 20px;

      @include iheid--theme--device--medium() {
        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }
      }

      > header, > .header {
        padding: 10px;
        border-bottom: solid 1px #e5e5e5;
        font-weight: bold;
        background-color: #fbf9f9;
      }
    }

    .disclaimer {
      margin: 0;
      font-style: italic;
    }
  }
}