{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Text default formatter</div>
    <div class="demo--content">
        {% include "@Test/field/formatter/text-default-formatter/test.html.twig" with data %}
    </div>
{% endblock %}
