{% set view_mode = view_mode('contact-list', [
    formatted_field('field_collaborators', 'hidden', 'rendered_entity', {
        view_mode: 'teaser',
    })
]) %}

{% include "@Test/entity/term/test.html.twig" with {
    content: render_entity(entity, view_mode),
    view_mode: view_mode.name,
    term: entity
} only %}