{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">decorator/border</div>
    <div class="demo--content">
        <div class="test-case">
            <div class="content">
                {% include "@Test/decorator/border/test.html.twig" with data only %}
            </div>
        </div>
    </div>
{% endblock %}
