{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Page</div>
    <div class="demo--content">
        {% include "@Test/layout/page/basic/test.html.twig" with {
            entity: data.entity,
            banner: render_entity(data.entity, 'banner')
        } only %}
    </div>
{% endblock %}