{% set header_top_start %}
    <div>header_top_start</div>
{% endset %}

{% set header_top_end %}
    <div>header_top_end</div>
{% endset %}

{% set header_main %}
    {% set header_main_content %}
        {{ render_block(render_entity(entity, 'logos'), {
            decorators: 'iheid--decorator--alignment--self--start'
        }) }}
    {% endset %}

    {% include "@Test/layout/region/header-main/test.html.twig" with {
        content: header_main_content
    }%}
{% endset %}

{% set banner %}
    {{ render_block(banner) }}
{% endset %}

{% set toolbar_start %}
    <div>toolbar_start</div>
{% endset %}

{% set toolbar_end %}
    <div>toolbar_end</div>
{% endset %}

{% set pre_content %}
    <div>pre_content</div>
{% endset %}

{% set content %}
    {{ render_entity(entity, 'full') }}
{% endset %}

{% set post_content %}
    <div>post_content</div>
{% endset %}

{% set footer_main %}
    <div>footer_main</div>
{% endset %}

{% set footer_bottom_start %}
    <div>footer_bottom_start</div>
{% endset %}

{% set footer_bottom_end %}
    <div>footer_bottom_end</div>
{% endset %}

{% include "@Src/layout/page/page.html.twig" with {
    page: {
        header_top_start: header_top_start,
        header_top_end: header_top_end,
        header_main: header_main,
        banner: banner,
        toolbar_start: toolbar_start,
        toolbar_end: toolbar_end,
        pre_content: pre_content,
        content: content,
        post_content: post_content,
        footer_main: footer_main,
        footer_bottom_start: footer_bottom_start,
        footer_bottom_end: footer_bottom_end
    }
} only %}