{#
/**
 * @file datetime-formatter-discrete-parts.html.twig
 * Default theme implementation to display date with discrete parts.
 *
 * Available variables:
 * - date: Formatted date
 * - time: Formatted time
 * - parts_separator: Plain text string to separate the parts of the dates
 *
 * @ingroup themeable
 */
#}
<div class="iheid--field--formatter--discrete-parts-datetime">
    <span class="date">{{ date }}</span>{{ parts_separator }}<span class="time">{{ time }}</span>
</div>