{% set view_mode = view_mode('full', [
    formatted_field('content_type', 'hidden', 'content_type', {
        decorators: 'iheid--decorator--padding--small iheid--decorator--padding--horizontal--large----beyond-medium'
    }),
    field_group('view_group', {name: 'root', label: 'Root group', decorators: 'iheid--decorator--color--background--even-background iheid--decorator--padding--small----below-large iheid--decorator--padding--large----beyond-medium iheid--decorator--alignment--center----below-large'}, [
        formatted_field('field_top_header', 'hidden', 'text_as_author'),
        field_group('linear_layout', {name: 'inner', label: 'Inner group', decorators: 'iheid--decorator--flex--wrap----below-large iheid--decorator--flex--direction--column----below-large iheid--decorator--flex--direction--row-reverse----beyond-medium'}, [
            field_group('view_group', {name: 'first_column', decorators: 'iheid--decorator--flex--grow--2 iheid--decorator--margin--start--micro----beyond-medium iheid--decorator--margin--top--mini'}, [
                field_group('linear_layout', {name: 'assets', label: 'Assets group', decorators: 'iheid--decorator--flex--center----below-large iheid--decorator--padding--top--mini----beyond-medium'}, [
                    formatted_field('visual_date', 'hidden', 'responsive_tear_off_calendar_sheet', {
                        responsive_image_style: 'thumbnail_large',
                        decorators: 'iheid--decorator--color--background--primary'
                    }),
                    formatted_field('field_main_image', 'hidden', 'rendered_entity', {
                        view_mode: 'thumbnail_large_responsive',
                        decorators: 'iheid--decorator--margin--start--nano'
                    })
                ]),

            ]),
            field_group('view_group', {name: 'second_column', decorators: 'iheid--decorator--flex--grow iheid--decorator--margin--end--micro----beyond-medium'}, [

                formatted_field('title', 'hidden', 'text_as_heading', {
                    level: 3,
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
                formatted_field('field_author', 'hidden', 'rendered_entity', {
                    view_mode: 'signature_text',
                    decorators: 'iheid--decorator--margin--top--micro'
                }),
                field_group('linear_layout', {name: 'date_and_location', label: 'Date and location group', decorators: 'iheid--decorator--margin--top--mini iheid--decorator--flex--wrap iheid--decorator--flex--direction--column----below-large iheid--decorator--flex--direction--row----beyond-medium'}, [
                    formatted_field('field_start_end_date', 'hidden', 'discrete_parts_daterange', {
                        parts_separator: ', ',
                        separator: ' - ',
                        format_type: 'human_readable_date',
                        time_format_type: 'short_time'
                    }),
                    formatted_field('field_location', 'hidden', 'plain_text', {
                        decorators: 'iheid--decorator--margin--start--nano----beyond-medium'
                    })
                ]),
                formatted_field('body', 'hidden', 'plain_text', {
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
            ]),

        ]),
        field_group('linear_layout', {name: 'social', label: 'Social column', decorators: 'iheid--decorator--flex--direction--column----below-large iheid--decorator--flex--wrap'}, [
            formatted_field('add_to_calendar', 'visible', 'add_to_calendar', {
                decorators: 'iheid--decorator--margin--top--mini'
            }),
            formatted_field('social_share', 'visible', 'social-share', {
                decorators: 'iheid--decorator--margin--top--mini iheid--decorator--margin--start--small----beyond-medium'
            })
        ]),
    ]),
    field_group('linear_layout', {name: 'content', decorators: '
    iheid--decorator--flex--direction--column-reverse----below-large
    iheid--decorator--padding--horizontal--small----below-large
    iheid--decorator--padding--top--small----below-large
    iheid--decorator--padding--horizontal--large----beyond-medium
    iheid--decorator--padding--top--medium----beyond-medium'}, [
        formatted_field('field_editorial_content', 'hidden', 'rendered_entity', {
            view_mode: 'compact',
            items_layout: 'spaced',
            decorators: 'iheid--decorator--margin--top--small----below-large iheid--decorator--margin--end--small----beyond-medium iheid--decorator--dimension--width--two-thirds----beyond-medium'
        }),
        formatted_field('field_raw_content', 'hidden', 'raw_text', {
            decorators: 'iheid--decorator--margin--start--small----beyond-medium iheid--decorator--dimension--width--one-third----beyond-medium'
        })
    ])
]) %}

{% include "@Test/entity/node/event/test.html.twig" with {
    view_mode: view_mode
} %}
