{% set view_mode = view_mode('small-card', [
    field_group('link', {name: 'cta', label: 'CTA group', target_attribute: 'blank', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--padding--top--micro'}, [
        formatted_field('content_type', 'hidden', 'content_type', {
            variant: 'badge',
            decorators: 'iheid--decorator--position--absolute'
        }),
        field_group('linear_layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--flex--space-between iheid--decorator--flex--direction--column iheid--decorator--marging--top--mini iheid--decorator--padding--micro iheid--decorator--border iheid--decorator--color--background--secondary-light'}, [
            formatted_field('field_top_header', 'hidden', 'text_as_author', {
                decorators: 'iheid--decorator--margin--top--micro'
            }),
            field_group('linear_layout', {name: 'assets', label: 'Assets group', decorators: 'iheid--decorator--margin--top--micro iheid--decorator--flex--center'}, [
                formatted_field('visual_date', 'hidden', 'tear_off_calendar_sheet', {
                    image_style: 'thumbnail_medium',
                    decorators: 'iheid--decorator--color--background--primary iheid--decorator--flex--center iheid--decorator--margin--end--nano iheid--decorator--flex--direction--column'
                }),
                formatted_field('field_main_image', 'hidden', 'rendered_entity', {
                    view_mode: 'thumbnail_medium',
                    decorators: 'iheid--decorator--margin--start--nano'
                })
            ]),
            formatted_field('title', 'hidden', 'text-as-heading', {
                level: 4,
                decorators: 'iheid--decorator--margin--top--micro'
            }),
            formatted_field('field_author', 'hidden', 'rendered_entity', {
                view_mode: 'signature_text',
                decorators: 'iheid--decorator--margin--top--micro'
            }),
            formatted_field('field_location', 'hidden', 'text-as-heading', {
                level: 6,
                variant: 'bland',
                decorators: 'iheid--decorator--margin--top--micro'
            })
        ])
    ])
]) %}

{% include "@Test/entity/node/event/test.html.twig" with {
    view_mode: view_mode
} %}