{% set view_mode = view_mode('full', [
    field_group('view_group', {name: 'root', label: 'Root group', decorators: 'iheid--decorator--color--background--even-background iheid--decorator--padding--small----below-large iheid--decorator--padding--large----beyond-medium iheid--decorator--alignment--center----below-large'}, [
        field_group('linear_layout', {name: 'inner', label: 'Inner group', decorators: 'iheid--decorator--flex--wrap----below-large iheid--decorator--flex--direction--column----below-large'}, [
            field_group('linear_layout', {name: 'first_column', decorators: 'iheid--decorator--flex--grow iheid--decorator--margin--end--micro----beyond-medium iheid--decorator--margin--top--mini iheid--decorator--flex--direction--column'}, [
                field_group('linear_layout', {name: 'assets', label: 'Assets group', decorators: 'iheid--decorator--flex--center----below-large iheid--decorator--padding--top--mini----beyond-medium'}, [
                    formatted_field('visual_date', 'hidden', 'responsive_tear_off_calendar_sheet', {
                        responsive_image_style: 'thumbnail_large',
                        decorators: 'iheid--decorator--color--background--primary'
                    }),
                    formatted_field('field_main_image', 'hidden', 'rendered_entity', {
                        view_mode: 'thumbnail_large_responsive',
                        decorators: 'iheid--decorator--margin--start--nano'
                    })
                ]),

            ]),
            field_group('linear_layout', {name: 'second_column', decorators: 'iheid--decorator--flex--grow iheid--decorator--margin--start--micro----beyond-medium iheid--decorator--flex--direction--column'}, [
                formatted_field('title', 'hidden', 'text_as_heading', {
                    level: 3,
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
                formatted_field('field_author', 'hidden', 'rendered_entity', {
                    view_mode: 'signature_text',
                    decorators: 'iheid--decorator--margin--top--micro'
                }),
                field_group('linear_layout', {name: 'date_and_location', label: 'Date and location group', decorators: 'iheid--decorator--margin--top--mini iheid--decorator--flex--wrap iheid--decorator--flex--direction--column----below-large iheid--decorator--flex--direction--row----beyond-medium'}, [
                    formatted_field('field_start_end_date', 'hidden', 'discrete_parts_daterange', {
                        parts_separator: ', ',
                        separator: ' - ',
                        format_type: 'human_readable_date',
                        time_format_type: 'short_time'
                    }),
                    formatted_field('field_location', 'hidden', 'plain_text', {
                        decorators: 'iheid--decorator--margin--start--nano----beyond-medium'
                    })
                ]),
                formatted_field('body', 'hidden', 'plain_text', {
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
            ]),
        ])
    ])
]) %}

{% include "@Test/entity/node/event/test.html.twig" with {
    view_mode: view_mode
} %}