{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">misc/contact-list</div>
    <div class="demo--content">
        {% include "@Test/misc/contact-list/test.html.twig" with data only %}
    </div>
{% endblock %}
