{% set view_mode = view_mode('teaser', [
    field_group('view_group', {name: 'root', label: 'Root', decorators: 'iheid--decorator--alignment--center iheid--decorator--padding--vertical--small iheid--decorator--padding--horizontal--mini iheid--decorator--border--top'}, [
        formatted_field('title', 'hidden', 'text-as-author'),
        formatted_field('field_collaborators', 'hidden', 'rendered_entity', {
            view_mode: 'contact',
            decorators: 'iheid--decorator--margin--top--mini'
        }),
    ])
]) %}

{% include "@Test/entity/node/contact/test.html.twig" with {
    view_mode: view_mode
} %}
