@import "variables";
@import "../theme/color/variables";
@import "../theme/font/mixins";

@mixin iheid--body--overlay() {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.35;
}

@mixin iheid--body() {
  @include iheid--theme--font--ui;
  color: $iheid--theme--color--secondary-dark;
  font-size: $iheid--theme--font--base-font-size * 1px;
  margin: 0;
  padding: 0;

  &.has-overlay {
    overflow: hidden;
  }

  > .overlay {
    @include iheid--body--overlay;
  }
}