{#
/**
 * @file
 * Default theme implementation for the default Social profile formatter.
 *
 * Available variables:
 * - network: The name of the social network in plain text.
 * - title: The title of the social profile.
 * - url: the URL of the profile in plain text.
 *
 * @see template_preprocess_social_profile_formatter()
 *
 * @ingroup themeable
 */
#}
{{ network }}
{{ title }}
{{ url }}
