@import "./variables";
@import "../../theme/color/variables";
@import "../../theme/font/variables";
@import "../../theme/typography/mixins";
@import "../../theme/device/mixins";
@import "../padding/mixins";
@import "../color/mixins";

@mixin iheid--decorator--brand-box() {
  @include iheid--typography--ui;
  @include iheid--decorator--color(background, primary);
  @include iheid--decorator--color(foreground, secondary-light);
  text-transform: initial;
  @include iheid--decorator--padding(micro, null);

  @include iheid--theme--device--medium() {
    @include iheid--decorator--padding(small);
  }
}