{#
/**
 * @file contacts-list.html.twig
 * Theme override for a contacts list.
 *
 * Available variables:
 * - service_url: The URL to the web service that returns the contacts list.
 */
#}
{{ service_url }}
