@import "./mixins";
@import "../../util/mixins";

.iheid--decorator--dimension {
  @each $name in ('width', 'height') {
    @each $value in ('one-third', 'half', 'two-thirds', 'full') {
      &--#{$name}--#{$value} {
        @include iheid--util--device-variants {
          @include iheid--decorator--dimension($name, $value);
        }
      }
    }
  }
}