@import "./variables";

@mixin iheid--decorator--dimension($name, $value, $responsive: false) {
  box-sizing: border-box;

  @if ($value == one-third) {
    $value: percentage(1/3);
  } @else if ($value == half) {
    $value: percentage(1/2);
  } @else if ($value == two-thirds) {
    $value: percentage(2/3);
  } @else if ($value == full) {
    $value: percentage(1);
  }

  #{$name}: #{$value};
}