@import "./variables";
@import "../../../theme/device/mixins";
@import "../../../util/functions";

@mixin iheid--field--type--social-profile() {
  .field__item {
    display: inline-block;
    margin-right: 0.5em;
    font-size: iheid--util--to-em(12);

    &:last-child {
      margin-right: 0;
    }
  }
}