<div class="app-bar">
    <button onclick="{onBurgerClick}" class="burger"></button>
</div>
<div class="menu-wrapper">
    <div class="menu" data-is="outline-view" model={model.outlineView}></div>
</div>
<div class="content">
    <iframe src="{model.selectedItem.url}"></iframe>
</div>