{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Overlay decorator</div>
    <div class="demo--content">
        <div class="iheid--decorator--overlay"></div>
    </div>
{% endblock %}
