@import "../../../demo.scss";
@import "context.scss";

.demo--decorator--overlay {
  .demo--content {
    > div {
      background: crimson;
      width: 100%;
      height: 240px;
      opacity: 0.50;
    }
  }
}
