{#
/**
 * @file content-type-formatter.html.twig
 * Default theme implementation to content type field item.
 *
 * Available variables:
 * - text: The content type of the entity.
 * - variant: The name of the variant.
 * -
 *
 * @ingroup themeable
 */
#}
<div class="iheid--field--formatter--content-type{% if variant %}--{{ variant|clean_class }}{% endif %}">
    {{ text }}
</div>