@import "./variables";
@import "../../../theme/heading/mixins";

@mixin iheid--field--formatter--content-type() {
  @include iheid--theme--heading--2(uniform);
  color: $iheid--theme--color--primary;
}

@mixin iheid--field--formatter--content-type--badge() {
  position: relative;
  @include iheid--typography--ui;
  font-weight: bold;
  font-size: iheid--util--to-em(12);
  background-color: $iheid--theme--color--secondary-dark;
  text-transform: uppercase;
  padding: 3px 10px;
  color: $iheid--theme--color--secondary-light;
  width: auto;
  display: inline-block;
  z-index: 1;
}