{#
/**
 * @file text-formatter-copyright.html.twig
 * Default theme implementation to display a text as a copyright.
 *
 * Available variables:
 * - text: The processed text.
 *
 * @ingroup themeable
 */
#}
<div class="iheid--field--formatter--text-as-copyright">
    {{ text }}
</div>