{#
/**
 * @file menu-local-tasks.html.twig
 * Default theme implementation to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.

 * @ingroup themeable
 */
#}
<div class="iheid--system--menu-local-tasks">
    {% if primary %}
        <h2>{{ 'Primary tabs'|t }}</h2>
        <ul>{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
        <h2>{{ 'Secondary tabs'|t }}</h2>
        <ul>{{ secondary }}</ul>
    {% endif %}
</div>
