@import "./variables";
@import "../../theme/visually-hidden/mixins";
@import "../../decorator/border/mixins";
@import "../../decorator/padding/mixins";
@import "../../ui/link/mixins";

@mixin iheid--system--menu-local-tasks() {
  @include iheid--decorator--padding--axis(micro, horizontal);

  @include iheid--theme--device--medium() {
    @include iheid--decorator--padding--axis(none, horizontal);
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    @include iheid--theme--device--medium() {
      display: flex;
      border-bottom: solid 3px $iheid--theme--color--secondary;
    }
  }

  li {
    display: block;
    @include iheid--decorator--padding(micro);
    @include iheid--decorator--border;
    font-size: iheid--util--to-em(14);

    border-top-width: 0;

    &:first-child {
      border-top-width: 1px;
    }

    @include iheid--theme--device--medium() {
      @include iheid--decorator--padding--axis(mini, horizontal);
      border-top-width: 1px;
      border-left-width: 0;
      border-bottom-width: 0;

      &:first-child {
        border-left-width: 1px;
      }
    }

    a {
      @include iheid--ui--link;
      text-transform: uppercase;
    }
  }

  > h2 {
    @include theme--visually-hidden();
  }
}