{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Link field</div>
    <div class="demo--content">
        {% for formatter in data.formatters %}
            <div class="test-case">
                <header>{{ formatter.name|title }} formatter</header>
                <div class="content">
                    {{ render_field(data.field, formatter) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
