{% set view_mode = view_mode('full', [
    field_group('view_group', {name: 'root', label: 'Root group', decorators: 'iheid--decorator--padding--rectangular--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium'}, [
        formatted_field('title', 'hidden', 'text_as_heading', {
            level: 2,
            decorators: 'iheid--decorator--color--foreground--primary'
        }),
        formatted_field('page_introduction', 'hidden', 'plain_text', {
            decorators: 'iheid--decorator--margin--top--mini'
        }),
        formatted_field('page_author', 'hidden', 'plain_text', {
            decorators: 'iheid--decorator--margin--top--mini'
        })
    ]),
    field_group('linear_layout', {name: 'content', decorators: 'iheid--decorator--flex--direction--column----below-large iheid--decorator--padding--horizontal--small----below-large iheid--decorator--padding--horizontal--large----beyond-medium'}, [
        formatted_field('field_main_content', 'hidden', 'rendered-entity', {
            view_mode: 'compact',
            items_layout: 'spaced',
            decorators: 'iheid--decorator--dimension--width--two-thirds----beyond-medium iheid--decorator--padding--end--large----beyond-medium'
        }),
        field_group('view_group', {name: 'Secondary column', decorators: 'iheid--decorator--dimension--width--one-third----beyond-medium'}, [
            formatted_field('field_secondary_content', 'hidden', 'rendered-entity', {
                view_mode: 'full',
                items_layout: 'spaced'
            })
        ])
    ]),
    formatted_field('field_editorial_content', 'hidden', 'rendered-entity', {
        view_mode: 'full',
        items_layout: 'spaced',
        decorators: 'iheid--decorator--flex--direction--column----below-large iheid--decorator--padding--horizontal--small----below-large iheid--decorator--padding--horizontal--large----beyond-medium iheid--decorator--margin--bottom--small'
    }),
]) %}

{% include "@Test/entity/node/page/test.html.twig" with {
    view_mode: view_mode
} %}
