{% set view_mode = view_mode('slider-card', [
    field_group('view_group', {name: 'root', label: 'Root group'}, [
        formatted_field('field_banner_image', 'hidden', 'rendered_entity', {
            view_mode: 'small_card_banner'
        }),
        field_group('view_group', {name: 'main', decorators: 'iheid--decorator--padding--micro'}, [
            formatted_field('title', 'hidden', 'text_as_heading', {
                level: 4,
                variant: 'bland',
                decorators: 'iheid--decorator--color--foreground--primary iheid--decorator--margin--top--micro'
            }),
            formatted_field('page_introduction', 'hidden', 'plain_text', {
                decorators: 'iheid--decorator--margin--top--small'
            }),
        ])
    ])
]) %}

{% include "@Test/entity/node/page/test.html.twig" with {
    view_mode: view_mode
} %}
