{% set view_mode = view_mode('small-card', [
    field_group('link', {name: 'link', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--padding--top--micro'}, [
        formatted_field('content_type', 'hidden', 'content_type', {
            variant: 'badge',
            decorators: 'iheid--decorator--position--absolute'
        }),
        field_group('linear-layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--flex--direction--column iheid--decorator--border iheid--decorator--color--background--secondary-light'}, [
            formatted_field('field_banner_image', 'hidden', 'rendered_entity', {
                view_mode: 'small_card_banner'
            }),
            field_group('view_group', {name: 'main', decorators: 'iheid--decorator--padding--micro iheid--decorator--flex--grow'}, [
                formatted_field('page_top_header', 'hidden', 'text_as_author', {
                    decorators: 'iheid--decorator--margin--top--small'
                }),
                formatted_field('title', 'hidden', 'text_as_heading', {
                    level: 3,
                    decorators: "iheid--decorator--margin--top--mini"
                })
            ])
        ])
    ])
]) %}

{% include "@Test/entity/node/page/test.html.twig" with {
    view_mode: view_mode
} %}
