{% set view_mode = view_mode('three-columns-small-card', [
    formatted_field('field_banner_image', 'hidden', 'rendered_entity', {
        view_mode: 'small_card_banner_thick'
    }),
    field_group('view_group', {name: 'root', decorators: 'iheid--decorator--padding--horizontal--micro iheid--decorator--padding--vertical--mini'}, [
        formatted_field('title', 'hidden', 'text_as_heading ', {
            level: 3,
            variant: 'bland',
            decorators: "iheid--decorator--color--foreground--primary"
        }),
        formatted_field('page_introduction', 'hidden', 'plain_text', {
            decorators: "iheid--decorator--margin--top--small"
        }),
    ])
]) %}

{% include "@Test/entity/node/page/test.html.twig" with {
    view_mode: view_mode
} %}
