{% set image = render_responsive_image(value.image, settings.responsive_image_style) %}

{% include "@Src/field/formatter/responsive-tear-off-calendar-sheet/index.html.twig" with {
    date_parts: value.date_parts,
    responsive_image: image
} only %}
