@import "../../theme/device/mixins";
@import "../../theme/color/mixins";
@import "../../theme/font/mixins";
@import "../../decorator/padding/variables";
@import "../../util/functions";

@mixin iheid--form--input() {
  @include iheid--theme--font--ui;
  background: $iheid--theme--color--secondary;
  font-weight: 600;
  font-size: iheid--util--to-em($iheid--theme--font--base-font-size);
  border: none;
  padding-left: iheid--util--to-em($iheid--decorator--padding--mini);
  padding-right: iheid--util--to-em($iheid--decorator--padding--mini);
  height: 44px;
  box-sizing: border-box;
  outline: none;
  color: $iheid--theme--color--secondary-dark;
  width: 100%;
}