{% set view_mode = view_mode('full', [
    formatted_field('content_type', 'hidden', 'content_type', {
        decorators: 'iheid--decorator--padding--small iheid--decorator--padding--horizontal--large----beyond-medium'
    }),
    field_group('view_group', {name: 'hero', label: 'Hero group', decorators: 'iheid--decorator--padding--small----below-large iheid--decorator--padding--large----beyond-medium iheid--decorator--alignment--center----below-large iheid--decorator--color--background--even-background'}, [
        field_group('linear_layout', {name: 'inner', label: 'Inner group', decorators: 'iheid--decorator--flex--direction--column----below-large iheid--decorator--flex--direction--row----beyond-medium'}, [
            field_group('linear_layout', {name: 'first column', label: 'First column', decorators: 'iheid--decorator--flex--grow iheid--decorator--margin--bottom--mini iheid--decorator--alignment--center----below-large iheid--decorator--flex--direction--column iheid--decorator--margin--end--micro----beyond-medium'}, [
                formatted_field('field_main_image', 'hidden', 'rendered_entity', {
                    decorators: 'iheid--decorator--margin--start--auto----beyond-medium',
                    view_mode: 'book_cover_large_responsive'
                })
            ]),
            field_group('view_group', {name: 'second column', label: 'Second column', decorators: 'iheid--decorator--flex--grow'}, [
                field_group('linear_layout', {name: 'second column inner', label: 'Second column inner', decorators: 'iheid--decorator--margin--auto----below-large iheid--decorator--pillar--medium iheid--decorator--flex--direction--column iheid--decorator--margin--start--micro----beyond-medium'}, [
                    formatted_field('field_top_header', 'hidden', 'text_as_author'),
                    formatted_field('title', 'hidden', 'text_as_heading', {
                        level: 3,
                        decorators: 'iheid--decorator--margin--top--mini'
                    }),
                    formatted_field('field_author', 'hidden', 'rendered_entity', {
                        view_mode: 'signature_text',
                        decorators: 'iheid--decorator--margin--top--micro'
                    }),
                    formatted_field('field_publication_date', 'hidden', 'datetime_default', {
                        format_type: 'month_year',
                        decorators: 'iheid--decorator--margin--top--small'
                    }),
                    formatted_field('body', 'hidden', 'plain_text', {
                        decorators: 'iheid--decorator--margin--top--mini'
                    }),
                    formatted_field('field_cta', 'hidden', 'link_as_button', {
                        variant: 'secondary',
                        decorators: 'iheid--decorator--margin--top--medium'
                    }),
                    formatted_field('social_share', 'visible', 'social_share', {
                        decorators: 'iheid--decorator--margin--top--small'
                    }),
                ])
            ])
        ])
    ])
]) %}

{% include "@Test/entity/node/publication/test.html.twig" with {
    view_mode: view_mode
} %}
