{% set view_mode = view_mode('small-card', [
    field_group('link', {name: 'link', label: 'Link group', target_attribute: 'blank', decorators: 'iheid--decorator--padding--top--micro'}, [
        formatted_field('content_type', 'hidden', 'content_type', {
            variant: 'badge',
            decorators: 'iheid--decorator--position--absolute'
        }),
        field_group('linear_layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--flex--direction--column iheid--decorator--padding--micro iheid--decorator--border iheid--decorator--color--background--secondary-light'}, [
            formatted_field('field_main_image', 'hidden', 'rendered_entity', {
                view_mode: 'book_cover_medium',
                decorators: 'iheid--decorator--margin--top--micro iheid--decorator--margin--auto'
            }),
            formatted_field('field_top_header', 'hidden', 'text_as_author', {
                decorators: 'iheid--decorator--margin--top--small'
            }),
            formatted_field('title', 'hidden', 'text_as_heading', {
                level: 4,
                decorators: 'iheid--decorator--margin--top--mini'
            })
        ])
    ])
]) %}

{% include "@Test/entity/node/publication/test.html.twig" with {
    view_mode: view_mode
} %}