@import "./mixins";

.iheid--field--formatter--link-as-fake-button--primary {
  @include iheid--field--formatter--link-as-fake-button;
}

.iheid--field--formatter--link-as-fake-button--secondary {
  @include iheid--field--formatter--link-as-fake-button(secondary);
}

.iheid--field--formatter--link-as-fake-button--download {
  @include iheid--field--formatter--link-as-fake-button(download);
}