{#
/**
 * @file link-formatter-button.html.twig
 * Default theme implementation of a link formatted as a button.
 *
 * Available variables:
 * - url: The URL of the link
 * - title: (optional) A descriptive or alternate title for the link, which may
 *   be different than the actual link text.
 * - variant: The name of the variant
 * - attributes: List of HTML attributes of the link
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_button()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--field--formatter--link-as-fake-button--' ~ (variant ?? variant)
] %}

<div{{ attributes.addClass(classes) }}>
    <div class="inner">
        <span class="title">{{ title }}</span>
    </div>
</div>
