@import "./variables";
@import "../link-as-button/mixins";

@mixin iheid--field--formatter--link-as-fake-button($variant: null) {
  @include iheid--field--formatter--link-formatter-button($variant);

  &:hover {
    cursor: inherit;
    background: none;
  }

  @if ($variant == download) {
    &:hover {
      &:after {
        color: $iheid--theme--color--secondary-light;
      }
    }
  }
}