{% import "@Test/demo.html.twig" as macros %}

{# full view mode #}
{% set view_mode = view_mode('full', [
    field_group('view-group', {name: 'root', decorators: 'iheid--decorator--padding--micro----below-large iheid--decorator--padding--large----beyond-medium'}, [
        formatted_field('field_image', 'hidden', 'rendered-entity', {
            view_mode: 'fitted',
            decorators: 'iheid--decorator--visibility--hidden----beyond-medium'
        }),
        field_group('view-group', {name: 'main', decorators: 'iheid--decorator--brand-box iheid--decorator--dimension--width--half----beyond-medium'}, [
            field_group('linear-layout', {name: 'brand-box-inner', decorators: 'iheid--decorator--flex--direction--column'}, [
                formatted_field('field_top_header', 'hidden', 'plain-text'),
                formatted_field('field_header', 'hidden', 'text-as-heading', {
                    level: 2,
                    variant: 'uniform',
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
                formatted_field('field_description', 'hidden', 'plain-text', {
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
                formatted_field('field_link', 'hidden', 'link-as-button', {
                    decorators: 'iheid--decorator--margin--top--mini',
                    variant: 'primary'
                })
            ])
        ])
    ])
]) %}

{% include "@Test/entity/paragraph/static-banner/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
