{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Three cards field</div>
    <div class="demo--content">
        {% for test_case in data.test_cases %}
            <div class="test-case">
                <header>{{ test_case.title }}</header>
                <div class="content">
                    {{ render_field(test_case.field, field_formatter(
                        'plain_text',
                        'hidden'
                    )) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
