{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Add-to-calendar field</div>
    <div class="demo--content">
        {% for formatter in ['add_to_calendar'] %}
            <div class="test-case">
                <header>{{ formatter }} formatter</header>
                <div class="content">
                    {{ render_field(data.field, field_formatter(
                        formatter,
                        'visible'
                    )) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
