{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Discrete parts daterange formatter</div>
    <div class="demo--content">
        {% for is_same_day in [true, false] %}
            <div class="test-case">
                <header>{{ is_same_day ? 'Spanning one day' : 'Spanning many days' }}</header>
                <div class="content">
                    {% set end_date = data.start_date %}
                    {% if not is_same_day %}
                        {% set end_date = end_date|date_modify('+1day') %}
                    {% endif %}
                    {% set end_date = end_date|date_modify('+1hour') %}

                    {% include "@Test/field/formatter/discrete-parts-daterange/test.html.twig" with {
                        value: {
                            value: data.start_date,
                            end_value: end_date
                        },
                        settings: {
                            separator: ' - ',
                            parts_separator: ', '
                        }
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
