{% if (settings.format_type == 'human_readable_date') %}
    {% set format = 'd F Y' %}
    {% set start_date = value.value|date(format) %}
    {% set end_date = value.end_value|date(format) %}
{% endif %}

{% if (settings.time_format_type == 'short_time') %}
    {% set format = 'H:i' %}
    {% set start_time = value.value|date(format) %}
    {% set end_time = value.end_value|date(format) %}
{% endif %}

{% include "@Src/field/formatter/discrete-parts-daterange/index.html.twig" with {
    start_date: start_date,
    start_time: start_time,
    end_date: end_date,
    end_time: end_time,
    parts_separator: settings.parts_separator,
    separator: settings.separator,
} only %}
