{% include "@Src/entity/node/index.html.twig" with {
    attributes: drupal_attribute(),
    title_attributes: drupal_attribute(),
    content_attributes: drupal_attribute(),
    view_mode: view_mode.name,
    content: render_entity(entity, view_mode),
    node: entity
} %}
