@import "../../../demo";
@import "../../../../src/theme/device/mixins";

@mixin demo--theme--device--match {
  border-color: saddlebrown;
  background-color: wheat;
  color: crimson;

  .match {
    display: block;
  }

  .no-match {
    display: none;
  }
}

@mixin demo--theme--device--no-match {
  border-color: black;
  background-color: white;
  color: black;

  .match {
    display: none;
  }

  .no-match {
    display: block;
  }
}

.demo--theme--device {
  .test-case {
    .content {
      border: solid 1px gray;
      padding: 1.0em;
      text-transform: uppercase;
      font-weight: bolder;
      font-family: monospace;

      @include demo--theme--device--match;

      &.device-medium {
        @include demo--theme--device--no-match;

        @include iheid--theme--device--medium() {
          @include demo--theme--device--match;
        }
      }

      &.device-large {
        @include demo--theme--device--no-match;

        @include iheid--theme--device--large() {
          @include demo--theme--device--match;
        }
      }

      &.device-x-large {
        @include demo--theme--device--no-match;

        @include iheid--theme--device--x-large() {
          @include demo--theme--device--match;
        }
      }
    }
  }
}
