{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Device</div>
    <div class="demo--content">
        {% for device, width in data.devices %}
            <div class="test-case">
                <header>{{ device }}</header>
                <div class="content device-{{ device }}">
                    <div class="match">
                        Match
                    </div>
                    <div class="no-match">
                        Don't match
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
