@import "./variables";
@import "../../../theme/heading/mixins";

@mixin iheid--field--type--add-to-calendar() {
  .field__label {
    @include iheid--theme--heading--6();
  }

  .field__item {
    display: inline-block;
  }
}