{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Telephone link formatter</div>
    <div class="demo--content">
        {% include "@Test/field/formatter/telephone-link/test.html.twig" with {
            value: data.phone_number
        } only %}
    </div>
{% endblock %}
