{#
/**
 * @file profile-selector.html.twig
 * Theme override for a profile selector.
 *
 * Available variables:
 * - profiles: List of all the profiles. Each element contains:
 *   - id: The id of the profile.
 *   - title: The title of the profile.
 *   - url: The URL to the profile landing page.
 *   - active: TRUE if the profile is the active profile.
 */
#}
{{ dump(profiles) }}
