{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Research project page</div>
    <div class="demo--content">
        {% include "@Test/layout/page/research-project/test.html.twig" with {
            entity: data.research_project,
        } only %}
    </div>
{% endblock %}
