{% set banner %}
    {% set blockContent %}
        {{ render_entity(entity.get('field_banner_image').value, 'banner') }}
    {% endset %}

    {% include "@Test/block/block/test.html.twig" with {
        content: blockContent
    } %}
{% endset %}

{% set header_banner %}
    {{ banner }}
{% endset %}

{% include "@Test/layout/page/basic/test.html.twig" with {
    entity: entity
} only %}