{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Menu</div>
    <div class="demo--content">
        {% for test_case in data.test_cases %}
            <div class="test-case">
                <header>{{ test_case.title }}</header>
                <div class="content">
                    {% include "@Test/navigation/menu/test.html.twig" with test_case.data only %}
                </div>
            </div>
        {% endfor %}
        <div class="disclaimer">The following test cases ensure that the menus can easily be centered by their container if needed</div>
        {% for test_case in data.test_cases %}
            <div class="test-case centered">
                <header>{{ test_case.title }} and centered</header>
                <div class="content">
                    {% include "@Test/navigation/menu/test.html.twig" with test_case.data only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
