{% set view_mode = view_mode('full', [
    formatted_field('children_content', 'hidden', 'rendered_entity', {
        view_mode: 'three-columns-small-card',
        decorators: 'iheid--decorator--padding--mini----below-large iheid--decorator--padding--rectangular--large----beyond-medium'
    }),
]) %}

{% include "@Test/entity/paragraph/category-slider/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
