{# full view mode #}
{% set view_mode = view_mode('full', [
    field_group('linear-layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--flex--direction--column----below-large'}, [
        field_group('linear-layout', {name: 'image', decorators: 'iheid--decorator--flex--grow--1'}, [
            formatted_field('image', 'hidden', 'rendered-entity', {
                view_mode: 'book_cover_medium',
                decorators: 'iheid--decorator--margin--end--micro----beyond-medium iheid--decorator--margin--auto----below-large iheid--decorator--margin--start--auto----beyond-medium'
            })
        ]),
        field_group('linear-layout', {name: 'right', label: 'Right', decorators: 'iheid--decorator--padding--micro iheid--decorator--flex--grow--3 iheid--decorator--flex--space-between iheid--decorator--alignment--center----below-large iheid--decorator--flex--direction--column'}, [
            field_group('linear-layout', {name: 'top', label: 'Top', decorators: 'iheid--decorator--flex--direction--column'}, [
                formatted_field('department', 'hidden', 'text-as-author'),
            ]),
            field_group('linear-layout', {name: 'bottom', label: 'Bottom', decorators: 'iheid--decorator--flex--grow iheid--decorator--flex--space-between iheid--decorator--flex--direction--column'}, [
                formatted_field('title', 'hidden', 'text-as-heading', {
                    level: 4,
                    decorators: 'iheid--decorator--margin--top--micro'
                }),
                formatted_field('link', 'hidden', 'link-as-button', {
                    variant: 'download',
                    decorators: 'iheid--decorator--margin--top--mini----below-large'
                })
            ])
        ])
    ])
]) %}

{% include "@Test/entity/paragraph/file-download/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
