{#
/**
 * @file burger-menu.html.twig
 * Default theme implementation to display a burger menu.
 *
 * Available variables:
 * - primary: The rendered primary menu.
 * - secondary: The rendered secondary menu.
 *
 * @see template_preprocess_burger_menu()
 *
 * @ingroup themeable
 */
#}
{{ primary }}
{{ secondary }}
