@import "./variables";
@import "../../theme/iconography/mixins";
@import "../../theme/color/mixins";
@import "../../theme/visually-hidden/mixins";
@import "../../decorator/padding/mixins";
@import "../../decorator/margin/mixins";

@mixin iheid--system--status-messages() {
  .messages {
    border-style: solid;
    border-width: 1px 0 1px 0;
    @include iheid--decorator--padding--rectangular(small);
    @include iheid--decorator--margin--axis(micro, vertical);

    &:before {
      @include iheid--decorator--margin(nano, end);
    }

    .messages-list {
      margin: 0;
      padding: 0;
    }

    &:before, .status-heading, .messages-list, .message {
      display: inline-block;
      vertical-align: middle;
    }

    &--status {
      border-color: $iheid--theme--color--secondary-dark;
      color: $iheid--theme--color--secondary-dark;
      position: relative;

      &:before {
        @include iheid--iconography--icon(check);
      }
    }

    &--error {
      border-color: $iheid--theme--color--primary;
      color: $iheid--theme--color--primary;

      &:before {
        @include iheid--iconography--icon(error);
      }
    }

    .status-heading {
      @include theme--visually-hidden;
    }
  }
}