{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - display: (optional) May have a value of 'status' or 'error' when only
 *   displaying messages of that specific type.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 *
 * @ingroup themeable
 */
#}
<div class="iheid--system--status-messages">
    {% for type, messages in message_list %}
        {% set classes = [
            'messages',
            'messages--' ~ type,
        ] %}
        <div {{ attributes.addClass(classes) }} role="{{ type == 'error' ? 'error' }}">
            {% if status_headings[type] %}
                <h2 class="status-heading">{{ status_headings[type] }}</h2>
            {% endif %}
            {% if messages|length > 1 %}
                <ul class="messages-list">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <span class="message">{{ messages|first }}</span>
            {% endif %}
        </div>
        {# Remove type specific classes. #}
        {% set attributes = attributes.removeClass(classes) %}
    {% endfor %}
</div>
