{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Responsive image</div>
    <div class="demo--content">
        {% for responsive_image_style in [
            'thumbnail_medium',
            'thumbnail_large',
            'large',
            'us_letter_large'
        ] %}
            <div class="test-case">
                <header>{{ responsive_image_style }} image style</header>
                <div class="content">
                    {{ render_responsive_image(data.image, responsive_image_style) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
