{# todo: basic and naive image style support #}

{% if (responsive_image_style == "thumbnail_medium") %}
    {% set img_element %}
        {% set resized_image = resized_image(image.src, 'crop', {
            width: 100,
            height: 100
        }) %}

        <img{{ drupal_attribute({
            src: resized_image.src
        }) }}>
    {% endset %}

    {% set sources = [
        drupal_attribute({
            srcset: resized_image(image.src, 'crop', {
                width: 150,
                height: 150
            }).src,
            type: image.type,
            media: "all and (min-width: 1024px)"
        })
    ] %}
{% endif %}

{% if (responsive_image_style == "thumbnail_large") %}
    {% set img_element %}
        {% set resized_image = resized_image(image.src, 'crop', {
            width: 150,
            height: 150
        }) %}

        <img{{ drupal_attribute({
            src: resized_image.src
        }) }}>
    {% endset %}

    {% set resized_image = resized_image(image.src, 'crop', {
        width: 240,
        height: 240
    }) %}

    {% set sources = [
        drupal_attribute({
            srcset: resized_image.src,
            type: image.type,
            media: "all and (min-width: 1024px)"
        })
    ] %}
{% endif %}

{% if (responsive_image_style == "large") %}
    {% set img_element %}
        {% set resized_image = resized_image(image.src, 'crop', {
            width: 240,
            height: 240
        }) %}

        <img{{ drupal_attribute({
            src: resized_image.src
        }) }}>
    {% endset %}

    {% set resized_image = resized_image(image.src, 'crop', {
        width: 400,
        height: 400
    }) %}

    {% set sources = [
        drupal_attribute({
            srcset: resized_image.src,
            type: image.type,
            media: "all and (min-width: 1024px)"
        })
    ] %}
{% endif %}

{% include "@Src/system/responsive-image/index.html.twig" with {
    attributes: drupal_attribute(),
    img_element: img_element,
    sources: sources,
    responsive_image_style_id: responsive_image_style_id
} only %}
