{% set view_mode = view_mode('full', [
    formatted_field('field_content', 'hidden', 'rendered_entity', {
        view_mode: 'teaser',
        decorators: 'iheid--decorator--padding--small----below-large iheid--decorator--padding--large----beyond-medium'
    }),
]) %}

{% include "@Test/entity/paragraph/teaser/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
