{% set image = resized_image(image.src, 'crop', {
    width: 780,
    height: 244
}) %}

{% include "@Test/system/image/basic/test.html.twig" with {
    image: image,
    image_style: "small_card_banner_thin"
} only %}
