@import "./mixins";
@import "../../util/mixins";

.iheid--decorator--alignment {
  @each $name in ('start', 'center', 'end') {
    &--#{$name} {
      @include iheid--util--device-variants {
        @include iheid--decorator--alignment($name);
      }
    }
  }

  &--self {
    @each $name in ('start', 'center', 'end') {
      &--#{$name} {
        @include iheid--util--device-variants {
          @include iheid--decorator--alignment--self($name);
        }
      }
    }
  }
}
