@import "../../theme/device/mixins";

@mixin iheid--decorator--alignment($name) {
  align-items: #{$name};

  @if ($name == start) {
    text-align: left;
  }

  @if ($name == center) {
    text-align: center;
  }

  @if ($name == end) {
    text-align: right;
  }
}

@mixin iheid--decorator--alignment--self($name) {
  align-self: #{$name};
}