{#
/**
 * @file image.htnl.twig
 * Default theme implementation of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--system--image',
    style_name ? 'iheid--system--image--style-' ~ style_name|clean_class
] %}
<img{{ attributes.addClass(classes) }} />