@import "./mixins";

.iheid--system--image {
  @include iheid--system--image;
}

.iheid--system--image--style-small-card-banner {
  @include iheid--system--image--style-small-card-banner;
}

.iheid--system--image--style-small-card-banner-thin {
  @include iheid--system--image--style-small-card-banner-thin;
}

.iheid--system--image--style-small-card-banner-thick {
  @include iheid--system--image--style-small-card-banner-thick;
}

