@import "../../decorator/object-fit/mixins";
@import "../../util/functions";

@mixin iheid--system--image() {
  display: block;
}

@mixin iheid--system--image--banner() {
  width: 100%;
  object-fit: cover;
}

@mixin iheid--system--image--style-small-card-banner {
  @include iheid--system--image--banner;
  height: iheid--util--to-em(185);
}

@mixin iheid--system--image--style-small-card-banner-thin {
  @include iheid--system--image--banner;
  height: iheid--util--to-em(122);
}

@mixin iheid--system--image--style-small-card-banner-thick {
  @include iheid--system--image--banner;
  height: iheid--util--to-em(250);
}