{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Padding decorator</div>
    <div class="demo--content">
        {% for name in ['nano', 'micro', 'mini', 'small', 'medium', 'large'] %}
            {% for side in [null, 'top', 'end', 'bottom', 'start'] %}
                <div class="test-case">
                    <header>{{ name }} {{ side }}</header>
                    <div class="content">
                        {% include "@Test/decorator/padding/basic/test.html.twig" with {
                            name: name,
                            side: side
                        } only %}
                    </div>
                </div>
            {% endfor %}

            {% for axis in ['vertical', 'horizontal'] %}
                <div class="test-case">
                    <header>{{ name }} {{ axis }}</header>
                    <div class="content">
                        {% include "@Test/decorator/padding/basic/test.html.twig" with {
                            name: name,
                            axis: axis
                        } only %}
                    </div>
                </div>
            {% endfor %}

            <div class="test-case">
                <header>{{ name }} rectangular</header>
                <div class="content">
                    {% include "@Test/decorator/padding/basic/test.html.twig" with {
                        name: name,
                        rectangular: true
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
