@import "../../../demo";
@import "./test";

.demo--decorator--padding {
  .test-case {
    background-color: brown;

    .content {
      > div {
        background-color: darkgray;
        text-align: center;

        > div {
          background-color: steelblue;
          height: 64px;
        }
      }
    }
  }
}
