{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">File-link-as-button formatter</div>
    <div class="demo--content">
        {% for variant in ['primary', 'secondary', 'download'] %}
            <div class="test-case {{ variant }}">
                <header>{{ variant }}</header>
                <div class="content">
                    {% include "@Test/field/formatter/file-link-as-button/test.html.twig" with {
                        description: data.description,
                        variant: variant
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
