@import "../../../demo";
@import "context.scss";
@import "../../../../src/theme/device/mixins";

.demo--layout--grid {
  .row {
    @include iheid--layout--grid--row;

    @include iheid--theme--device--medium() {
      &.index-2 {
        .cell {
          &.index-1 {
            @include iheid--layout--grid--column-offset(10);
          }

          &.index-2 {
            @include iheid--layout--grid--column(10);
          }
        }
      }

      &.index-3 {
        .cell {
          @include iheid--layout--grid--column(10);
          @include iheid--layout--grid--column-offset(10);

          &.index-1 {
            @include iheid--layout--grid--column-offset(0);
          }
        }
      }

      &.index-4 {
        .cell {
          @include iheid--layout--grid--column(4);
        }
      }

      &.index-5 {
        .cell {
          &.index-1 {
            @include iheid--layout--grid--column(2);
          }

          &.index-2 {
            @include iheid--layout--grid--column-offset(18);
          }
        }
      }
    }
  }

  .cell {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em 0;
    box-sizing: border-box;
    @include iheid--layout--grid--column(100);

    &.index-1 {
      background: #E37B40;
    }

    &.index-2 {
      background: #46B29D;
    }

    &.index-3 {
      background: #DE5B49;
    }

    &.index-4 {
      background: #324D5C;
    }

    &.index-5 {
      background: #F0CA4D;
    }

    @include iheid--theme--device--medium() {
      @include iheid--layout--grid--column(20);
    }
  }
}