{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Grid system</div>
    <div class="demo--content">
        {% for row in 1..5 %}
            <div class="row index-{{ row }}">
                {% for column in 1..5 %}
                    <div class="cell index-{{ column }}" title="{{ row }}/{{ column }}">
                        <span>{{ row }}/{{ column }}</span>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

