{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Text as copyright</div>
    <div class="demo--content">
        {% include "@Test/field/formatter/text-as-copyright/test.html.twig" with {
            value: data.text
        } only %}
    </div>
{% endblock %}
