$iheid--theme--color--primary: #e20020;
$iheid--theme--color--secondary-light: #ffffff;
$iheid--theme--color--secondary: #e0e0e0;
$iheid--theme--color--secondary-dark: #505050;
$iheid--theme--color--even-background: rgba($iheid--theme--color--secondary-dark, 0.05);

$iheid--theme--color--tertiary-light: #f3f3f3;
$iheid--theme--color--tertiary: #969696;
$iheid--theme--color--tertiary-dark: #808080;

$iheid--theme--color--colors: (
  primary: $iheid--theme--color--primary,
  secondary-light: $iheid--theme--color--secondary-light,
  secondary: $iheid--theme--color--secondary,
  secondary-dark: $iheid--theme--color--secondary-dark,
  even-background: $iheid--theme--color--even-background,
  tertiary-light: $iheid--theme--color--tertiary-light,
  tertiary: $iheid--theme--color--tertiary,
  tertiary-dark: $iheid--theme--color--tertiary-dark,
);