@import "./mixins";
@import "../../util/mixins";

.iheid--decorator--background {
  @each $name in (bamboo, diagonal-lines, diagonal-stripes, polka-dots, texture, tiny-checkers) {
    &--#{$name} {
      @include iheid--util--device-variants {
        @include iheid--decorator--background($name);
      }
    }
  }
}

