{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Fitted-image formatter</div>
    <div class="demo--content">
        {% for url in [false, true] %}
            <div class="test-case {{ name }}">
                <div class="header">{% if url %}with{% else %}without{% endif %} URL</div>
                <div class="content">
                    {% include "@Test/field/formatter/fitted-image/test.html.twig" with {
                        value: data.image,
                        url: url ? 'http://example.com' : null
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
