{% set image %}
    {% include "@Test/system/fitted-image/test.html.twig" with {
        image: value,
        fit: settings.fit
    } only %}
{% endset %}

{% include "@Src/field/formatter/fitted-image/index.html.twig" with {
    image: image,
    url: url
} only %}

