{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Color decorator</div>
    <div class="demo--content">
        {% for type in ['background', 'foreground'] %}
            {% for color in ['primary', 'secondary-light', 'secondary', 'secondary-dark'] %}
                <div class="test-case {{ type }}">
                    <div class="header">
                        {{ color|title }} {{ type }}
                    </div>
                    <div class="content">
                        {% include "@Test/decorator/color/test.html.twig" with {
                            type: type,
                            color: color
                        } only %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}    </div>
{% endblock %}
