@import "../../demo";
@import "./test";

.demo--decorator--color {
  .test-case {
    &.background {
      span {
        display: none;
      }

      .content {
        > div {
          height: 64px;
        }
      }
    }

    &.foreground {
      background-color: #333;
    }

    .content {
      font-size: 2.0em;

      > div {
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
}
