@import "../../theme/color/variables";
@import "../../decorator/padding/mixins";
@import "../../theme/typography/mixins";

@mixin iheid--entity--node() {
  &.iheid--entity--node--view-mode-small-card {
    text-align: center;
    height: 430px;
    position: relative;

    > .node__content {
      height: 100%;
    }
  }
}