@import "./mixins";
@import "../../util/mixins";
@import "../../theme/color/variables";

.iheid--decorator--color {
  @each $layer in (background, foreground) {
    @each $color, $value in $iheid--theme--color--colors {
      &--#{$layer}--#{$color} {
        @include iheid--util--device-variants() {
          @include iheid--decorator--color($layer, $color);
        }
      }
    }
  }

  &--background--secondary-dark,
  &--background--tertiary-dark {
    // unfortunately, except providing custom view modes for dark backgrounds, there is no other way to negate the ugliness of the primary color when displayed on a dark background
    .iheid--decorator--color--foreground--primary {
      h1, h2, h3, h4, h5, h6 {
        color: $iheid--theme--color--secondary-light;
      }
    }
  }
}
