@import "./variables";
@import "../../theme/color/variables";

@mixin iheid--decorator--color($layer, $color_name) {
  $color: map_get($iheid--theme--color--colors, $color_name);

  @if ($layer == background) {
    background-color: $color;
  } @else if ($layer == foreground) {
    color: $color;
  }
}
