{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Field-as-quote formatter</div>
    <div class="demo--content">
        <div class="full-width">
            {% include "@Src/field/formatter/text-as-quote/field--formatter--text-as-quote.html.twig" with data %}
        </div>
        <div class="max-width">
            {% include "@Src/field/formatter/text-as-quote/field--formatter--text-as-quote.html.twig" with data %}
        </div>
    </div>
{% endblock %}
