{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Social share field formatter</div>
    <div class="demo--content">
        {% for value in data.values %}
            <div class="test-case">
                <header>{{ value.title }}</header>
                <div class="content">
                    {% include "@Test/field/formatter/social-share/test.html.twig" with {
                        value: value
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
