
{% include "@Src/field/formatter/social-share/index.html.twig" with {
    attributes: drupal_attribute(),
    network: value.network,
    title: value.title,
    url: value.url,
    social_settings: value.social_settings
} only %}
