{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Visibility decorator</div>
    <div class="demo--content">
        {% for name in ['visible', 'hidden'] %}
            <div class="test-case">
                <header>{{ name }}</header>
                <div class="content">
                    {% include "@Test/decorator/visibility/basic/test.html.twig" with {
                        name: name
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
