<div class="iheid--decorator--visibility--{{ name }}">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et tincidunt ex. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Duis venenatis pellentesque urna quis vulputate. Integer sit amet lorem risus. Etiam ac
    massa rutrum, ultrices odio sed, tincidunt urna. Pellentesque vitae est nibh. Mauris in dictum nunc. Suspendisse
    potenti. Maecenas odio nunc, fermentum ac posuere sed, congue vitae risus. In luctus nulla vel erat pretium dictum.
    Nunc elementum odio ut ligula varius, quis finibus neque accumsan. Pellentesque volutpat sodales consectetur. Proin
    a quam at eros aliquet facilisis. Ut rutrum efficitur lorem, convallis feugiat erat bibendum pulvinar.
</div>