@import "./variables";
@import "../../../ui/link/mixins";

@mixin iheid--field--formatter--social-profile() {
  @include iheid--ui--link--fancy;
  text-transform: uppercase;
  word-break: break-all;
}
