{% set view_mode = view_mode('full', [
    field_group('view_group', {decorators: 'iheid--decorator--padding--mini----below-large iheid--decorator--padding--rectangular--medium----beyond-medium'}, [
        formatted_field('title', 'hidden', 'text_as_heading', {
            level: 2,
            decorators: 'iheid--decorator--alignment--center'
        }),
        formatted_field('category_slider', 'hidden', 'rendered_entity', {
            view_mode: 'slider_card',
            decorators: 'iheid--decorator--margin--top--small----below-large iheid--decorator--margin--top--medium----beyond-medium'
        }),
    ])
]) %}

{% include "@Test/entity/paragraph/category-slider/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
