@import "./variables";
@import "../../theme/device/mixins";
@import "../../theme/color/variables";
@import "../../decorator/padding/mixins";
@import "../../decorator/flex/mixins";

@mixin iheid--layout--page() {
  max-width: iheid--util--to-em(1440);
  margin: auto;
  position: relative;
  z-index: 0;

  > header, > footer {
    position: relative;
  }

  > header {
    z-index: 2;
  }

  > footer {
    z-index: 1;
  }

  > header {
    .top {
      display: flex;
      background-color: $iheid--theme--color--even-background;
      justify-content: space-between;
      min-height: 40px;
      position: relative;
      z-index: 2;
      
      .start, .end {
        @include iheid--decorator--flex(1);
        align-items: center;
        max-width: 100%;
      }

      .end {
        display: flex;
        justify-content: flex-end;
      }
    }

    .main {
      position: relative;
      z-index: 1;
      height: 64px;
      overflow-y: visible;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  > footer {
    background-color: $iheid--theme--color--secondary-dark;
    color: $iheid--theme--color--secondary-light;
    @include iheid--decorator--padding--rectangular(small);

    @include iheid--theme--device--medium() {
      @include iheid--decorator--padding--rectangular(large);
    }

    .main {
      @include iheid--theme--device--medium() {
        padding-left: percentage(1/3);
      }
    }

    .bottom {
      display: flex;

      .start, .end {
        @include iheid--decorator--flex(1);
        max-width: 100%;
      }

      .start {
        @include iheid--theme--device--medium() {
          width: percentage(1/3);
        }
      }

      .end {
        @include iheid--theme--device--medium() {
          width: percentage(2/3);
        }
      }
    }
  }

  > .toolbar {
    display: flex;
    background-color: $iheid--theme--color--secondary-light;

    // cancel the styles coming from Drupal toolbar
    // @see https://www.drupal.org/project/drupal/issues/2984839
    font-size: inherit;
    font-family: inherit;

    @include iheid--decorator--padding(small);

    @include iheid--theme--device--medium() {
      @include iheid--decorator--padding(large, start);
      @include iheid--decorator--padding(large, end);
    }

    > .start, > .end {
      @include iheid--decorator--flex(1);
      font-size: iheid--util--to-em(11);
      max-width: 100%;
    }

    > .start {
      text-align: left;
    }

    > .end {
      text-align: right;
      display: none;

      @include iheid--theme--device--medium() {
        display: initial;
      }
    }
  }

  > div {
    position: relative;
    z-index: 0;
  }
}