{#
/**
 * @file page.html.twig
 * Seven's theme implementation to display a single Drupal page.
 *
 * The doctype, html, head, and body tags are not in this template. Instead
 * they can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="iheid--layout--page">
    <header>
        <div class="top">
            <div class="start">
                {{ page.header_top_start }}
            </div>
            <div class="end">
                {{ page.header_top_end }}
            </div>
        </div>

        <div class="main">
            {{ page.header_main }}
        </div>
    </header>

    {{ page.banner }}

    <div class="toolbar">
        <div class="start">
            {{ page.toolbar_start }}
        </div>
        <div class="end">
            {{ page.toolbar_end }}
        </div>
    </div>

    <div class="pre-content">
        {{ page.pre_content }}
    </div>

    <main role="main">
        {{ page.content }}
    </main>

    {{ page.post_content }}

    <footer>
        <div class="main">
            {{ page.footer_main }}
        </div>

        <div class="bottom">
            <div class="start">
                {{ page.footer_bottom_start }}
            </div>
            <div class="end">
                {{ page.footer_bottom_end }}
            </div>
        </div>
    </footer>
</div>