@import "../../../theme/heading/mixins";

@mixin iheid--field--type--social-share() {
  .field__label {
    @include iheid--theme--heading--6;
  }

  .field__item {
    display: inline-block;
    margin: 0 0.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}