{#{% set content %}#}
    {#<iframe width="100%" height="789" src="{{ embedUrl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}

    {#{% include "@Test/field/type/text/test.html.twig" with {#}
        {#texts: [caption],#}
        {#formatter: 'text-as-quote'#}
    {#} only %}#}
{#{% endset %}#}

<!-- youtube-video paragraph -->
{% include "@Src/entity/paragraph/youtube-video/index.html.twig" with {
    content: content,
    view_mode: view_mode
} only %}
