{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - entity: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--entity--media',
    'iheid--entity--media--' ~ entity.getEntityTypeId()|clean_class,
    view_mode ? 'iheid--entity--media--view-mode--' ~ view_mode|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
    {#
      In the 'full' view mode the entity label is assumed to be displayed as the
      page title, so we do not display it here.
    #}
    {{ title_prefix }}
    {% if label and view_mode != 'full' %}
        <h2{{ title_attributes }}>
            {{ label }}
        </h2>
    {% endif %}
    {{ title_suffix }}

    {{ content }}
</div>
