{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Tear-off calendar sheet formatter</div>
    <div class="demo--content">
        {% for image_style in ['thumbnail_large'] %}
            <div class="test-case">
                <header>{{ image_style }} image style</header>
                <div class="content">
                    {% include "@Test/field/formatter/tear-off-calendar-sheet/test.html.twig" with {
                        value: {
                            date_parts: {
                                day_of_week: 'Friday',
                                day_of_month: 21,
                                month: 'February',
                            },
                            image: data.frame
                        },
                        settings: {
                            image_style: image_style
                        }
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
