{% set image = render_image(value.image, settings.image_style) %}

{% include "@Src/field/formatter/tear-off-calendar-sheet/index.html.twig" with {
    date_parts: value.date_parts,
    image: image
} only %}
