{#
/**
 * @file soundcloud-formatter.html.twig
 * Default theme implementation for a SoundCloud embed player field.
 *
 * Available variables:
 * - url: The URL of the link.
 *
 * @see template_preprocess()
 * @see template_preprocess_soundcloud_formatter()
 *
 * @ingroup themeable
 */
#}
<div class="iheid--field--formatter--soundcloud-default">
    <div class="player">
        <iframe width="100%" height="166" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url={{ url }}&color=e20020&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=true"></iframe>
    </div>
</div>
