@import "../../theme/color/variables";
@import "../../theme/device/mixins";
@import "../../theme/iconography/mixins";
@import "../../decorator/margin/mixins";

@mixin iheid--ui--slider() {
  position: relative;

  .slides {
    position: relative;
    z-index: 1;
    overflow-x: auto;
    white-space: nowrap;

    @include iheid--theme--device--medium() {
      @include iheid--decorator--margin--axis(medium, horizontal);
    }
  }

  .slide {
    display: inline-block;
    white-space: initial;
  }

  .slick-previous, .slick-next, .slick-list {
    display: inline-block;
  }

  .slick-slide {
    display: block;
    float: left;
  }

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .slick-track {
    display: flex;
    align-items: center;

    &:after {
      display: block;
      clear: both;
      content: "";
    }
  }

  .navigation-arrows {
    display: none;

    button {
      cursor: pointer;
      width: auto;
      min-width: 0;
    }

    @include iheid--theme--device--medium() {
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      align-items: center;
    }
  }

  .slick-arrow {
    border: none;
    background: none;
    height: 5.0em;
    padding: 1.0em 0.5em;
    color: $iheid--theme--color--secondary-dark;
    transition: color 0.1s linear;

    &:hover {
      color: $iheid--theme--color--primary;
    }

    &:before {
      font-size: 3.0em;
    }

    &.slick-disabled {
      color: $iheid--theme--color--secondary;
      cursor: initial;
    }
  }

  .slick-previous {
    &:before {
      @include iheid--iconography--icon($iheid--theme--iconography--glyph--chevron-left)
    }
  }

  .slick-next {
    margin-left: auto;

    &:before {
      @include iheid--iconography--icon($iheid--theme--iconography--glyph--chevron-right)
    }
  }

  .navigation-dots {
    text-align: center;
    position: relative;
    z-index: 1;

    ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
    }

    button {
      font-size: 0;
      display: block;
      width: 20px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      min-width: 0;

      &:before {
        font-size: 30px;
        content: '•';
        opacity: .25;
        color: black;
      }
    }

    .slick-active {
      button {
        &:before {
          opacity: .75;
          color: black;
        }
      }
    }
  }
}