{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Burger menu</div>
    <div class="demo--content">
        {% for language in data.languages %}
            <div class="test-case">
                <header>{{ language.label }}</header>
                <div class="content">
                    {% include "@Test/navigation/burger-menu/test.html.twig" with {
                        primary_menu: data.primary_menu,
                        secondary_menu: data.secondary_menu,
                        languages: data.languages,
                        language_code: language.code
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
