{% set primary_menu %}
    {% include "@Test/navigation/menu/header/test.html.twig" with {
        menu_name: primary_menu.name,
        items: primary_menu.items
    } %}
{% endset %}

{% set secondary_menu %}
    {% include "@Test/navigation/menu/site-map/test.html.twig" with {
        menu_name: secondary_menu.name,
        items: secondary_menu.items
    } %}
{% endset %}

{% include "@Src/navigation/burger-menu/index.html.twig" with {
    attributes: drupal_attribute(),
    primary: primary_menu,
    secondary: secondary_menu,
    show_next_title: 'View full site map',
    languages: languages,
    language_code: language_code
} %}
