{% set view_mode = view_mode('title-only', [
    formatted_field('title', 'hidden', 'plain_text')
]) %}

{% include "@Test/entity/term/test.html.twig" with {
    content: render_entity(entity, view_mode),
    view_mode: view_mode.name,
    term: entity
} only %}