<!-- {{ field_name }} field -->
{% set body %}
    There are total<br><b>56 articles</b><br>in this category
{% endset %}

{% set show_all = {
    body: body,
    link: render_field(show_all_link, field_formatter('link', 'hidden'))
} %}

{% include "@Src/field/type/category-slider/index.html.twig" with {
    field_type: 'category_slider',
    show_all: show_all
} %}
