{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">layout/region/header-main</div>
    <div class="demo--content">
        {% include "@Test/layout/region/header-main/test.html.twig" with data only %}
    </div>
{% endblock %}
