@import "../variables";

@mixin icon($name) {
  &:before {
    font-family: 'Icon', sans-serif;
    content: unquote("\"") + unquote(str-insert(map_get($theme--icon--icons, $name), "\\", 1)) + unquote("\"");
    display: block;
  }
}