@import "./mixins";

.iheid--decorator--object-fit--fill {
  @include iheid--decorator--object-fit--fill;
}

.iheid--decorator--object-fit--contain {
  @include iheid--decorator--object-fit--contain;
}

.iheid--decorator--object-fit--cover {
  @include iheid--decorator--object-fit--cover;
}

.iheid--decorator--object-fit--scale-down {
  @include iheid--decorator--object-fit--scale-down;
}
