@mixin iheid--decorator--object-fit($mode) {
  width: 100%;
  height: 100%;
  object-fit: $mode;
}

@mixin iheid--decorator--object-fit--fill() {
  @include iheid--decorator--object-fit(fill);
}

@mixin iheid--decorator--object-fit--contain() {
  @include iheid--decorator--object-fit(contain);
}

@mixin iheid--decorator--object-fit--cover() {
  @include iheid--decorator--object-fit(cover);
}

@mixin iheid--decorator--object-fit--scale-down() {
  @include iheid--decorator--object-fit(scale-down);
}
