<div class="iheid--navigation--burger-menu--content iheid--ui--modal" id="{{ vid }}" style="display: none">
    <div class="inner">
        <div class="header">
            <div class="filter-auto-search">
                <label for="filter-search-{{ vid }}">{{ label }}</label>
                <input id="filter-search-{{ vid }}" class="filter-search iheid--form--input" type="text" placeholder="Search filters"/>
            </div>
            <button class="close"></button>
        </div>
        <div class="content">
            <div class="filter-wrapper">
                {{ filters }}
            </div>
        </div>
        <div class="footer">
            <button class="clear-all iheid--form--input--submit">Clear all filters</button>
        </div>
    </div>
</div>
