{% set view_mode = view_mode('full', [
    field_group('view_group', {decorators: 'iheid--decorator--padding--mini----below-large iheid--decorator--padding--rectangular--large----beyond-medium iheid--decorator--alignment--center'}, [
        formatted_field('title', 'hidden', 'text_as_heading', {
            level: 2
        }),
        formatted_field('field_show_all_link', 'hidden', 'link', {
            decorators: 'iheid--decorator--margin--top--small iheid--decorator--alignment--end'
        }),
        formatted_field('upcoming_events', 'hidden', 'upcoming_events', {
            view_mode: 'small_card',
            decorators: 'iheid--decorator--margin--top--micro'
        }),
    ])
]) %}

{% include "@Test/entity/paragraph/upcoming-events/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
