@import "./mixins";
@import "../button/mixins";

.iheid--ui--link {
  @include iheid--ui--link;

  &.button {
    @include iheid--ui--button;
    @include iheid--ui--button--secondary;
    line-height: 44px;
  }
}
