@import "../../theme/typography/mixins";
@import "../../theme/device/mixins";
@import "../../theme/color/variables";
@import "../../util/functions";

@mixin iheid--ui--link() {
  @include iheid--typography--ui;
  font-weight: 700;
  display: inline-block;

  &, &:visited {
    color: inherit;
    text-decoration: none;
  }
}

@mixin iheid--ui--link--fancy() {
  @include iheid--ui--link();

  &:after {
    content: "";
    display: block;
    margin-top: 2px;
    border-bottom: solid 2px;
    width: 100%;
  }
}