{% set image = resized_image(image.src, 'crop', {
    width: 1184,
    height: 370
}) %}

{% include "@Test/system/image/basic/test.html.twig" with {
    image: image,
    image_style: "small_card_banner"
} only %}
