{% set view_mode = view_mode('full', [
    formatted_field('content_type', 'hidden', 'content_type', {
        decorators: 'iheid--decorator--padding--small iheid--decorator--padding--horizontal--large----beyond-medium'
    }),
    field_group('linear_layout', {name: 'header', label: 'Header group', decorators: 'iheid--decorator--color--background--even-background iheid--decorator--padding--rectangular--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium iheid--decorator--flex--direction--column'}, [
        field_group('view-group', {name: 'header_column', label: 'Header column', decorators: 'iheid--decorator--margin--auto iheid--decorator--pillar iheid--decorator--alignment--center----below-large'}, [
            formatted_field('course_top_header', 'hidden', 'text-as-author'),
            formatted_field('course_sem_code_cred', 'hidden', 'text_as_heading', {
                level: 5,
                decorators: 'iheid--decorator--margin--top--micro----below-large iheid--decorator--margin--top--mini----beyond-medium'
            }),
            formatted_field('title', 'hidden', 'text_as_heading', {
                level: 3,
                decorators: 'iheid--decorator--margin--top--micro----below-large iheid--decorator--margin--top--small----beyond-medium',
                variant: 'bland'
            }),
            field_group('linear_layout', {name: 'buttons', label: 'Buttons group', decorators: 'iheid--decorator--margin--top--mini----below-large iheid--decorator--margin--top--medium----beyond-medium'}, [
                formatted_field('syllabus_cta', 'hidden', 'link-as-button', {
                    variant: 'secondary'
                }),
                formatted_field('support_material_cta', 'hidden', 'link-as-button', {
                    variant: 'secondary',
                    decorators: 'iheid--decorator--margin--start--micro'
                }),
            ]),
            formatted_field('course_professors', 'hidden', 'rendered-entity', {
                view_mode: 'secondary-signature',
                decorators: 'iheid--decorator--margin--top--mini----below-large iheid--decorator--margin--top--medium----beyond-medium iheid--decorator--color--background--secondary-light'
            }),
            formatted_field('social_share', 'visible', 'social-share', {
                decorators: 'iheid--decorator--margin--top--small'
            })
        ]),
    ]),
    field_group('view_group', {name: 'content', label: 'Content group', decorators: 'iheid--decorator--padding--rectangular--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium'}, [
        formatted_field('course_introduction', 'hidden', 'plain_text', {
            decorators: 'iheid--typography--ui iheid--decorator--padding--start--medium--responsive '
        }),
        formatted_field('editorial_content', 'hidden', 'rendered-entity', {
            view_mode: 'full',
            decorators: 'iheid--decorator--margin--top--small iheid--decorator--flex--grow '
        })
    ])
]) %}

{% include "@Test/entity/node/course/test.html.twig" with {
    view_mode: view_mode
} %}
