{% set view_mode = view_mode('small-card', [
    field_group('link', {name: 'link', label: 'Link group', target_attribute: 'blank', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--padding--micro'}, [
        formatted_field('content_type', 'hidden', 'content_type', {
            variant: 'badge',
            decorators: 'iheid--decorator--position--absolute'
        }),
        field_group('linear_layout', {name: 'root', label: 'Root group', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--flex--space-between iheid--decorator--flex--direction--column iheid--decorator--padding--micro iheid--decorator--border iheid--decorator--color--background--secondary-light'}, [
            field_group('linear-layout', {name: 'top', label: 'Top group', decorators: 'iheid--decorator--flex--direction--column iheid--decorator--margin--bottom--medium'}, [
                formatted_field('course_top_header', 'hidden', 'text-as-author', {
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
                formatted_field('title', 'hidden', 'text_as_heading', {
                    level: 4,
                    decorators: 'iheid--decorator--margin--top--mini',
                }),
            ]),
            formatted_field('course_sem_code_cred', 'hidden', 'text_as_heading', {
                level: 5,
                variant: 'bland',
                decorators: 'iheid--decorator--margin--top--medium'
            }),
            formatted_field('course_professors', 'hidden', 'rendered-entity', {
                view_mode: 'signature_text',
                decorators: 'iheid--decorator--color--background--even-background iheid--decorator--padding--small'
            }),
        ]),
    ])
]) %}

{% include "@Test/entity/node/course/test.html.twig" with {
    view_mode: view_mode
} %}
