@import "./variables";
@import "../../../theme/color/variables";
@import "../../../theme/font/variables";
@import "../../../theme/iconography/mixins";

@mixin iheid--field--formatter--social-share() {
  cursor: pointer;

  .network {
    display: block;
    background-color: $iheid--theme--color--secondary-light;
    border-radius: 50%;
    height: (40 / $iheid--theme--font--base-font-size) * 1em;
    width: (40 / $iheid--theme--font--base-font-size) * 1em;
    line-height: (40 / $iheid--theme--font--base-font-size) * 1em;
    text-align: center;
    // todo: use a component
    transition: all 0.3s;
    border-bottom: none;

    &, &:hover, &:active, &:visited {
      text-decoration: none;
    }

    &, &:visited {
      color: $iheid--theme--color--secondary-dark;
    }

    &:hover, &:active {
      color: $iheid--theme--color--secondary-light;
      background-color: $iheid--theme--color--secondary-dark;
    }

    &:before {
      display: block;
      font-size: 1.5em;
    }
  }

  &.facebook {
    .network {
      &:before {
        @include iheid--iconography--icon($iheid--theme--iconography--glyph--facebook);
      }
    }
  }

  &.twitter {
    .network {
      &:before {
        @include iheid--iconography--icon($iheid--theme--iconography--glyph--twitter);
        font-size: 1.40em;
      }
    }
  }

  &.linkedin {
    .network {
      &:before {
        @include iheid--iconography--icon($iheid--theme--iconography--glyph--linkedin);
        font-size: 1.25em;
      }
    }
  }
}
