{#
/**
 * @file social-share-formatter.html.twig
 * Default theme implementation of a social share.
 *
 * Available variables:
 * - url: The URL of the entity to share.
 * - network: The name of the social network.
 * - title: The title of the social network in the form of a translated plain string.
 * - social_settings: The social settings in the form of a hash. Contains the following entries:
 *   - facebook: The Facebook-related settings. Contains the following entries:
 *     - app_id: The Facebook App ID
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess()
 * @see template_preprocess_social_share_formatter()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--field--formatter--social-share',
    network
] %}
<div{{ attributes.addClass(classes) }}>
    {% if (network == 'facebook') %}
        <span class="network" data-app-id="{{ social_settings.facebook.app_id }}" data-url="{{ url }}"
              title="{{ title }}"></span>
    {% endif %}

    {% if (network == 'twitter') %}
        <a class="network" href="https://twitter.com/intent/tweet?url={{ url }}" title="{{ title }}"></a>
    {% endif %}

    {% if (network == 'linkedin') %}
        <a class="network" href="https://www.linkedin.com/shareArticle?url={{ url }}" title="{{ title }}"
           target="_blank"></a>
    {% endif %}
</div>
