{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Image field</div>
    <div class="demo--content">
        {% for formatter_name in [
            'image',
            'responsive_image'
        ] %}
            <div class="test-case">
                <header>{{ formatter_name }} formatter</header>
                <div class="content">
                    {{ render_field(data.field, field_formatter(
                        formatter_name,
                        'hidden',
                        {
                            image_style: 'large',
                            responsive_image_style: 'large'
                        }
                    )) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
