@import "../../../theme/typography/mixins";
@import "../../../theme/color/variables";

@mixin iheid--field--formatter--text-as-author() {
  @include iheid--typography--content;
  text-transform: uppercase;
  font-style: normal;
  line-height: normal;
  font-weight: 100;
}