{#
/**
 * @file image-formatter-decorated-image.html.twig
 * Default theme implementation to display a background image.
 *
 * Available variables:
 * - day_of_the_week: The day of the week.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 * - decorations: A list containing the name of the decorations to apply to the image.
 *
 * @see template_preprocess_image_formatter_decorated_image()
 *
 * @ingroup themeable
 */
#}
{% set imageWrapper %}
    <div class="iheid--field--formatter--image-as-decorated-image {{ decorations|join(' ') }}">
        {{ image }}
        {% for decoration in decorations %}
            <div class="decorator {{ decoration }}"></div>
        {% endfor %}
    </div>
{% endset %}

{% if url %}
    <a href="{{ url }}">{{ imageWrapper }}</a>
{% else %}
    {{ imageWrapper }}
{% endif %}
