@import "./variables";
@import "../../../decorator/background/mixins";
@import "../../../decorator/overlay/mixins";

@mixin iheid--field--formatter--image-as-decorated-image() {
  position: relative;

  img {
    display: block;
  }

  .decorator {
    @include iheid--decorator--overlay(true);

    &.darkener {
      background-color: black;
      opacity: 0.50;
    }

    &.diagonal-lines {
      @include iheid--decorator--background(diagonal-lines);
    }

    &.diagonal-stripes {
      @include iheid--decorator--background(diagonal-stripes);
    }

    &.texture {
      @include iheid--decorator--background(texture);
    }

    &.polka-dots {
      @include iheid--decorator--background(polka-dots);
    }

    &.bamboo {
      @include iheid--decorator--background(bamboo);
    }

    &.checkers {
      @include iheid--decorator--background(tiny-checkers);
    }
  }
}