@import "./variables";
@import "../../../theme/color/variables";

@mixin iheid--field--type--highlighted-project-collaborators() {
  .collaborator {
    margin-bottom: 2px;
    background-color: $iheid--theme--color--even-background;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.color-scheme--light {
    .collaborator {
      background-color: $iheid--theme--color--secondary-light;
    }
  }
}