{% set view_mode = view_mode('book_cover_large_responsive', [
    formatted_field('field_image', 'hidden', 'responsive_image', {
        responsive_image_style: 'us_letter_large'
    })
]) %}

{% include "@Test/entity/media/image/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode),
    view_mode: view_mode.name
} only %}