{% set view_mode = view_mode('fitted', [
    formatted_field('field_image', 'hidden', 'fitted-image', {
        fit: 'cover'
    })
]) %}

{% include "@Test/entity/media/image/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode),
    view_mode: 'fitted'
} only %}