{% set view_mode = view_mode('full', [
    formatted_field('field_image', 'hidden', 'image')
]) %}

{% include "@Test/entity/media/image/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode),
    view_mode: view_mode.name
} only %}