{% set view_mode = view_mode('logo', [
    formatted_field('field_image', 'hidden', 'responsive-image', {
        responsive_image_style: 'logo'
    })
]) %}

{% include "@Test/entity/media/image/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode),
    view_mode: 'logo'
} only %}