{% set view_mode = view_mode('small_card_banner_thick', [
    formatted_field('field_image', 'hidden', 'image', {
        image_style: 'small_card_banner_thick'
    })
]) %}

{% include "@Test/entity/media/image/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode),
    view_mode: view_mode.name
} only %}