{% set view_mode = view_mode('full', [
    formatted_field('related_content', 'hidden', 'entity_reference_label'),
]) %}

{% include "@Test/entity/paragraph/related-content/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}