@import "mixins";

// regular
@font-face {
  font-family: 'Melior';
  font-style: normal;
  font-weight: 400;
  @include iheid--theme--font--font-face-src('./assets/MeliorLTStd/', 'MeliorLTStd');
}

@font-face {
  font-family: 'Melior';
  font-style: italic;
  font-weight: 400;
  @include iheid--theme--font--font-face-src('./assets/MeliorLTStd/', 'MeliorLTStd-Italic');
}

// bold
@font-face {
  font-family: 'Melior';
  font-style: normal;
  font-weight: 700;
  @include iheid--theme--font--font-face-src('./assets/MeliorLTStd/', 'MeliorLTStd-Bold');
}

@font-face {
  font-family: 'Melior';
  font-style: italic;
  font-weight: 700;
  @include iheid--theme--font--font-face-src('./assets/MeliorLTStd/', 'MeliorLTStd-BoldItalic');
}
