@import "./mixins";
@import "ui";
@import "content";
@import "icon";

.iheid--theme--font--ui {
  @include iheid--theme--font--ui;
}

.iheid--theme--font--content {
  @include iheid--theme--font--content;
}

.iheid--theme--font--icon {
  @include iheid--theme--font--icon;
}

