@import "./variables";

@mixin iheid--theme--font--font-face-src($path, $name) {
  src: url('#{$path}#{$name}.eot');
  src: url('#{$path}#{$name}.eot#iefix') format('embedded-opentype'),
  url('#{$path}#{$name}.woff') format('woff'),
  url('#{$path}#{$name}.woff2') format('woff2'),
  url('#{$path}#{$name}.ttf') format('truetype'),
  url('#{$path}#{$name}.svg##{$name}') format('svg');
}

@mixin iheid--theme--font--ui() {
  font-family: Montserrat, sans-serif;
}

@mixin iheid--theme--font--content() {
  font-family: Melior, serif;
}

@mixin iheid--theme--font--icon() {
  font-family: IheidIcon, sans-serif;
}
