@import "mixins";

// thin
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-Thin');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-ThinItalic');
}

// extra-light
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-ExtraLight');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-ExtraLightItalic');
}

// light
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-Light');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-LightItalic');
}

// regular
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-Regular');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-Italic');
}

// medium
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-Medium');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-MediumItalic');
}

// semi-bold
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-SemiBold');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-SemiBoldItalic');
}

// bold
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-Bold');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-BoldItalic');
}

// extra-bold
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-ExtraBold');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-ExtraBoldItalic');
}

// black
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-Black');
}

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  @include iheid--theme--font--font-face-src('./assets/Montserrat/', 'Montserrat-BlackItalic');
}