{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">field/type/date-range</div>
    <div class="demo--content">
        {% for formatter in [
            'date_range_as_tear_off_calendar_sheet'
        ] %}
            <div class="test-case">
                <header>{{ formatter|title }} formatter</header>
                <div class="content">
                    {{ render_field(data.field, field_formatter(
                        formatter,
                        'hidden'
                    )) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
