{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Fitted-image</div>
    <div class="demo--content">
        <div class="test-case {{ name }}">
            <div class="content">
                {% include "@Test/system/fitted-image/test.html.twig" with {
                    image: data.image
                } only %}
            </div>
        </div>
    </div>
{% endblock %}
