{% include "@Src/system/fitted-image/index.html.twig" with {
    attributes: drupal_attribute({
        src: image.src,
        width: image.width,
        height: image.height
    }),
    fit: fit
} only %}
