{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">view</div>
    <div class="demo--content">
        {% include "@Test/view/test.html.twig" with data only %}
    </div>
{% endblock %}
