@import "./variables";
@import "../../theme/iconography/mixins";
@import "../../util/mixins";
@import "../../theme/color/variables";
@import "../../ui/modal/mixins";
@import "../../body/mixins";

@mixin iheid--block--contact-information-modal--label() {
  font-size: iheid--util--to-em(11);
  font-weight: 600;
  cursor: pointer;

  &:after {
    @include iheid--iconography--icon(chevron-right);
    transform: rotate(90deg);
    font-size: 0.75em;
    margin-left: 1.5em;
  }
}

@mixin iheid--block--contact-information-modal() {
  .label {
    @include iheid--block--contact-information-modal--label;
    border: none;
    background: none;
    color: inherit;
  }

  .content {
    display: none;
    @include iheid--decorator--padding(micro, top);
  }

  .overlay {
    @include iheid--decorator--padding--rectangular(mini);
    position: relative;
    z-index: 1;
  }

  .underlay {
    display: none;
  }

  &.expanded {
    position: absolute;
    width: 100%;

    @include iheid--theme--device--medium() {
      max-width: iheid--util--to-em(420);
    }

    .label {
      @include iheid--block--contact-information-modal--label;
      color: $iheid--theme--color--primary;

      &:after {
        transform: rotate(-90deg);
      }
    }

    .content {
      display: block;
    }

    .overlay {
      background-color: $iheid--theme--color--tertiary-light;
    }

    .underlay {
      @include iheid--body--overlay;
      display: block;
      z-index: 0;
    }
  }
}