{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Datetime default formatter</div>
    <div class="demo--content">
        {% for format_type in ['month_year'] %}
            <div class="test-case">
                <header>{{ format_type }} format</header>
                <div class="content">
                    {% include "@Test/field/formatter/datetime-default/test.html.twig" with {
                        value: data.value,
                        settings: {
                            format_type: format_type
                        }
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
