@import "mixins";

.iheid--ui--button--primary {
  @include iheid--ui--button;
}

.iheid--ui--button--secondary {
  @include iheid--ui--button;
  @include iheid--ui--button--secondary;
}

.iheid--ui--button--tertiary {
  @include iheid--ui--button;
  @include iheid--ui--button--tertiary;
}
