@import "variables";
@import "../../theme/typography/mixins";
@import "../../theme/device/mixins";
@import "../../theme/color/variables";

@mixin iheid--ui--button() {
  @include iheid--typography--ui;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: $iheid--theme--color--secondary-light;
  color: $iheid--theme--color--secondary-light;
  background: none;
  display: inline-block;
  font-size: 12 / 16 * 1em;
  cursor: pointer;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  padding: 0 8px;
  height: 44px;
  vertical-align: bottom;
  line-height: normal;
  min-width: 120px;

  @include iheid--theme--device--medium() {
    width: 100%;
    max-width: 200px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.20);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      background: none;
    }
  }
}

@mixin iheid--ui--button--secondary() {
  border-color: $iheid--theme--color--secondary-dark;
  color: $iheid--theme--color--secondary-dark;

  &:hover {
    background: rgba(0, 0, 0, 0.10);
  }
}

@mixin iheid--ui--button--tertiary() {
  border-color: $iheid--theme--color--primary;
  background-color: $iheid--theme--color--primary;
  color: $iheid--theme--color--secondary-light;

  &:hover {
    background-color: rgba($iheid--theme--color--primary, 0.90);
  }

  &:disabled {
    &:hover {
      background-color: $iheid--theme--color--primary;
    }
  }
}
