{#
/**
 * @file daterange-formatter-discrete-parts.html.twig
 * Default theme implementation to display date range with discrete parts.
 *
 * Available variables:
 * - start_date: Formatted start date
 * - start_time: Formatted start time
 * - end_date: Formatted end date
 * - end_time: Formatted end time
 * - separator: Plain text string to separate the start and end dates
 * - parts_separator: Plain text string to separate the parts of the dates
 * - interval: Number of days between start and end date
 *
 * @ingroup themeable
 */
#}
<div class="iheid--field--formatter--discrete-parts-daterange">
    {% set end %}
        {% set end_time %}
            <span class="time">{{ end_time }}</span>
        {% endset %}

        {% if (interval < 1) %}
            {{ end_time }}
        {% else %}
            <span class="date">{{ end_date }}</span>{{ parts_separator }}{{ end_time }}
        {% endif %}
    {% endset %}
    {% set start %}
        <span class="date">{{ start_date }}</span>{{ parts_separator }}<span class="time">{{ start_time }}</span>
    {% endset %}
    {{ start }}{{ separator }}{{ end }}
</div>
