{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Pillar decorator</div>
    <div class="demo--content">
        {% for variant in [
            null,
            'medium'
        ] %}
            <div class="test-case">
                <header>{% if variant %}{{ variant }}{% else %}default{% endif %} variant</header>
                <div class="content">
                    {% include "@Test/decorator/pillar/test.html.twig" with {
                        variant: variant
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
