{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title"><%= testName %></div>
    <div class="demo--content">
        {% include "@Test/<%= testName %>/test.html.twig" with data only %}
    </div>
{% endblock %}
