/**
 *
 * @returns {{testName: string, testCleanName: string, data: {}}}
 */
module.exports = () => {
    return {
        testName: '<%= testName %>',
        testCleanName: '<%= testCleanName %>',
        data: require('./test.data')()
    };
};
