{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">File download</div>
    <div class="demo--content">
        {% for view_mode in ['full'] %}
            <div class="test-case">
                <header>{{ view_mode }}</header>
                <div class="content">
                    {% include "@Test/entity/paragraph/file-download/view-modes/#{view_mode}.html.twig" with {
                        entity: data.entity,
                        view_mode: view_mode
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
