@import "../../../demo";
@import "test";

.demo--entity--paragraph--file-download {
  .row {
    @include make-row;
    flex-flow: column wrap;

    > * {
      margin-bottom: 30px;
    }

    .half {
      @include make-col(50);
    }

    .quarter {
      @include make-col(25);
    }
  }
}