{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Text-as-caption formatter</div>
    <div class="demo--content">
        {% include "@Src/field/formatter/text-as-caption/field--formatter--text-as-caption.html.twig" with data %}
    </div>
{% endblock %}
