{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Breadcrumb</div>
    <div class="demo--content">
        {% include "@Test/navigation/breadcrumb/test.html.twig" with {
            breadcrumb: data.breadcrumb
        } only %}
    </div>
{% endblock %}
