{#
/**
 * @file text-default-formatter.html.twig
 *
 * Available variables:
 * - value: The processed text.
 *
 * @ingroup themeable
 */
#}
<div class="iheid--field--formatter--text-default-formatter">
    {{ value }}
</div>