{#
/**
 * @file field--related-content.html.twig
 * Theme override for a related content field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 *   - active: Wheter the item is the active item.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see iheid_research_project_preprocess_related_content()
 */
#}
{% for item in items %}
    {{ item.content }}
    {{ item.type }}
    {{ item.active }}
{% endfor %}
