{#
/**
 * @file field--category-slider.html.twig
 * Theme override for a category slider field.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items, sorted by descending relevance. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - show_all
 *   - body: The body as an HTML string.
 *   - link: The link, containing the following elements:
 *     - attributes: The HTML attributes of the link.
 *     - title: The title of the link as a plain text.
 *
 * @see iheid_research_project_preprocess_category_slider()
 */
#}
{{ dump(show_all) }}
