{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Add-to-calendar formatter</div>
    <div class="demo--content">
        {% include "@Test/field/formatter/add-to-calendar/test.html.twig" with {
            value: data.value
        } only %}
    </div>
{% endblock %}
