{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">util</div>
    <div class="demo--content">
        <div class="test-case">
            <header>Device variants</header>
            <div class="content">
                {% for device in [
                    'small',
                    'medium',
                    'large',
                    'x-large'
                ] %}
                    {% set isNarrowest = loop.first %}
                    {% set isWidest = loop.last %}
                    {% for variant in ['below', null, 'beyond'] %}
                        <div class="foo----{% if variant %}{{ variant }}-{% endif %}{{ device }}">
                            {% if variant %}{{ variant }}{% endif %} {{ device }}
                            {% if (isNarrowest and loop.first) or (isWidest and loop.last) %}
                                (should never match)
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        {% include "@Test/util/test.html.twig" with data only %}
    </div>
{% endblock %}
