@import "../demo";
@import "./test";
@import "../../src/util/mixins";

.demo--util {
  .test-case {
    .content {
      padding: 5px;

      > div {
        height: 24px;
        border: solid 1px #ccc;
        margin-bottom: 5px;
        padding: 5px;
        white-space: nowrap;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .foo {
    @include iheid--util--device-variants {
      background-color: lightsteelblue;
    }
  }
}
