{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">decorator/position</div>
    <div class="demo--content">
        {% for position in ['absolute'] %}
            <div class="test-case">
                <header>{{ position }}</header>
                <div class="content">
                    <div class="container">
                        {% include "@Test/decorator/position/test.html.twig" with {
                            position: position
                        } only %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
