@import "../../demo";
@import "./test";

.demo--decorator--position {
  .container {
    position: relative;
    height: 400px;

    > div {
      height: 240px;
      background-color: brown;
    }
  }
}
