{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Children content paragraph</div>
    <div class="demo--content">
        {% for view_mode_name in ['full'] %}
            <div class="test-case">
                <header>{{ view_mode_name }}</header>
                <div class="content">
                    {{ render_entity(data.entity, view_mode_name) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
