{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">navigation/language-switcher</div>
    <div class="demo--content">
        {% include "@Test/navigation/language-switcher/test.html.twig" with data only %}
    </div>
{% endblock %}
