@import "./variables";
@import "../../ui/link/mixins";
@import "../../decorator/margin/mixins";

@mixin iheid--navigation--language-switcher() {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    @include iheid--decorator--margin(micro, end);

    &:last-child {
      @include iheid--decorator--margin(none, end);
    }

    a {
      @include iheid--ui--link;
      text-transform: uppercase;

      &, &:visited {
        text-decoration: none;
        color: $iheid--theme--color--secondary;
        border-color: $iheid--theme--color--secondary;
      }
    }

    &.active {
      a {
        &, &:visited {
          text-decoration: none;
          color: inherit;
          border-color: inherit;
        }
      }
    }
  }
}