{% include "@Src/field/formatter/link-as-fake-button/index.html.twig" with {
    attributes: attributes ?? drupal_attribute(),
    variant: settings.variant,
    title: value.title,
    url: value.url
} only %}
