{#
/**
 * @file field-group-link.html.twig
 * Default theme implementation for a fieldgroup view group.
 *
 * Available variables:
 * - label: Title of the group.
 * - children: The children of the group.
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_link()
 *
 * @ingroup themeable
 */
#}
<a{{ attributes.addClass("iheid--field--group--link") }}>
    {{ children }}
</a>