@import "./variables";

@mixin iheid--field--group--link() {
  display: block;
  border-bottom: none;
  font-weight: normal;

  &, &:active, &:hover {
    text-decoration: none;
    color: inherit;
  }
}
