{# full view mode #}
{% set view_mode = view_mode('full', [
    field_group('view-group', {name: 'root', decorators: 'iheid--decorator--color--background--primary iheid--decorator--color--foreground--secondary-light iheid--decorator--padding--mini----below-large iheid--decorator--padding--rectangular--large----beyond-medium iheid--decorator--alignment--center'}, [
        formatted_field('field_title', 'hidden', 'text-as-heading', {
            level: 3,
            variant: 'uniform'
        })
    ])
]) %}

{% include "@Test/entity/paragraph/newsletter/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
