@import "./mixins";

.iheid--field--formatter--link-as-button--primary {
  @include iheid--field--formatter--link-formatter-button;
}

.iheid--field--formatter--link-as-button--secondary {
  @include iheid--field--formatter--link-formatter-button(secondary);
}

.iheid--field--formatter--link-as-button--tertiary {
  @include iheid--field--formatter--link-formatter-button(tertiary);
}

.iheid--field--formatter--link-as-button--download {
  @include iheid--field--formatter--link-formatter-button(download);
}
