@import "./variables";
@import "../../../ui/button/mixins";
@import "../../../theme/iconography/mixins";

@mixin iheid--field--formatter--link-formatter-button($variant: null) {
  @include iheid--ui--button;

  @include iheid--theme--device--medium() {
    width: 200px;
  }

  &, &:hover {
    text-decoration: none;
  }

  .inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @if ($variant == secondary) {
    @include iheid--ui--button--secondary;
  }

  @if ($variant == tertiary) {
    @include iheid--ui--button--tertiary;
  }

  @if ($variant == download) {
    @include iheid--ui--button--secondary;
    position: relative;
    padding-right: 52px;

    &:hover {
      &:after {
        color: rgba(255, 255, 255, 0.75);
      }
    }

    &:after {
      @include iheid--iconography--icon($iheid--theme--iconography--glyph--download);
      background-color: $iheid--theme--color--secondary-dark;
      color: white;
      font-size: 26px;
      width: 44px;
      text-align: center;
      line-height: 42px;
      font-weight: normal;
      padding-left: 1px;
      box-sizing: border-box;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }

    @include iheid--theme--device--medium() {
      width: 244px;
    }
  }
}
