{% set img_element %}
    {% set resized_image = resized_image(image.src, 'crop', {
        width: 1024,
        height: 150
    }) %}

    {% include "@Test/system/image/basic/test.html.twig" with {
        image: {
            src: resized_image.src
        }
    } %}
{% endset %}

{% set resized_image = resized_image(image.src, 'crop', {
    width: 1440,
    height: 400
}) %}

{% set sources = [
    drupal_attribute({
        srcset: resized_image.src,
        type: image.type,
        media: "all and (min-width: 1024px)"
    })
] %}

{% include ["@Test/system/#{type|kebab_case}/test.html.twig", "@Test/system/responsive-image/test.html.twig"] with {
    img_element: img_element,
    sources: sources,
    responsive_image_style_id: "banner"
} only %}
