{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">system/status-messages</div>
    <div class="demo--content">
        {% for test_case in data.test_cases %}
            <div class="test-case">
                <header>{{ test_case.title }}</header>
                <div class="content">
                    {% include "@Test/system/status-messages/test.html.twig" with {
                        message_list: test_case.message_list,
                        status_headings: test_case.status_headings
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
