@import "../../../theme/color/variables.scss";
@import "../../../theme/typography/mixins.scss";

@mixin iheid--field--formatter--text-as-caption() {
  @include iheid--typography--ui;
  color: $iheid--theme--color--secondary-dark;
  font-weight: 600;
  font-size: 12px;
}