{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">field/formatter/social-profile</div>
    <div class="demo--content">
        {% for profile in data.profiles %}
            <div class="test-case">
                <header>{{ profile.network }}</header>
                <div class="content">
                    {% include "@Test/field/formatter/social-profile/test.html.twig" with {
                        value: profile
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
