@import "./variables";
@import "../mixins";
@import "../../../theme/heading/mixins";

@mixin iheid--navigation--menu--footer() {
  @include iheid--navigation--menu;

  .level-0 {
    > li {
      > a {
        display: none;
      }

      > .level-1 {
        margin-top: 0;
        margin-bottom: 0;

        > li {
          @include iheid--decorator--margin(micro, bottom);
        }
      }

      &:first-child {
        > ul {
          &:before {
            @include iheid--theme--heading--decoration(uniform);
          }
        }
      }

      @include iheid--theme--device--medium() {
        > .level-1 {
          > li {
            @include iheid--decorator--margin(none, bottom);
          }
        }

        > ul {
          &:before {
            @include iheid--theme--heading--decoration(uniform);
          }
        }
      }
    }
  }
}