@import "./mixins";

@for $level from 1 through 6 {
  h#{$level} {
    @if ($level == 1) {
      @include iheid--theme--heading--1();
    } @else if ($level == 2) {
      @include iheid--theme--heading--2();
    } @else if ($level == 3) {
      @include iheid--theme--heading--3();
    } @else if ($level == 4) {
      @include iheid--theme--heading--4();
    } @else if ($level == 5) {
      @include iheid--theme--heading--5();
    } @else if ($level == 6) {
      @include iheid--theme--heading--6();
    }
  }
}