@import "../color/mixins";
@import "../color/variables";
@import "../font/variables";
@import "../device/mixins";
@import "../typography/mixins";
@import "../../util/functions";

@mixin iheid--theme--heading--decoration($variant: null) {
  width: auto;
  line-height: 2px;
  display: block;
  content: "\2500\2500\2500";
  letter-spacing: -1px;
  margin-bottom: 16px;
  color: $iheid--theme--color--primary;
  font-size: $iheid--theme--font--base-font-size * 1.5px;
  font-family: monospace;

  @if ($variant == 'uniform') {
    color: inherit;
  }

  @if ($variant == 'bland') {
    display: none;
  }
}

@mixin iheid--theme--heading($variant: null) {
  @include iheid--typography--ui;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.1px;
  margin: 0;

  &:before {
    @include iheid--theme--heading--decoration($variant);
  }
}

@mixin iheid--theme--heading--1($variant: null) {
  @include iheid--theme--heading($variant);
  font-size: iheid--util--to-em(36);
  line-height: 1.05;

  @include iheid--theme--device--medium() {
    font-size: iheid--util--to-em(40);
  }
}

@mixin iheid--theme--heading--2($variant: null) {
  @include iheid--theme--heading($variant);
  font-size: iheid--util--to-em(22);

  @include iheid--theme--device--medium() {
    font-size: iheid--util--to-em(36);
  }
}

@mixin iheid--theme--heading--3($variant: null) {
  @include iheid--theme--heading($variant);
  font-size: iheid--util--to-em(20);
  letter-spacing: 1px;

  @include iheid--theme--device--medium() {
    font-size: iheid--util--to-em(24);
  }
}

@mixin iheid--theme--heading--4($variant: null) {
  @include iheid--theme--heading($variant);
  font-size: iheid--util--to-em(14);
  letter-spacing: 0.5px;

  @include iheid--theme--device--medium() {
    font-size: iheid--util--to-em(18);
  }
}

@mixin iheid--theme--heading--5($variant: null) {
  @include iheid--theme--heading($variant);
  font-size: iheid--util--to-em(12);
  line-height: 1.33;
  letter-spacing: normal;
  text-transform: unset;
}

@mixin iheid--theme--heading--6($variant: null) {
  @include iheid--theme--heading($variant);
  font-size: iheid--util--to-em(11);
  line-height: 2.36;
  letter-spacing: 0.3px;
  text-transform: unset;

  &:before {
    margin-bottom: 1px;
  }
}
