{% import "@Test/demo.html.twig" as macros %}

{# full view mode #}
{% set view_mode = view_mode('full', [
    field_group('view-group', {name: 'main', decorators: 'iheid--decorator--padding--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium'}, [
        formatted_field('title', 'hidden', 'text_as_heading', {
            level: 3,
            decorators: 'iheid--decorator--alignment--center'
        }),
        formatted_field('field_soundcloud', 'hidden', 'soundcloud_default', {
            decorators: 'iheid--decorator--margin--top--mini----below-large iheid--decorator--margin--top--small----beyond-medium'
        }),
    ])
]) %}

{% include "@Test/entity/paragraph/soundcloud/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
