{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Project collaborator formatter</div>
    <div class="demo--content">
        {% for view_mode in [
            'main-signature',
            'secondary-signature'
        ] %}
            {% for highlighted_view_mode in [
                'main-signature',
                'secondary-signature'
            ] %}
                <div class="test-case">
                    <header>
                        <div>View mode: {{ view_mode }}</div>
                        <div>Highlighted view mode: {{ highlighted_view_mode }}</div>
                    </header>
                    <div class="content">
                        {% for project_collaborator in data.project_collaborators %}
                            {% include "@Test/field/formatter/project-collaborator/test.html.twig" with {
                                value: project_collaborator,
                                settings: {
                                    view_mode: view_mode,
                                    highlighted_view_mode: highlighted_view_mode
                                }
                            } only %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
