{% set view_mode = value.highlighted ? settings.highlighted_view_mode : settings.view_mode %}

{% include "@Test/entity/node/collaborator/view-modes/#{view_mode|kebab_case}.html.twig" with {
    entity: value.collaborator,
    view_mode: view_mode
} only %}