{#
/**
 * @file copyright-text-formatter.html.twig
 * Default theme implementation to show copyright text.
 *
 * Available variables:
 * - text: The copyright text content.
 *
 * @ingroup themeable
 */
#}
{{ text }}