{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Image as decorated image formatter</div>
    <div class="demo--content">
        <div class="grid">
            <div class="row">
                {% for decorations in [
                    ['bamboo'],
                    ['checkers'],
                    ['darkener'],
                    ['diagonal-lines'],
                    ['diagonal-stripes'],
                    ['polka-dots'],
                    ['texture'],
                    ['diagonal-lines', 'texture'],
                    ['diagonal-lines', 'texture', 'polka-dots'],
                    ['diagonal-stripes', 'darkener'],
                    ['darkener', 'darkener'],
                    ['darkener', 'darkener', 'darkener']
                ] %}
                    <div class="cell">
                        <div class="test-case">
                            <header>{{ (decorations|join(' + '))|title }}</header>
                            <div class="content">
                                {% include "@Test/field/formatter/image-as-decorated-image/test.html.twig" with {
                                    image: data.image,
                                    decorations: decorations
                                } only %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
