@import "../../../demo";
@import "context";
@import "../../../../src/layout/grid/mixins";
@import "../../../../src/theme/device/mixins";

.demo--field--formatter--image-as-decorated-image {
  .row {
    @include iheid--layout--grid--row;
  }

  .cell {
    @include iheid--theme--device--medium() {
      @include iheid--layout--grid--column(50);
    }

    text-align: center;
    box-sizing: border-box;
  }

  .test-case {
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}
