{% set image %}
    {% include "@Test/system/image/basic/test.html.twig" with {
        image: image
    } only %}
{% endset %}

{% include "@Src/field/formatter/image-as-decorated-image/index.html.twig" with {
    image: image,
    decorations: decorations
} only %}
