{# darkened view mode #}
{% set view_mode = view_mode('darkened', [
    formatted_field('field_video', 'hidden', 'file-as-decorated-video', {
        decorations: ['darkener']
    })
]) %}

<!-- video media entity -->
{% include "@Test/entity/media/video/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode),
    view_mode: view_mode.name
} %}