{# full view mode #}
{% set view_mode = view_mode('full', [
    formatted_field('field_video', 'hidden', 'file-as-decorated-video')
]) %}

<!-- video media entity -->
{% include "@Test/entity/media/video/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode),
    view_mode: view_mode.name
} %}