{% set view_mode = view_mode('full', [
    formatted_field('content_type', 'hidden', 'content_type', {
        overridden_title: 'Research page',
        decorators: 'iheid--decorator--padding--small iheid--decorator--padding--horizontal--large----beyond-medium'
    }),
    field_group('view-group', {name: 'header', label: 'Header', decorators: 'iheid--decorator--padding--small----below-large iheid--decorator--padding--large----beyond-medium iheid--decorator--color--background--even-background'}, [
        field_group('view-group', {name: 'header_column', label: 'Header column', decorators: 'iheid--decorator--margin--auto iheid--decorator--pillar iheid--decorator--alignment--center----below-large'}, [
            formatted_field('field_top_header', 'hidden', 'text-as-author'),
            formatted_field('title', 'hidden', 'text-as-heading', {
                level: 3,
                decorators: 'iheid--decorator--margin--top--mini'
            }),
            formatted_field('highlighted_project_collaborators', 'visible', 'project-collaborator', {
                view_mode: 'secondary_signature',
                highlighted_view_mode: 'secondary_signature',
                color_scheme: 'light',
                decorators: 'iheid--decorator--margin--top--mini iheid--decorator--alignment--start'
            }),
            formatted_field('social_share', 'visible', 'social-share', {
                decorators: 'iheid--decorator--margin--top--small'
            })
        ])
    ]),
    formatted_field('body', 'hidden', 'text-default', {
        decorators: 'iheid--decorator--padding--rectangular--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium'
    }),
    formatted_field('field_editorial_content', 'hidden', 'rendered-entity', {
        view_mode: 'full',
    }),
    formatted_field('field_collaborators', 'hidden', 'project-collaborator', {
        view_mode: 'secondary_signature',
        highlighted_view_mode: 'secondary_signature',
        color_scheme: 'dark',
        decorators: 'iheid--decorator--padding--rectangular--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium'
    })
]) %}

{% include "@Test/entity/node/research-project/test.html.twig" with {
    view_mode: view_mode
} %}
