{% set view_mode = view_mode('small-card', [
    field_group('link', {name: 'link', label: 'Link group', target_attribute: 'blank', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--padding--top--micro'}, [
        formatted_field('content_type', 'hidden', 'content_type', {
            variant: 'badge',
            overridden_title: 'Project',
            decorators: 'iheid--decorator--position--absolute'
        }),
        field_group('linear-layout', {name: 'root', label: 'Root', decorators: 'iheid--decorator--dimension--height--full iheid--decorator--flex--space-between iheid--decorator--flex--direction--column iheid--decorator--padding--micro iheid--decorator--border iheid--decorator--color--background--secondary-light'}, [
            field_group('linear-layout', {name: 'top', label: 'Top group', decorators: 'iheid--decorator--flex--direction--column'}, [
                formatted_field('field_top_header', 'hidden', 'text-as-author', {
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
                formatted_field('title', 'hidden', 'text-as-heading', {
                    level: 4,
                    decorators: 'iheid--decorator--margin--top--mini'
                }),
            ]),
            formatted_field('highlighted_project_collaborators', 'hidden', 'project-collaborator', {
                items_layout: 'separated_list',
                view_mode: 'signature_text',
                highlighted_view_mode: 'signature_text',
                decorators: 'iheid--decorator--color--background--even-background iheid--decorator--alignment--start iheid--decorator--padding--small'
            })
        ])
    ])
]) %}

{% include "@Test/entity/node/research-project/test.html.twig" with {
    view_mode: view_mode
} %}