@import "./mixins";

.iheid--ui--modal {
  @include iheid--ui--modal;
}

.iheid--ui--modal--header {
  @include iheid--ui--modal--header;
}

.iheid--ui--modal--content {
  @include iheid--ui--modal--content;
}

.iheid--ui--modal--footer {
  @include iheid--ui--modal--footer;
}