@import "../../decorator/padding/mixins";
@import "../../theme/iconography/mixins";
@import "../../theme/color/variables";
@import "../../decorator/flex/mixins";
@import "../../theme/device/mixins";

@mixin iheid--ui--modal--padding {
  @include iheid--decorator--padding(small);

  @include iheid--theme--device--medium() {
    @include iheid--decorator--padding--axis(large, horizontal);
  }
}

@mixin iheid--ui--modal--header {
  @include iheid--ui--modal--padding();
  border-bottom: solid 1px $iheid--theme--color--even-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

@mixin iheid--ui--modal--footer {
  @include iheid--ui--modal--padding();
  border-top: solid 1px $iheid--theme--color--even-background;
  display: flex;
  flex-shrink: 0;
}

@mixin iheid--ui--modal--content {
  @include iheid--ui--modal--padding();
  @include iheid--decorator--flex(1);
  overflow-y: auto;
}

@mixin iheid--ui--modal--close-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: iheid--util--to-em(16);
  padding: 0;

  &:after {
    @include iheid--iconography--icon(close);
  }
}

@mixin iheid--ui--modal() {
  display: block;
  opacity: 0;
  transition: opacity 0.15s;

  // todo: we should have a mixin for the two following rules
  max-width: iheid--util--to-em(1440);
  margin: auto;

  top: 0;
  bottom: 0;

  &.opened {
    opacity: 1;
    left: 0;
    right: 0;
  }

  @include iheid--theme--device--medium() {
    width: 80%;
    top: 10%;
    bottom: 10%;
  }
}