{#
/**
 * @file burger-menu.html.twig
 * Default theme implementation to display a burger menu.
 *
 * Available variables:
 * - primary: The rendered primary menu.
 * - secondary: The rendered secondary menu.
 *
 * @see template_preprocess_burger_menu()
 *
 * @ingroup themeable
 */
#}
<div class="iheid--navigation--burger-menu">
    <button class="trigger" type="button"></button>
    {# we have to fully-qualify this element because it will be moved to another scope once included in the modal #}
    <div class="iheid--navigation--burger-menu--content" data-language="{{ language_code }}">
        <div class="inner">
            <div class="header">
                {{ language_switcher }}
                <button class="close"></button>
            </div>
            <div class="content">
                <div class="menu main">
                    {{ primary }}
                </div>
                <div class="menu next">
                    {{ secondary }}
                </div>
            </div>
            <div class="footer">
                <button class="show-next">{{ show_next_title }}</button>
            </div>
        </div>
    </div>
</div>