@import "./variables";
@import "../../theme/iconography/mixins";
@import "../../theme/color/variables";
@import "../../decorator/padding/variables";
@import "../../decorator/padding/mixins";
@import "../../ui/link/mixins";
@import "../../ui/modal/mixins";

@mixin iheid--block--menus--button() {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.0em;
  color: inherit;
  display: flex;
  padding: 0;
}

@mixin iheid--navigation--burger-menu() {
  @include iheid--decorator--padding--axis(micro, horizontal);

  &--content {
    @include iheid--theme--device--medium() {
      max-height: 950px;
    }

    display: none;
    background-color: $iheid--theme--color--secondary-light;

    .inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .header {
      @include iheid--ui--modal--header;

      .language-selector {
        padding: 0;
        margin: 0;
        list-style: none;
        visibility: hidden;

        @include iheid--theme--device--medium() {
          visibility: visible;
        }

        li {
          display: inline-block;
        }

        button {
          border: none;
          background: 0;
          padding: 0;
          @include iheid--ui--link;
          text-transform: uppercase;

          &.disabled {
            color: $iheid--theme--color--secondary;
            border-color: $iheid--theme--color--secondary;
          }
        }
      }

      .close {
        @include iheid--ui--modal--close-button;
      }
    }

    .content {
      @include iheid--ui--modal--content;

      .menu {
        &.main {
          @include iheid--theme--device--medium() {
            display: none;
          }
        }

        &.next {
          display: none;

          @include iheid--theme--device--medium() {
            display: block;
          }

          // todo: blind-targetting
          .iheid--navigation--menu {

          }
        }
      }
    }

    .footer {
      @include iheid--ui--modal--footer;
      justify-content: space-around;

      @include iheid--theme--device--medium() {
        display: none;
      }

      .show-next {
        border: 0;
        background: none;
        padding: 0;
        @include iheid--ui--link;
        text-transform: uppercase;
      }
    }

    &.next {
      .header {
        .language-selector {
          visibility: visible;
        }
      }

      .content {
        .menu {
          &.main {
            display: none;
          }

          &.next {
            display: block;
          }
        }
      }

      .footer {
        display: none;
      }
    }
  }

  .trigger {
    @include iheid--block--menus--button();

    &:after {
      font-size: 1.5em;
      @include iheid--iconography--icon(bars);
    }
  }

  &--mode-modal {
    .block__content {
      display: none;
    }
  }

  &--menu {
    position: relative;
    background-color: $iheid--theme--color--secondary-light;

    .next {
      @include iheid--block--menus--button();
      @include iheid--ui--link();
      font-size: iheid--util--to-em(12);
      text-transform: uppercase;
      display: inline-block;
    }

    &.iheid--ui--modal--content {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
    }
  }

  &--modal-content {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &--modal-footer {
    text-align: center;
  }

  &--modal-header, &--modal-footer {
    padding: $iheid--decorator--padding--small * 1px;
  }
}