@import "./mixins";

.iheid--field--formatter--text-as-heading {
  @each $variant in (uniform, bland) {
    &--#{$variant} {
      @include iheid--field--formatter--text-as-heading($variant);
    }
  }
}
