{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Image media</div>
    <div class="demo--content">
        {% for view_mode_name in [
            'full',
            'fitted',
            'thumbnail',
            'thumbnail_medium',
            'thumbnail_medium_responsive',
            'thumbnail_large',
            'banner'
        ] %}
            <div class="test-case">
                <div class="header">{{ view_mode_name }}</div>
                <div class="content">
                    {{ render_entity(data.entity, view_mode_name) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
