{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">field/type/content-type</div>
    <div class="demo--content">
        {% include "@Test/field/type/content-type/test.html.twig" with data only %}
    </div>
{% endblock %}
