@import "./variables";
@import "../../util/functions";
@import "../../theme/device/mixins";

@mixin iheid--system--responsive-image($style: null) {
  display: block;

  img {
    display: block;
  }
}

@mixin iheid--system--responsive-image--banner() {
  picture {
    // this is not blind-targeting since <picture> tag specs enforce that we have an <img> as direct child
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // IE11 support via object-fit-images: https://www.npmjs.com/package/object-fit-images
      font-family: 'object-fit: cover';
    }
  }
}

@mixin iheid--system--responsive-image--style-banner {
  @include iheid--system--responsive-image--banner;
  height: iheid--util--to-em(150);

  @include iheid--theme--device--medium() {
    height: iheid--util--to-em(400);
  }
}