{#
/**
 * @file
 * Default theme implementation of a responsive image.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - sources: The attributes of the <source> tags for this <picture> tag.
 * - img_element: The controlling image, with the fallback image in srcset.
 * - output_image_tag: Whether or not to output an <img> tag instead of a
 *   <picture> tag.
 * - responsive_image_style_id: (optional) The name of the responsive image style applied.
 *
 * @see template_preprocess()
 * @see template_preprocess_responsive_image()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--system--responsive-image',
    responsive_image_style_id ? 'iheid--system--responsive-image--style-' ~ responsive_image_style_id|clean_class
] %}
<div{{ attributes.addClass(classes) }}>
    {% if output_image_tag %}
        {{ img_element }}
    {% else %}
        <picture>
            {% if sources %}
                {% for source_attributes in sources %}
                    <source{{ source_attributes }}/>
                {% endfor %}
            {% endif %}
            {{ img_element }}
        </picture>
    {% endif %}
</div>