{# full view mode #}
{% set view_mode = view_mode('full', [
    field_group('linear-layout', {name: 'root', label: 'Root', decorators:'iheid--decorator--padding--mini----below-large iheid--decorator--padding--rectangular--large----beyond-medium iheid--decorator--flex--direction--column----below-large iheid--decorator--alignment--center----below-large'}, [
        formatted_field('image', 'hidden', 'rendered-entity', {
            view_mode: 'thumbnail_large',
            decorators: 'iheid--decorator--margin--end--micro----beyond-medium'
        }),
        field_group('linear-layout', {name: 'content', label: 'Content', decorators: 'iheid--decorator--padding--micro iheid--decorator--flex--direction--column'}, [
            formatted_field('quote', 'hidden', 'text-as-quote'),
            formatted_field('author', 'hidden', 'text-as-author'),
            formatted_field('caption', 'hidden', 'text-as-caption'),
        ])
    ])
]) %}

{% include "@Test/entity/paragraph/quote/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
