{#
/**
 * @file add-to-calendar-formatter.html.twig
 * Theme implementation of the add-to-calendar formatter.
 *
 * Available variables:
 * - url: The URL of the calendar link.
 * - title: The title of the calendar link.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess()
 * @see template_preprocess_add_to_calendar_formatter()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'iheid--field--formatter--add-to-calendar'
] %}
<a{{ attributes.addClass(classes) }} href="{{ url }}">
    <div class="inner">
        <span class="title">{{ title }}</span>
    </div>
</a>