{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Page node</div>
    <div class="demo--content">
        {% for view_mode in [
            'full',
            'small-card',
            'slider-card',
            'three-columns-small-card'
        ] %}
            <div class="test-case {{ view_mode|kebab_case }}">
                <header>{{ view_mode }}</header>
                <div class="content">
                    {% include "@Test/entity/node/page/view-modes/#{view_mode|kebab_case}.html.twig" with {
                        entity: data.entity,
                        view_mode: view_mode
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
