{#
/**
 * @file content-type-formatter.html.twig
 * Default theme implementation to content type field item.
 *
 * Available variables:
 * - text: The overriden title of the entity.
 *
 * @ingroup themeable
 */
#}

<strong>
    Text: {{ text }}<br>
</strong>