{#
/**
 * @file daterange-formatter-discrete-parts.html.twig
 * Default theme implementation to display date range with discrete parts.
 *
 * Available variables:
 * - start_date: Formatted start date
 * - start_time: Formatted start time
 * - end_date: Formatted end date
 * - end_time: Formatted end time
 * - separator: Plain text string to separate the start and end dates
 * - parts_separator: Plain text string to separate the parts of the dates
 * - interval: Number of days between start and end date
 *
 * @ingroup themeable
 */
#}
{{ start_date }}{{ parts_separator }}<i>{{ start_time }}</i>{{ separator }}{{ end_date }}{{ parts_separator }}<i>{{ end_time }}</i>
{{ interval }}
