{#
/**
 * @file field-group-linear-layout.html.twig
 * Default theme implementation for a fieldgroup linear layout.
 *
 * Available variables:
 * - label: Title of the group.
 * - children: The children of the group.
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_linear_layout()
 *
 * @ingroup themeable
 */
#}

{{ label }}
{{ children }}
{{ dump(attributes) }}
