{#
/**
 * @file field--breadcrumbs.html.twig
 * Default theme implementation to display breadcrumbs.
 *
 * Available variables:
 * - items: List of all the field items. Each item contains:
 *   - title: The field item's title.
 *   - url: The field item's url.
 *
 * @ingroup themeable
 */
#}
{% for item in items %}
    &gt;&nbsp;<a href="{{ item.url }}">{{ item.title }}</a>&nbsp;
{% endfor %}