{#
/**
 * @file text-formatter-author.html.twig
 * Default theme implementation to display titles as given author name.
 *
 * Available variables:
 * - text: The processed text.
 *
 * @ingroup themeable
 */
#}
{{ text }}