{#
/**
 * @file text-formatter-capotion.html.twig
 * Default theme implementation to display titles as a caption.
 *
 * Available variables:
 * - text: The processed text.
 *
 * @ingroup themeable
 */
#}
{{ text }}