{#
/**
* @file file-formatter-link-as-button.html.twig
* Default theme implementation to display the file link as styled button.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   link tag.
* - file: The full file object.
* - variant: Button style class name.
* @ingroup themeable
*/
#}
{% spaceless %}
    {{ variant }}
{% endspaceless %}