{#
/**
* @file file-formatter-decorated-video.html.twig
* Default theme implementation to display the file entity as a decorated video.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   video tag.
* - files: And array of files to be added as sources for the video tag. Each
*   element is an array with the following elements:
*   - file: The full file object.
*   - source_attributes: An array of HTML attributes for to be added to the
*     source tag.
* - decorations: A list containing the name of the decorations to apply to the video.
*
* @ingroup themeable
*/
#}
<video {{ attributes }}>
    {% for file in files %}
        <source {{ file.source_attributes }} />
    {% endfor %}
</video>