{#
/**
 * @file image-formatter-decorated-image.html.twig
 * Default theme implementation to display a background image.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 * - decorations: A list containing the name of the decorations to apply to the image.
 *
 * @see template_preprocess_image_formatter_decorated_image()
 *
 * @ingroup themeable
 */
#}
{{ image }}