{#
/**
 * @file link-formatter-fake-button.html.twig
 * Default theme implementation of a link formatted as a fake button.
 *
 * Available variables:
 * - link: The link that has already been formatted by l().
 * - title: (optional) A descriptive or alternate title for the link, which may
 *   be different than the actual link text.
 * - variant: The name of the variant
 * - attributes
 *
 * @see template_preprocess()
 * @see template_preprocess_link_formatter_fake_button()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
    {{ title }}
    {{ link }}
    {{ variant }}
{% endspaceless %}
