{#
/**
 * @file soundcloud-formatter.html.twig
 * Default theme implementation for a SoundCloud embed player field.
 *
 * Available variables:
 * - url: The URL of the link
 *
 * @see template_preprocess()
 * @see template_preprocess_soundcloud_formatter()
 *
 * @ingroup themeable
 */
#}
{{ url }}
