{#
/**
 * @file
 * Default theme implementation of the tear-off calendar sheet formatter.
 *
 * Available variables:
 * - image: A collection of image data to use as frame.
 * - date_parts: The date parts in the form of a hash with the following elements:
 *  - day_of_week: The day of the week in plain string.
 *  - day_of_month: The day of the month in plain string.
 *  - month: The month in plain string.
 *
 * @see template_preprocess_tear_off_calendar_sheet_formatter()
 *
 * @ingroup themeable
 */
#}
{{ dump(date_parts) }}
{{ image }}
