{#
/**
 * @file telephone-link-formatter.html.twig
 * Default theme implementation of a link formatter.
 *
 * Available variables:
 * - url: The URL of the link as plain text.
 * - title: (optional) A descriptive or alternate title for the link, which may
 *   be different than the actual link text.
 * - attributes: An array of HTML attributes.
 *
 * @see template_preprocess()
 * @see template_preprocess_telephone_link_formatter()
 *
 * @ingroup themeable
 */
#}
{{ dump(attributes) }}
{{ title }}
{{ url }}
