{#
/**
 * @file text-formatter-heading.html.twig
 * Default theme implementation to display a text field item as an heading.
 *
 * Available variables:
 * - text: The processed text.
 * - level: The heading level.
 * - variant: The optional variant name.
 *
 * @see template_preprocess_text_formatter_heading()
 *
 * @ingroup themeable
 */
#}
{{ text }} as heading-{{ level }}