{% set image = resized_image(image.src, 'crop', {
    width: 390,
    height: 250
}) %}

{% include "@Test/system/image/basic/test.html.twig" with {
    image: image,
    image_style: "small_card_banner_thick"
} only %}
