{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Related content field</div>
    <div class="demo--content">
        {% for formatter_name in ['entity_reference_label'] %}
            <div class="test-case">
                <header>{{ formatter_name }}</header>
                <div class="content">
                    {{ render_field(data.field, field_formatter(
                        formatter_name,
                        'hidden'
                    )) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
