{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Local tasks</div>
    <div class="demo--content">
        {% set primary %}
            <li><a href="#">Lorem</a></li>
            <li><a href="#">Ipsum</a></li>
            <li><a href="#">Dolor</a></li>
            <li><a href="#">Sit</a></li>
            <li><a href="#">Amet</a></li>
        {% endset %}
        <div class="test-case">
            <div class="content">
                {% include "@Test/system/menu-local-tasks/test.html.twig" with {
                    primary: primary
                } only %}
            </div>
        </div>
    </div>
{% endblock %}
