@import "./variables";
@import "../../../theme/device/mixins";

@mixin iheid--layout--region--header-main() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}