{#
/**
 * @file region--header-main.html.twig
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div{{ attributes.addClass('iheid--layout--region--header-main') }}>
        {{ content }}
    </div>
{% endif %}