@mixin iheid--field--type--link() {
  .field__items {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
  }

  .field__item {
    margin: 0 0.5em;
    display: inline-block;
    flex-grow: 1;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}