<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IHEID - Styleguide</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div class="styleguide" data-is="styleguide" list="#menu"></div>
<ul id="menu">
    {% for component in components %}
        <li>
            <a href="components/{{ component.name }}" data-name="{{ component.name }}">{{ component.name }}</a>
        </li>
    {% endfor %}
</ul>
<script src="index.js"></script>
</body>
</html>
