{% set img_element %}
    {% set resized_image = resized_image(image.src, 'crop', {
        width: 155,
        height: 200
    }) %}

    {% include "@Test/system/image/basic/test.html.twig" with {
        image: {
            src: resized_image.src
        }
    } %}
{% endset %}

{% set resized_image = resized_image(image.src, 'crop', {
    width: 309,
    height: 400
}) %}

{% set sources = [
    drupal_attribute({
        srcset: resized_image.src,
        type: image.type,
        media: "all and (min-width: 1024px)"
    })
] %}

{% include "@Test/system/responsive-image/test.html.twig" with {
    img_element: img_element,
    sources: sources
} only %}
