{# full view mode #}
{% set view_mode = view_mode('full', [
    formatted_field('video', 'hidden', 'rendered-entity', {
        view_mode: 'darkened'
    }),
    field_group('linear-layout', {name: 'foreground', label: 'Foreground', decorators: 'iheid--decorator--alignment--center iheid--decorator--padding--small----below-large iheid--decorator--padding--large----beyond-medium iheid--decorator--overlay iheid--decorator--flex--space-between iheid--decorator--flex--direction--column'}, [
        formatted_field('title', 'hidden', 'text-as-heading', {
            level: 2
        }),
        field_group('view-group', {name: 'bottom', label: 'Bottom'}, [
            formatted_field('body', 'hidden', 'text-default', {
                decorators: 'iheid--decorator--visibility--hidden----below-large'
            }),
            formatted_field('buttons', 'hidden', 'link-as-button', {
                variant: 'primary',
                decorators: 'iheid--decorator--margin--top--mini'
            }),
        ])
    ]),
]) %}

{% include "@Test/entity/paragraph/animated-banner/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
