@import "./variables";

@mixin iheid--field--formatter--youtube-default() {
  padding-bottom: 56.25%;
  position: relative;

  .player {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}