{#
/**
 * @file youtube-formatter.html.twig
 * Default theme implementation for a youtube embed player field.
 *
 * Available variables:
 *  - video_id: The ID of the YouTube video.
 *
 * @ingroup themeable
 */
#}
<div class="iheid--field--formatter--youtube-default">
    <div class="player" data-video-id="{{ video_id }}"></div>
</div>
