@import "./variables";
@import "../../../theme/device/mixins";
@import "../../../theme/color/variables";
@import "../../../util/mixins";
@import "../../../decorator/margin/mixins";
@import "../../../decorator/padding/mixins";
@import "../mixins";

@mixin iheid--navigation--menu--site-map() {
  @include iheid--navigation--menu;

  .level-0 {
    display: block;

    > li {
      margin: 0;
      @include iheid--decorator--margin(small, bottom);
      @include iheid--decorator--padding(micro, end);
      width: 285px;

      &:last-child {
        margin-bottom: 0;
      }

      > a {
        color: $iheid--theme--color--primary;
        font-size: iheid--util--to-em(14);
      }
    }
  }

  .level-1 {
    li {
      a {
        text-transform: none;
      }
    }
  }
}