{# full view mode #}
{% set view_mode = view_mode('full', [
    formatted_field('field_text', 'hidden', 'text_as_copyright', {
        decorators: 'iheid--decorator--margin--top--micro iheid--decorator--margin--horizontal--micro----below-large iheid--decorator--margin--horizontal--large----beyond-medium'
    }),
]) %}

{% include "@Test/entity/paragraph/copyright/test.html.twig" with {
    entity: entity,
    content: render_entity(entity, view_mode)
} only %}
