<!-- contact node -->
{% include "@Src/entity/term/pillar/index.html.twig" with {
    attributes: drupal_attribute(),
    title_prefix: title_prefix,
    title_suffix: title_suffix,
    content: render_entity(entity, view_mode),
    term: entity,
    view_mode: view_mode.name
} only %}
