{#
/**
 * @file field-group-view-group.html.twig
 * Default theme implementation for a fieldgroup view group.
 *
 * Available variables:
 * - label: Title of the group.
 * - children: The children of the group.
 * - attributes: A list of HTML attributes for the group wrapper.
 *
 * @see template_preprocess_field_group_vew_group()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes.addClass("iheid--field--group--view-group") }}>
    {{ children }}
</div>