@import "../../../ui/button/mixins";

@mixin iheid--form--input--submit--width() {
  width: 200px;

  @include iheid--theme--device--medium() {
    width: 200px;
  }
}

@mixin iheid--form--input--submit() {
  @include iheid--ui--button;
  @include iheid--ui--button--secondary;
  @include iheid--form--input--submit--width;
}