@import "../../../decorator/background/mixins";
@import "../../../decorator/overlay/mixins";
@import "../../../theme/device/mixins";

@mixin iheid--field--formatter--file-as-decorated-video() {
  position: relative;

  video {
    display: block;
    width: 100%;
  }

  .decorator {
    @include iheid--decorator--overlay(true);
    pointer-events: none;

    &.darkener {
      background-color: black;
      opacity: 0.50;
    }

    &.diagonal-lines {
      @include iheid--decorator--background(diagonal-lines);
    }

    &.diagonal-stripes {
      @include iheid--decorator--background(diagonal-stripes);
    }

    &.texture {
      @include iheid--decorator--background(texture);
    }

    &.polka-dots {
      @include iheid--decorator--background(polka-dots);
    }

    &.bamboo {
      @include iheid--decorator--background(bamboo);
    }

    &.checkers {
      @include iheid--decorator--background(tiny-checkers);
    }
  }
}