{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Brand-box decorator</div>
    <div class="demo--content">
        <div class="iheid--decorator--brand-box">
            <div class="fake-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus est volutpat leo cursus
                laoreet. Proin vehicula justo at lacus ullamcorper rutrum. Nulla facilisi. Quisque at magna nec tortor
                egestas auctor. Donec ac quam nec orci mollis porta et sed arcu. Sed et pharetra nibh. Vestibulum
                dignissim lacus tortor, sed vulputate justo pretium eu. Quisque odio risus, cursus ut sapien id,
                placerat bibendum felis. Ut odio dui, placerat tincidunt leo non, condimentum finibus ipsum. Morbi nec
                velit at ipsum condimentum laoreet. Morbi in enim mollis felis venenatis semper. Donec tempus metus sit
                amet tincidunt eleifend. Sed eleifend nulla velit, eu volutpat arcu pellentesque ut. Nullam fermentum,
                libero in consequat varius, orci nisi pretium urna, ut mollis dolor risus at diam.
            </div>
        </div>
    </div>
{% endblock %}
