@import "../../../demo";
@import "include";

.demo--field--group--linear-layout {
  .iheid--field--group--linear-layout {
    > div {
      background-color: brown;
      height: 192px;
      width: 64px;
    }

    > div + div {
      background-color: cornflowerblue;
    }
  }
}
