{% extends "@Test/demo.html.twig" %}

{% set children %}
    <div></div>
    <div></div>
{% endset %}

{% block body %}
    <div class="demo--title">Linear-layout field group</div>
    <div class="demo--content">
        {% include "@Test/field/group/linear-layout/test.html.twig" with {
            children: children,
        } only %}
    </div>
{% endblock %}
