<!-- {{ settings.name }} group -->
{% include "@Src/field/group/linear-layout/index.html.twig" with {
    attributes: drupal_attribute().addClass(settings.decorators),
    children: children
} only %}
