{% include "@Src/entity/paragraph/paragraph.html.twig" with {
    attributes: attributes ?? drupal_attribute(),
    paragraph: {
        bundle: 'animated-banner'
    },
    content: content
} only %}