@import "../../../theme/color/variables";
@import "../../../theme/typography/mixins";
@import "../../../layout/grid/mixins";
@import "../../../theme/device/mixins";

@mixin iheid--entity--paragraph--type--animated-banner() {
  position: relative;
  color: $iheid--theme--color--secondary-light;
  //height: 368 / $iheid--theme--font--base-font-size * 1em;
  overflow: hidden;

  @include iheid--theme--device--medium() {
    //height: 720 / $iheid--theme--font--base-font-size * 1em;
  }
}