@import "./mixins";
@import "../../util/mixins";

.iheid--decorator--visibility {
  @each $state in (visible, hidden) {
    &--#{$state} {
      @include iheid--util--device-variants {
        @include iheid--decorator--visibility($state);
      }
    }
  }
}

