@import "../../theme/device/mixins";

@mixin iheid--decorator--visibility($state) {
  $value: null;

  @if ($state == visible) {
    $value: initial;
  } @else if ($state == hidden) {
    $value: none;
  }

  display: #{$value};
}
