@import "../../../demo";
@import "./test";

.demo--field--formatter--link-as-button {
  .test-case {
    .content {
      padding: 10px;
    }

    &.primary {
      .content {
        background-color: brown;
      }
    }
  }
}
