{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Link-as-button formatter</div>
    <div class="demo--content">
        {% for variant in [
            'primary',
            'secondary',
            'tertiary',
            'download'
        ] %}
            <div class="test-case {{ variant }}">
                <header>{{ variant|title }} variant</header>
                <div class="content">
                    {% include "@Test/field/formatter/link-as-button/test.html.twig" with {
                        value: {
                            title: 'Lorem ipsum'
                        },
                        settings: {
                            variant: variant
                        }
                    } only %}

                    {% include "@Test/field/formatter/link-as-button/test.html.twig" with {
                        value: {
                            title: 'Lorem ipsum dolor sit amet',
                        },
                        settings: {
                            variant: variant
                        },
                    } only %}

                    {% include "@Test/field/formatter/link-as-button/test.html.twig" with {
                        attributes: drupal_attribute({
                            target: '_blank'
                        }),
                        value: {
                            title: 'Open in new window',
                        },
                        settings: {
                            variant: variant
                        },
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
