{% include "@Src/field/formatter/link-as-button/link-formatter-button.html.twig" with {
    attributes: attributes ?? drupal_attribute(),
    title: value.title,
    url: value.url,
    variant: settings.variant,
    fake: settings.fake,
} only %}
