@import "./mixins";
@import "../../util/mixins";

.iheid--decorator--pillar {
  @include iheid--util--device-variants {
    @include iheid--decorator--pillar;
  }

  &--medium {
    @include iheid--util--device-variants {
      @include iheid--decorator--pillar(medium);
    }
  }
}