@import "./variables";
@import "../../util/functions";

@mixin iheid--decorator--pillar($variant: null) {
  $width: $iheid--decorator--pillar--width;

  @if ($variant == medium) {
    $width: $iheid--decorator--pillar--width--medium;
  }

  max-width: iheid--util--to-em($width);
}