{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Text-as-heading formatter</div>
    <div class="demo--content">
        {% for level in 1..6 %}
            <div class="test-case level">
                <div class="header">Level {{ level }}</div>
                <div class="content">
                    {% for variant in [null, 'uniform', 'bland'] %}
                        <div class="test-case variant">
                            {% if variant %}
                                <div class="header">{{ variant|title }} variant</div>
                            {% endif %}
                            <div class="content">
                                {% include "@Test/field/formatter/text-as-heading/test.html.twig" with {
                                    value: "Lorem ipsum dolor sit amet",
                                    settings: {
                                        level: level,
                                        variant: variant
                                    }
                                } only %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
