@import "../../../demo";
@import "test.scss";

.demo--field--formatter--text-as-heading {
  .test-case {
    &.level {
      > .content {
        padding: 10px;
      }

      .test-case {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
