{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">SoundCloud default formatter</div>
    <div class="demo--content">
            <div class="test-case">
                <div class="content">
                    {% include "@Test/field/formatter/soundcloud-default/test.html.twig" with {
                        value: {
                            url: 'https://soundcloud.com/the-bugle/bugle-179-playas-gon-play'
                        }
                    } only %}
                </div>
            </div>
    </div>
{% endblock %}
