{% set view_mode = view_mode('full', [
    field_group('view_group', {name: 'root', label: 'Root group', decorators: 'iheid--decorator--padding--rectangular--small----below-large iheid--decorator--padding--rectangular--large----beyond-medium'}, [
        formatted_field('title', 'hidden', 'text_as_heading', {
            level: 2,
            decorators: 'iheid--decorator--color--foreground--primary'
        }),
        formatted_field('body', 'hidden', 'raw_text', {
            decorators: 'iheid--decorator--margin--top--small'
        }),
    ]),
    formatted_field('field_editorial_content', 'hidden', 'rendered-entity', {
        view_mode: 'full',
        alternate_styling: 'classic'
    }),
    field_group('view_group', {name: 'secondary_content_group', label: 'Secondary content group', decorators: 'iheid--decorator--color--background--tertiary-dark iheid--decorator--color--foreground--tertiary-light'}, [
        formatted_field('field_secondary_content_title', 'hidden', 'text_as_heading', {
            level: 4,
            variant: 'bland',
            decorators: 'iheid--decorator--padding--medium iheid--decorator--alignment--center'
        }),
        formatted_field('field_secondary_content', 'hidden', 'rendered-entity', {
            view_mode: 'default',
            alternate_styling: 'inverted'
        }),
    ]),
]) %}

{% include "@Test/entity/node/landing-page/test.html.twig" with {
    view_mode: view_mode
} %}
