{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Block</div>
    <div class="demo--content">
        {% for test_case in data.test_cases %}
            <div class="test-case">
                <header>{{ test_case.title }}</header>
                <div class="content">
                    {% include "@Test/block/block/test.html.twig" with test_case.data only %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
