@import "../../../demo";
@import "context";
@import "../../../../src/layout/grid/mixins";

.demo--field--formatter--file-as-decorated-video {
  .row {
    @include iheid--layout--grid--row;
  }

  .cell {
    @include iheid--theme--device--medium() {
      @include iheid--layout--grid--column(50);
    }

    text-align: center;
    box-sizing: border-box;
  }

  .test-case {
    margin: 0;
  }
}
