{% set files = [] %}

{% set files = files|merge([{
    source_attributes: drupal_attribute({
        src: value.src,
        type: value.type
    }),
    file: file
}]) %}

{% include "@Src/field/formatter/file-as-decorated-video/index.html.twig" with {
    attributes: drupal_attribute(),
    files: files,
    decorations: settings.decorations
} only %}
