@import "../../demo";
@import "./test";

.demo--decorator--dimension {
  .test-case {
    &.width {
      .content {
        > div {
          height: 100%;
        }
      }
    }

    .content {
      height: 300px;

      > div {
        background: steelblue;
      }
    }
  }
}
