{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Dimension decorators</div>
    <div class="demo--content">
        {% for name in ['height', 'width'] %}
            {% for value in [
                'one-third',
                'half',
                'two-thirds',
                'full',
            ] %}
                <div class="test-case {{ name }}">
                    <header>{{ value|title }} {{ name }}</header>
                    <div class="content">
                        {% include "@Test/decorator/dimension/test.html.twig" with {
                            name: name,
                            value: value
                        } only %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
