{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Headings</div>
    <div class="demo--content">
        {% for level in 1..6 %}
            <div class="test-case level">
                <header>Heading {{ level }}</header>
                <div class="content">
                    <div class="test-case">
                        {% for alignment in ['left', 'center', 'right'] %}
                            <div class="content">
                                <div style="text-align: {{ alignment }};">
                                    {% include "@Test/theme/heading/test.html.twig" %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
