{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - items_layout: The name of the items layout.
 * - alternate_styling: Wheter to use an laternate styling or not.
 *
 *
 * @see template_preprocess_field()
 */
#}

{% macro layout_items(context, classes = []) %}
    {% set layout = context.items_layout %}
    {% set items = context.items %}

    {% if (layout == 'grid') %}
        <div class="field__items">
            {% for item in items %}
                {% set parity = (loop.index0 % 2 == 0) ? 'odd' : 'even' %}
                <div{{ item.attributes.addClass('field__item').addClass(classes).addClass(parity) }}>
                    <div class="inner">
                        {{ item.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% elseif (layout == 'slider') %}
        <div class="field__items slides">
            {% for item in items %}
                <div{{ item.attributes.addClass('field__item slide').addClass(classes) }}>{{ item.content }}</div>
            {% endfor %}
        </div>
        <div class="navigation-arrows"></div>
        <div class="navigation-dots"></div>
    {% elseif (layout == 'unordered_list') %}
        <ul class="field__items">
            {% for item in items %}
                {% set parity = (loop.index0 % 2 == 0) ? 'odd' : 'even' %}
                <li{{ item.attributes.addClass('field__item').addClass(classes).addClass(parity) }}>
                    <div>{{ item.content }}</div>
                </li>
            {% endfor %}
        </ul>
    {% elseif (layout == 'separated_list') %}
        <div class="field__items">
            {% for item in items %}
                {% set parity = (loop.index0 % 2 == 0) ? 'odd' : 'even' %}
                <span{{ item.attributes.addClass('field__item').addClass(classes).addClass(parity) }}>{{ item.content }}</span>
                {%- if not loop.last -%}
                    ,
                {%- endif -%}
            {% endfor %}
        </div>
    {% else %}
        <div class="field__items">
            {% for item in items %}
                {% set parity = (loop.index0 % 2 == 0) ? 'odd' : 'even' %}
                <div{{ item.attributes.addClass('field__item').addClass(classes).addClass(parity) }}>{{ item.content }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro field(context, supplementary_classes = [], item_classes = []) %}
    {% import _self as macros %}

    {% set classes = [
        'iheid--field',
        'iheid--field--name-' ~ context.field_name|clean_class,
        'iheid--field--type-' ~ context.field_type|clean_class,
        'iheid--field--label-' ~ context.label_display,
        'iheid--field--items-layout-' ~ (context.items_layout ?? 'none')|clean_class,
        context.alternate_styling ? 'iheid--field--alternate-styling--' ~ context.alternate_styling
    ]|merge(supplementary_classes) %}

    {% set title_classes = [
        'field__label',
        context.label_display == 'visually_hidden' ? 'visually-hidden',
    ] %}

    <div{{ context.attributes.addClass(classes) }}>
        {% if not context.label_hidden %}
            <div{{ context.title_attributes.addClass(title_classes) }}>{{ context.label }}</div>
        {% endif %}
        {{ macros.layout_items(context, item_classes) }}
    </div>
{% endmacro %}

{% import _self as macros %}

{{ macros.field(_context) }}
