@import "mixins";

.iheid--field {
  @include iheid--field;
}

.iheid--field--items-layout-slider {
  @include iheid--field--items-layout--slider;
}

.iheid--field--items-layout-grid {
  @include iheid--field--items-layout-grid;
}

.iheid--field--items-layout-unordered-list {
  @include iheid--field--items-layout-unordered-list;
}

.iheid--field--items-layout-separated-list {
  @include iheid--field--items-layout-separated-list;
}

.iheid--field--items-layout-spaced {
  @include iheid--field--items-layout-spaced;
}