@import "../../ui/slider/mixins";
@import "../../theme/device/mixins";
@import "../../layout/grid/mixins";
@import "../../theme/font/mixins";
@import "../../decorator/padding/mixins";
@import "../../theme/heading/mixins";
@import "../../decorator/margin/mixins";

@mixin iheid--field {
  .field__label {
    @include iheid--theme--heading--4(bland);
    @include iheid--decorator--padding(micro, bottom);
  }

  &--alternate-styling {
    &--natural {
      > .field__items {
        > .field__item {
          &.even {
            background-color: $iheid--theme--color--even-background;
          }
        }
      }
    }

    &--inverted {
      > .field__items {
        > .field__item {
          &.odd {
            background-color: rgba($iheid--theme--color--secondary-light, 0.08);
          }
        }
      }
    }
  }
}

@mixin iheid--field--items-layout--slider {
  @include iheid--ui--slider;
}

@mixin iheid--field--items-layout-unordered-list {
  @include iheid--theme--font--ui;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    > div {
      position: relative;
      padding-left: 0.75em;

      &:before {
        content: "\2022";
        left: 0;
        position: absolute;
        display: inline-block;
      }

      > div {
        &, &:before {
          vertical-align: middle;
        }
      }

      &, &:before {
        vertical-align: middle;
      }
    }
  }
}

@mixin iheid--field--items-layout-grid() {
  > .field__items {
    @include iheid--layout--grid--row;

    > .field__item {
      @include iheid--layout--grid--column(100);
      box-sizing: border-box;
      padding-bottom: 10px;

      @include iheid--theme--device--medium() {
        @include iheid--layout--grid--column(50);

        &.odd {
          padding-right: 12px;
        }

        &.even {
          padding-left: 12px;
        }
      }
    }
  }
}

@mixin iheid--field--items-layout-separated-list() {
  .field__item {
    display: inline-block;
  }
}

@mixin iheid--field--items-layout-spaced() {
  > .field__items {
    > .field__item {
      @include iheid--decorator--margin(small, bottom);

      @include iheid--theme--device--medium() {
        @include iheid--decorator--margin(medium, bottom);
      }
    }
  }
}