{#
/**
 * @file field--project-collaborator.html
 * Theme override for a project collaborator field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 * - positions: List of all the collaborator positions. Each position contains:
 *   - attributes: List of HTML attributes.
 *   - title: The title of the position in the form of a plain text.
 *   - collaborators: The collaborators belonging to the position in the form of a subset of the field items.
 * - variant: The variant name.
 * - color_scheme: The color scheme name.
 *
 * @see template_preprocess_project_collaborator_field()
 */
#}
{% set classes = [
    'iheid--field',
    'iheid--field--name-' ~ field_name|clean_class,
    'iheid--field--type-project-collaborator',
    'iheid--field--label-' ~ label_display,
    color_scheme ? 'color-scheme--' ~ color_scheme
] %}
{% set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
] %}
<div{{ attributes.addClass(classes) }}>
    {% if not label_hidden %}
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% endif %}

    {% set positionsCount = positions|length %}

    <div class="field__items positions {% if (positionsCount > 1) %}multiple{% endif %}">
        {% for position in positions %}
            <div{{ position.attributes.addClass('field__item position').addClass((loop.index0 % 2 == 0) ? 'odd' : 'even') }}>
                {% if position.title %}
                    <div class="title">{{ position.title }}</div>
                {% endif %}
                <div class="collaborators">
                    {% for collaborator in position.collaborators %}
                        <div class="collaborator">{{ collaborator.content }}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
