@import "./variables";
@import "../../../theme/heading/mixins";
@import "../../../layout/grid/mixins";
@import "../../../util/functions";
@import "../../../decorator/padding/mixins";

@mixin iheid--field--type--project-collaborator() {
  .positions {
    &:after {
      content: "";
      clear: both;
      display: block;
    }

    &.multiple {
      .position {
        @include iheid--theme--device--medium() {
          width: 50%;

          &.odd {
            padding-right: iheid--util--to-em($iheid--decorator--padding--micro / 2);
            float: left;
          }

          &.even {
            padding-left: iheid--util--to-em($iheid--decorator--padding--micro / 2);
            float: right;
          }
        }
      }
    }
  }

  .position {
    box-sizing: border-box;
    margin-bottom: 16px;
    display: inline-block;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    > .title {
      @include iheid--theme--heading--4;
      margin-bottom: 16px;
    }
  }

  .collaborator {
    margin-bottom: 2px;
    background-color: $iheid--theme--color--even-background;
  }

  &.color-scheme--light {
    .collaborator {
      background-color: $iheid--theme--color--secondary-light;
    }
  }
}