{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">Site map menu</div>
    <div class="demo--content">
        <div class="test-case">
            <div class="content">
                {% include "@Test/navigation/menu/site-map/test.html.twig" with data.menu only %}
            </div>
        </div>
    </div>
{% endblock %}
