@import "../../../ui/button/mixins";
@import "../../../form/input/submit/mixins";

@mixin iheid--entity--paragraph--type--newsletter() {
  text-align: center;

  // the following is totally shitty but the design enforce a very unique and non consistent form theme just for this paragraph
  .iheid--form--webform {
    .iheid--form--input {
      background-color: $iheid--theme--color--secondary-light;
    }

    .iheid--form--input--submit {
      @include iheid--ui--button;
      @include iheid--form--input--submit--width;
    }
  }
}