@import "../../../node_modules/bootstrap/scss/mixins/grid";

$grid-columns: 100;
$grid-gutter-width: 0;

@mixin iheid--layout--grid--row() {
  @include make-row();
}

@mixin iheid--layout--grid--column($size) {
  @include make-col($size);
}

@mixin iheid--layout--grid--column-offset($size) {
  @include make-col-offset($size);
}