@import "./variables";
@import "../../theme/color/variables";
@import "../../field/formatter/text-as-author/mixins";
@import "../../layout/grid/mixins";
@import "../../decorator/flex/mixins";
@import "../../theme/device/mixins";
@import "../../decorator/padding/mixins";

@mixin iheid--block--pillar-selector--highlighted-profile() {
  background-color: $iheid--theme--color--secondary-light;

  a {
    color: $iheid--theme--color--primary;
  }

  @include iheid--theme--device--medium() {
    background-color: transparent;

    a {
      background-color: $iheid--theme--color--primary;
      color: $iheid--theme--color--secondary-light;
      border-bottom: 3px solid $iheid--theme--color--secondary-light;
    }
  }
}

@mixin iheid--block--pillar-selector() {
  background-color: $iheid--theme--color--primary;
  @include iheid--decorator--padding--axis(nano, vertical);

  ul {
    margin: 0;
    padding: 0;
    width: 100%;

    @include iheid--theme--device--medium() {
      display: flex;
    }

    li {
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 50px;
      position: relative;
      @include iheid--decorator--padding--axis(nano, horizontal);

      @include iheid--theme--device--medium() {
        flex-direction: row;
        flex-grow: 1;
        height: 88px;
        align-items: center;
        @include iheid--decorator--padding--axis(none, horizontal);
      }

      &:before {
        content: "\2500\2500";
        color: $iheid--theme--color--secondary-light;
        font-family: monospace;
        position: absolute;
        right: 0;
        top: 0;
        left: 0;
        line-height: 1px;

        @include iheid--theme--device--medium() {
          content: "";
          position: relative;
          height: 15px;
          width: 1px;
          background-color: $iheid--theme--color--secondary-light;
          display: inline-block;
        }
      }

      &:first-child {
        &:before {
          display: none;
        }
      }

      &.active + li {
        &:before {
          display: none;

          @include iheid--theme--device--medium() {
            display: inline-block;
          }
        }
      }

      span {
        display: block;
        line-height: 50px;
        text-align: center;

        @include iheid--theme--device--medium() {
          width: 100%;
          line-height: 88px;
          box-sizing: border-box;
          @include iheid--decorator--padding--axis(nano, horizontal);
        }

        a {
          @include iheid--typography--ui;
          text-transform: uppercase;
          color: $iheid--theme--color--secondary-light;
          text-decoration: none;
          font-weight: 600;
          letter-spacing: 0.4px;
          font-size: 14px;
          display: inline-block;
          border-bottom: none;
          line-height: 1;

          @include iheid--theme--device--medium() {
            @include iheid--decorator--padding(micro, bottom);
          }
        }
      }

      &.active {
        span {
          @include iheid--block--pillar-selector--highlighted-profile;
        }
      }
    }
  }
}
