@import "./variables";
@import "../../../theme/typography/mixins";
@import "../../../theme/color/variables";

@mixin iheid--field--formatter--tear-off-calendar-sheet() {
  .frame {
    position: relative;
    display: table;
  }

  .date {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: $iheid--theme--color--secondary-light;
    height: 100%;
    font-weight: 600;
    @include iheid--typography--ui;

    .day {
      line-height: 70px;
      font-size: 70px;
      letter-spacing: 4.5px;
    }

    .day-of-the-week {
      font-size: 14px;
    }

    .month {
      font-size: 18px;
    }
  }
}