{% extends "@Test/demo.html.twig" %}

{% block body %}
    <div class="demo--title">YouTube default formatter</div>
    <div class="demo--content">
        {% include "@Test/field/formatter/youtube-default/test.html.twig" with {
            value: {
                video_id: data.video_id
            }
        } only %}
    </div>
{% endblock %}
